{% extends "dual-column.njk" %}

{% block lhsWidth %}style="width:40%;"{% endblock %}
{% block lhs %}
    <img src="/img/hypo/TeacherPointing.jpg" class="img-centered" />
{% endblock %}

{% block rhsWidth %}style="width:60%;"{% endblock %}
{% block rhs %}
    <p>
        "Now that you've seen how to set up your hypothesis by linking " +
        "concepts, let's go back to your original research question...",
    </p>
    <p class="student-rq>"></p>
{% endblock %}