{% extends "defPage70.njk" %}

{% block text2 %}
    <p>
        For example, being distracted while driving causes driving mistakes
        (because people’s attention is shifted away from what is happening
        on the road).
    </p>
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/comic.jpg" class="img-centered" />
{% endblock %}

{% block text3 %}
    <p>
        Or, the amount of caffeine someone drinks causes different amounts
        of alertness (because caffeine increases brain activity).
    </p>
{% endblock %}

{% block image2 %}
    <img src="/img/hypo/coffeegraphic.jpg" class="img-centered" />
{% endblock %}