{% extends "hypo/defs/defPage50.njk" %}

{% block image1 %}
    <img src="/img/hypo/defGraph.png" class="img-centered" />
{% endblock %}

{% block image2 %}
    <img src="/img/hypo/causeGraph.png" class="img-centered" />
{% endblock %}

{% block image3 %}
    <img src="/img/hypo/corrGraph.png" class="img-centered" />
{% endblock %}

