{% extends "defPage60.njk" %}

{% block text2 %}
    <p>
        Often, an “everyday” term is defined by the behaviors of
        molecules...
    </p>
    <p>
        For example, the concept of the “temperature” of
        an object is defined as the average kinetic energy of the
        molecules that make up the object.
    </p>
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/NewTemperatureRevised50.gif" class="img-centered" />
{% endblock %}