{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <p>
        For each connected pair of concepts (e.g. water temperature and
        Concept 1), you will be asked to indicate how the concepts are related.
    </p>
    <img src="/img/hypo/defPagesCptMap.jpg" class="img-centered" />

{% endblock %}