{% extends "hypo/defs/defPage80.njk" %}

{% block text2 %}
    <p>
        For example, let’s say you found that there is a relationship between
        how often students eat pizza and their grades in school. You don’t
        know why there would be, so you can call that relationship a
        “correlation” in your hypothesis.
    </p> 
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/correlation.png" class="img-centered" />
{% endblock %}

{% block graph1 %}
    <img src="/img/hypo/graph1.png" class="img-centered" />
{% endblock %}

{% block text3 %}
    <p>
        There is a correlation between the amount of ice cream people buy
        and how often people go swimming. But there’s no logical reason to
        think one caused the other!
    </p> 
{% endblock %}

{% block image2 %}
    <img src="/img/hypo/IceCreamSwimming.png" class="img-centered" />
{% endblock %}

{% block graph2 %}
    <img src="/img/hypo/graph2.png" class="img-centered" />
{% endblock %}