{% extends "defPage90.njk" %}

{% block text2 %}
    <p>
        For example, the relationship between how often students eat pizza
        and grades could be because both eating pizza and grades are caused
        by a third variable: how often they study.
    </p> 
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/causation_correlation.jpg" class="img-centered" />
{% endblock %}
