{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <p>
        Many middle school students have difficulty developing a good
        hypothesis for their prediction.
    </p>
    <p>
        For example, most middle school students have difficulty explaining how
        hot/room temperature water would lead to more crystal growth.
    </p>
    <p>
        ???
    </p>
    <img src="/img/hypo/iv2dvWithArrow.png" class="img-centered" />

{% endblock %}

