{% extends "hypo/defs/defPage80.njk" %}

{% block text2 %}
    <p>
        For example, let’s say you found that there is a relationship between
        how often students eat pizza and their grades in school. You don’t
        know why there would be, so you can call that relationship a
        “correlation” in your hypothesis.
    </p> 
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/correlation.png" class="img-centered" />
{% endblock %}

{% block graph1 %}
    <img src="/img/hypo/graph1.png" class="img-centered" />
{% endblock %}