{% extends "hypo/defs/defPage90.njk" %}

{% block text2 %}
    <p>
        For example, the relationship between how often students eat pizza
        and grades could be because both eating pizza and grades are caused
        by a third variable: how often they study.
    </p> 
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/causation_correlation.jpg" class="img-centered" />
{% endblock %}

{% block text3 %}
    <p>
        Or, the relationship between ice cream sales and how often people go
        swimming could be because both ice cream sales and swimming are
        caused by a third variable: temperature.
    </p>
{% endblock %}

{% block image2 %}
    <img src="/img/hypo/Picture_SunTempIcecream.jpg" class="img-centered" />
{% endblock %}