{% extends "dual-column.njk" %}

{% block lhsWidth%}style="width:40%;"{% endblock %}
{% block lhs %}
    <img src="/img/hypo/TeacherPointing.jpg" class="img-centered" />
{% endblock %}

{% block rhsWidth %}style="width:60%;"{% endblock %}
{% block rhs %}
    <p>
        In your notebook for this experiment.
    </p>
    <p>
        Make sure you have written your research question ...
    </p>
    <p class="student-rq">
    </p>
    <p>
        on the cover page of your notebook.
    </p>
{% endblock %}