---
table:
    header:
        className: set4
    data: [
        [10, 5],
        [8, 9],
        [11, 4],
        [7, 8],
        [6, 6]
    ]
stats:
    left:
        mean: 8.4
        median: 8
        mode: "n/a"
        range: 5
    right:
        mean: 6.4
        median: 6
        mode: "n/a"
        range: 5
---
{% extends "dipost/carResults.njk" %}
{#
images:
    sorted:   "img/car_posttest_1/T4_Post_sorted.jpg"
    unsorted: "img/car_posttest_1/T4_Post_unsorted.jpg"
 #}

{% block heading %} fourth {% endblock %}

