{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Ethan made a ramp. He started with the toy car with the thick wheels 
        from the rest at the top of the ramp and recorded how fast it was 
        moving at the bottom of the ramp. He did this five times. 
    </p>
    <p class="text-lg">
        Then he did the same thing with the toy car with thin wheels. <br/>
        He recorded the speed of this toy car at the bottom of the ramp five times.
    </p>
    <img src="img/car_posttest_1/2_Cars.jpg" class="img-centered" />
{% endblock %}

