{% extends "single-column.njk" %}

{% block content %}
    <h1><i>Student Learning Experiment</i></h1>
    <p class="text-lg">
        Taylor wanted to see whether people learn more if they study by 
        themselves at the library or home.     
    </p>
    <img src="img/library_posttest_2/S1_homelibrary.jpg" class="img-centered" />
{% endblock %}

