{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Taylor asked five friends to study for 1 hours at the library on their
         own. 
    </p>
    <img src="img/library_posttest_2/S2_Library.jpg" class="img-centered" />
{% endblock %}

