{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Next, we'll show you five different possible sets of results for this
        experiment. <br/>
        We will ask you to interpret each set of results. 
    </p>
    <p class="text-lg">
        You will see tables with the number of correct answers for each person. 
    </p>
    <img src="img/library_posttest_2/S5_Students.png" class="img-centered" />
{% endblock %}

