{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Then she asked five different friends to study for 1 hour at their own
        home. 
    </p>
    <img src="img/library_posttest_2/S3_Home.jpg" class="img-centered" />
{% endblock %}

