{% extends "results.njk" %}

{% import "forms.njk" as forms %}

{% set heading_prefix = "Below is the" %}
{% set heading_suffix = "set of possible results for each <u>height</u> the rocket traveled (in meters)." %}
{% set left_mean_btn_label = "Reveal Curved Mean" %}
{% set left_mean_label = "Curved Mean" %}
{% set right_mean_btn_label = "Reveal Straight Mean" %}
{% set right_mean_label = "Straight Mean" %}

{% block questions %}
    {{ forms.q1_form(page, isVert=false) }}
    {{ forms.q2_form(page, isVert=false) }}
    {{ forms.q3_form(page, isVert=false) }}
{% endblock %}

