{% extends "results.njk" %}

{% import "forms.njk" as forms %}

{% set heading_prefix = "Below is the" %}
{% set heading_suffix = "set of possible results for each <u>height</u> the rocket traveled (in meters)." %}
{% set left_mean_btn_label = "Reveal Curved mean" %}
{% set left_mean_label = "Curved mean" %}
{% set right_mean_btn_label = "Reveal Straight mean" %}
{% set right_mean_label = "Straight mean" %}

{% block questions %}
    {{ forms.q1_form(page, isVert=false) }}
    {{ forms.q2_form(page, isVert=false) }}
    {{ forms.q3_form(page, isVert=false) }}
{% endblock %}

{# 
    <form id="{{page.data.id}}_q1_form">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
#}
