$my_path: "/apps/hypo-we/";

@use "~@isptutorproject/isp-site-styles" with (
    $app_path: $my_path
);

/* start of app-specific css */
main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    font-size: 14pt;
    // border: solid #d6e9fc 40px;
}

.scene {
    height: 100%;
    width: 100%;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
}
.scene.active {
    display: block;
}

.vin-mya { content: url($my_path + "img/VIN_1.png"); }
.vin-joy { content: url($my_path + "img/VIN_2.png"); }
.vin-fin { content: url($my_path + "img/VIN_3.png"); }
.vin-tom { content: url($my_path + "img/VIN_4.png"); }
.vin-meg { content: url($my_path + "img/VIN_5.png"); }
.vin-joe { content: url($my_path + "img/VIN_6.png"); }
