{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <p>
        Just because two things are correlated does not mean that one caused
        the other. There may be other reasons for two variables to change
        together. For example, both variables may be caused by a third variable.
    </p>
    <div class="container">
        <div class="lhs">
            <div>
                {% block text2 %}{% endblock %}
            </div>
            <div>
                {% block image1 %}{% endblock %}
            </div>
        </div>
        <div class="rhs">
            <div>
                {% block text3 %}{% endblock %}
            </div>
            <div>
                {% block image2 %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}