<!doctype html>
<html>
    <head>
        <title>Algae</title>
        <style>
            div { display: inline-block; }
        </style>
    </head>
    <body>
        <div>
            <object id="img_left" width="400" data="./algae.svg"></object>
        </div>
        <div>
            <select id="left_temp">
                <option value="cool">Room Temperature</option>
                <option value="hot">Warm</option>
            </select>
            <br>
            <select id="left_music_exposure">
                <option value="constant">Constant Music</option>
                <option value="none">No Music</option>
            </select>
            <br>
            <select id="left_amt_co2">
                <option value="a_lot">A Lot</option>
                <option value="none">None</option>
            </select>
            <br>
            <select id="left_amt_sunlight">
                <option value="some">Some</option>
                <option value="none">None</option>
            </select>
            <br>
            <select id="left_tank_shape">
                <option value="cubic">Cubic</option>
                <option value="cylindrical">Cylindrical</option>
                <option value="spherical">Spherical</option>
                <option value="bubble">Bubble</option>
            </select>
            <br>
            <select id="left_amt_water">
                <option value="high">15 liters</option>
                <option value="med">10 liters</option>
                <option value="low">5 liters</option>
            </select>
            <br>
            <select id="left_tank_material">
                <option value="glass">Glass</option>
                <option value="plastic">Plastic</option>
                <option value="acrylic">Acrylic</option>
            </select>
            <br>
            <select id="left_music_type">
                <option value="jazz">Jazz</option>
                <option value="rock">Rock</option>
            </select>
            <br>
            <select id="left_volume">
                <option value="high">High</option>
                <option value="low">Low</option>
            </select>
        </div>
        <div>
            <select id="right_temp">
                <option value="cool">Room Temperature</option>
                <option value="hot">Warm</option>
            </select>
            <br>
            <select id="right_music_exposure">
                <option value="constant">Constant Music</option>
                <option value="none">No Music</option>
            </select>
            <br>
            <select id="right_amt_co2">
                <option value="a_lot">A Lot</option>
                <option value="none">None</option>
            </select>
            <br>
            <select id="right_amt_sunlight">
                <option value="some">Some</option>
                <option value="none">None</option>
            </select>
            <br>
            <select id="right_tank_shape">
                <option value="cubic">Cubic</option>
                <option value="cylindrical">Cylindrical</option>
                <option value="spherical">Spherical</option>
                <option value="bubble">Bubble</option>
            </select>
            <br>
            <select id="right_amt_water">
                <option value="high">15 liters</option>
                <option value="med">10 liters</option>
                <option value="low">5 liters</option>
            </select>
            <br>
            <select id="right_tank_material">
                <option value="glass">Glass</option>
                <option value="plastic">Plastic</option>
                <option value="acrylic">Acrylic</option>
            </select>
            <br>
            <select id="right_music_type">
                <option value="jazz">Jazz</option>
                <option value="rock">Rock</option>
            </select>
            <br>
            <select id="right_volume">
                <option value="high">High</option>
                <option value="low">Low</option>
            </select>
        </div>
        <div>
            <object id="img_right" width="400" data="./algae.svg"></object>
        </div>
        <br>
        <script>
            window.addEventListener("DOMContentLoaded", () => {


            });
        </script>
    </body>
</html>