<!doctype html>
<html>

<head>
    <title>Algae</title>
    <style>
        div.inline {
            display: inline-block;
        }

    </style>
</head>

<body>
    <div class="inline" style="width: 20%;">
    </div>
    <div class="inline" style="width: 60%">
        <table>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Condition 1</th>
                    <th>Condition 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Density of Object</th>
                    <td>
                        <select id="cond1__object_density">
                            <option value="" selected disabled></option>
                            <option value="lead">Higher</option>
                            <option value="glass">Lower</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__object_density">
                            <option value="" selected disabled></option>
                            <option value="lead">Higher</option>
                            <option value="glass">Lower</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Shape of Object</th>
                    <td>
                        <select id="cond1__shape">
                            <option value="" selected disabled></option>
                            <option value="tear">Tear shaped</option>
                            <option value="sphere">Sphere</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__shape">
                            <option value="" selected disabled></option>
                            <option value="tear">Tear shaped</option>
                            <option value="sphere">Sphere</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Density of Water</th>
                    <td>
                        <select id="cond1__water_density">
                            <option value="" selected disabled></option>
                            <option value="salt">High</option>
                            <option value="distilled">Low</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__water_density">
                            <option value="" selected disabled></option>
                            <option value="salt">High</option>
                            <option value="distilled">Low</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Volume of the Object</th>
                    <td>
                        <select id="cond1__object_volume">
                            <option value="" selected disabled></option>
                            <option value="lg">Larger</option>
                            <option value="sm">Smaller</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__object_volume">
                            <option value="" selected disabled></option>
                            <option value="lg">Larger</option>
                            <option value="sm">Smaller</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Container Type</th>
                    <td>
                        <select id="cond1__container_type">
                            <option value="" selected disabled></option>
                            <option value="cylinder_50">50 cm tall graduated Cylinder</option>
                            <option value="cylinder_10">10 cm tall graduated Cylinder</option>
                            <option value="jar_10">10 cm tall glass Mason jar</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__container_type">
                            <option value="" selected disabled></option>
                            <option value="cylinder_50">50 cm tall graduated Cylinder</option>
                            <option value="cylinder_10">10 cm tall graduated Cylinder</option>
                            <option value="jar_10">10 cm tall glass Mason jar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amt Water</th>
                    <td>
                        <select id="cond1__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full</option>
                            <option value="half">&frac12; Full</option>
                            <option value="quarter">&frac14; Full</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full</option>
                            <option value="half">&frac12; Full</option>
                            <option value="quarter">&frac14; Full</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inline" style="width: 20%">
    </div>
    <br>
    <div class="inline">
        <object id="cond1_img" width="500" data="./sinking.svg"></object>
    </div>
    <div class="inline">
        <object id="cond2_img" width="500" data="./sinking.svg"></object>
    </div>

    <script>
        let allSelectors, cond1, cond2, cond1Img, cond2Img, conds;
        conds = {};

        let object_density = ["lead", "glass"];
        let object_volume = ["sm", "lg"];
        let shape = ["tear", "sphere"];
        let amt_water = ["full", "half", "quarter"];
        let water_density = ["salt", "distilled"];
        let container_type = ["cylinder_50", "cylinder_10", "jar_10"];


        function getAllSelectors() {
            let all = [];
            for (let wd of water_density) {
                all.push(`water_density__${wd}`);
            }
            for (let ct of container_type) {
                all.push(`container_type__${ct}`);
            }
            for (let sh of shape) {
                for (let od of object_density) {
                    for (let ov of object_volume) {
                        all.push(`${sh}__${od}__${ov}`);
                    }
                }
            }
            for (let ct of container_type) {
                for (let wd of water_density) {
                    for (let aw of amt_water) {
                        all.push(`${ct}__${wd}__${aw}`);
                    }
                }
            }
            return all;
        }

        function getSelectorForProp(cond, prop) {
            return ("undefined" !== typeof(cond[prop])) ? `${prop}__${cond[prop]}` : null;
        }
        function getCompoundSelectorFromProps(cond, ...props) {
            if (props.every((i) => cond[i])) {
                let vals = props.map((p) => cond[p])
                return vals.join("__");
            }

            //     // console.log(prop);
            //     console.log(prop, cond[prop])
            // }
            return null;
        }

        function getSelectors(cond_name) {
            let cond = ("cond1" === cond_name) ? cond1 : cond2;
            let curr = [];
            for (let prop of ["water_density", "container_type"]) {
                curr.push(getSelectorForProp(cond, prop));
            }
            curr.push(getCompoundSelectorFromProps(cond, "shape", "object_density", "object_volume"))
            curr.push(getCompoundSelectorFromProps(cond, "container_type", "water_density", "amt_water"));

            // console.log(curr);
            let tmp = curr.filter((i) => i !== null);
            console.log(tmp);
            return tmp;

        }

        function renderImage(whichImage) {
            console.log(whichImage);
            let doc = ("cond1" === whichImage) ? conds.cond1 : conds.cond2;
            for (let sel of allSelectors) {
                // console.log(sel);
                let el = doc.getElementById(sel);
                // console.log(`i will hide ${!!el} => ${whichImage}.${sel}`);
                // el.classList.add("hidden");
                el.setAttribute("display", "none");
                // console.log(el);
            }
            let currPropValues = getSelectors(whichImage);
            for (let sel of currPropValues) {
                // console.log(`attempting to show ${sel}`);
                let el = doc.getElementById(sel);
                el.setAttribute("display", "block");
                // console.log(el);
                // el.classList.remove("hidden");
                // el.style.display = "block";
                // console.log(el.style);
            }
            // for (let sel of allSelectors) {
            //     let el = doc.getElementById(sel);
            //     console.log(el.id, el.getAttribute("display"), el);
            // }
        }

        function menuChanged(event) {
            let id = event.target.id;
            console.log(id);
            let cond = id.substring(0, 5);
            let prop = id.substring(7)
            let val = event.target.value;
            console.log(`condition: ${cond}  property: ${prop} changed to val: ${val}`);
            if ("cond1" === cond) {
                // console.log("BEFORE")
                // console.log(cond1);
                cond1[prop] = val;
                // console.log("AFTER");
                // console.log[cond1]
            } else {
                // console.log("BEFORE");
                // console.log(cond2);
                cond2[prop] = val;
                // console.log("AFTER");
                // console.log(cond2);
            }
            renderImage(cond);
        }

        window.addEventListener("DOMContentLoaded", () => {

            cond1 = {}; cond2 = {};
            allSelectors = getAllSelectors();
            console.log(allSelectors);

            cond1Img = document.getElementById("cond1_img");
            cond2Img = document.getElementById("cond2_img");

            cond1Img.addEventListener("load", (e) => {
                conds.cond1 = cond1Img.contentDocument;
            });
            cond2Img.addEventListener("load", (e) => {
                conds.cond2 = cond2Img.contentDocument;
            });

            // console.log("setting up event listeners...");
            for (let sel of document.querySelectorAll("select")) {
                sel.addEventListener("change", menuChanged);
            }
            // console.log("finished setting up event listeners");
            // console.log("cond1", cond1);
            // console.log("cond2", cond2);
        });
    </script>
</body>

</html>