<!doctype html>
<html>

<head>
    <title>Algae</title>
    <style>
        div.inline {
            display: inline-block;
        }

    </style>
</head>

<body>
    <div class="inline" style="width: 20%;">
    </div>
    <div class="inline" style="width: 60%">
        <table>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Condition 1</th>
                    <th>Condition 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Amount of CO<sub>2</sub></th>
                    <td>
                        <select id="cond1__amt_co2">
                            <option value="" selected disabled></option>
                            <option value="high_co2">High</option>
                            <option value="low_co2">Low</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_co2">
                            <option value="" selected disabled></option>
                            <option value="high_co2">High</option>
                            <option value="low_co2">Low</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Type of Sweetener</th>
                    <td>
                        <select id="cond1__sweetener_type">
                            <option value="" selected disabled></option>
                            <option value="aspartame">Aspartame</option>
                            <option value="sugar">Sugar</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__sweetener_type">
                            <option value="" selected disabled></option>
                            <option value="aspartame">Aspartame</option>
                            <option value="sugar">Sugar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amount of Caffeine</th>
                    <td>
                        <select id="cond1__amt_caffeine">
                            <option value="" selected disabled></option>
                            <option value="some">Some</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_caffeine">
                            <option value="" selected disabled></option>
                            <option value="some">Some</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Surface Texture of Mint</th>
                    <td>
                        <select id="cond1__mint_surface">
                            <option value="" selected disabled></option>
                            <option value="rough">Rough</option>
                            <option value="smooth">Smooth</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__mint_surface">
                            <option value="" selected disabled></option>
                            <option value="rough">Rough</option>
                            <option value="smooth">Smooth</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Bottle Type</th>
                    <td>
                        <select id="cond1__bottle_volume">
                            <option value="" selected disabled></option>
                            <option value="1l">1 Liter</option>
                            <option value="2l">2 Liter</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__bottle_volume">
                            <option value="" selected disabled></option>
                            <option value="1l">1 Liter</option>
                            <option value="2l">2 Liter</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Bottle Material</th>
                    <td>
                        <select id="cond1__bottle_material">
                            <option value="" selected disabled></option>
                            <option value="glass">Glass</option>
                            <option value="plastic">Plastic</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__bottle_material">
                            <option value="" selected disabled></option>
                            <option value="glass">Glass</option>
                            <option value="plastic">Plastic</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Water Type</th>
                    <td>
                        <select id="cond1__water_type">
                            <option value="" selected disabled></option>
                            <option value="distilled">Distilled</option>
                            <option value="salt">Salt</option>
                            <option value="tap">Tap</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__water_type">
                            <option value="" selected disabled></option>
                            <option value="distilled">Distilled</option>
                            <option value="salt">Salt</option>
                            <option value="tap">Tap</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amt Water</th>
                    <td>
                        <select id="cond1__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full</option>
                            <option value="half">&frac12; Full</option>
                            <option value="quarter">&frac14; Full</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full</option>
                            <option value="half">&frac12; Full</option>
                            <option value="quarter">&frac14; Full</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amount of Sweetener</th>
                    <td>
                        <select id="cond1__amt_sweetener">
                            <option value="" selected disabled></option>
                            <option value="212">212 mg</option>
                            <option value="500">500 mg</option>
                            <option value="990">990 mg</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_sweetener">
                            <option value="" selected disabled></option>
                            <option value="212">212 mg</option>
                            <option value="500">500 mg</option>
                            <option value="990">990 mg</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inline" style="width: 20%">
    </div>
    <br>
    <div class="inline">
        <object id="cond1_img" width="500" data="./soda.svg"></object>
    </div>
    <div class="inline">
        <object id="cond2_img" width="500" data="./soda.svg"></object>
    </div>

    <script>
        let allSelectors, cond1, cond2, cond1Img, cond2Img, conds;
        conds = {};

        let amt_co2 = ["low_co2", "high_co2"];
        let amt_water = ["full", "half", "quarter"];
        let bottle_volume = ["1l", "2l"];
        let bottle_material = ["plastic", "glass"];
        let sweetener_type = ["aspartame", "sugar"];
        let amt_caffeine = ["some", "none"];
        let amt_sweetener = ["212", "500", "990"];
        let mint_surface = ["rough", "smooth"];
        let water_type = ["distilled", "salt", "tap"];

        function getAllSelectors() {
            let all = [];
            bottle_volume.forEach((val) => all.push(`bottle_volume__${val}`));
            water_type.forEach((val) => all.push(`water_type__${val}`));
            mint_surface.forEach((val) => all.push(`mint_surface__${val}`));
            amt_sweetener.forEach((val) => all.push(`amt_sweetener__${val}`));
            bottle_material.forEach((val) => all.push(`bottle_material__${val}`));
            amt_caffeine.forEach((val) => all.push(`amt_caffeine__${val}`));
            sweetener_type.forEach((val) => all.push(`sweetener_type__${val}`));

            for (let co2 of amt_co2) {
                for (let aw of amt_water) {
                    for (let bv of bottle_volume) {
                        all.push(`${co2}__${aw}__${bv}`);
                    }
                }
            }
            return all;
        }

        function getSelectorForProp(cond, prop) {
            return ("undefined" !== typeof(cond[prop])) ? `${prop}__${cond[prop]}` : null;
        }
        function getCompoundSelectorFromProps(cond, ...props) {
            if (props.every((i) => cond[i])) {
                let vals = props.map((p) => cond[p])
                return vals.join("__");
            }

            //     // console.log(prop);
            //     console.log(prop, cond[prop])
            // }
            return null;
        }

        function getSelectors(cond_name) {
            let cond = ("cond1" === cond_name) ? cond1 : cond2;
            let curr = [];
            for (let prop of ["bottle_volume", "water_type", "mint_surface", "amt_sweetener", "bottle_material", "amt_caffeine", "sweetener_type"]) {
                curr.push(getSelectorForProp(cond, prop));
            }
            curr.push(getCompoundSelectorFromProps(cond, "amt_co2", "amt_water", "bottle_volume"));
            // let music_type, volume;
            // let music_exposure = `music_exposure__${cond.music_exposure}`;
            // console.log(cond, "temp", getSelectorForProp(cond, "temp"))
            // console.log(curr);
            let tmp = curr.filter((i) => i !== null);
            console.log(tmp);
            return tmp;

        }

        function renderImage(whichImage) {
            console.log(whichImage);
            let doc = ("cond1" === whichImage) ? conds.cond1 : conds.cond2;
            for (let sel of allSelectors) {
                let el = doc.getElementById(sel);
                if (!el) {
                    console.error(`error hiding ${whichImage}.${sel}`);
                    return;
                }
                el.setAttribute("display", "none");
            }
            let currPropValues = getSelectors(whichImage);
            for (let sel of currPropValues) {
                let el = doc.getElementById(sel);
                if (!el) {
                    console.error(`error displaying ${whichImage}.${sel}`);
                    return;
                }
                el.setAttribute("display", "block");
            }
        //     for (let sel of allSelectors) {
        //         let el = doc.getElementById(sel);
        //         console.log(el.id, el.getAttribute("display"), el);
        //     }
        }

        function menuChanged(event) {
            let id = event.target.id;
            console.log(id);
            let cond = id.substring(0, 5);
            let prop = id.substring(7)
            let val = event.target.value;
            console.log(`condition: ${cond}  property: ${prop} changed to val: ${val}`);
            if ("cond1" === cond) {
                cond1[prop] = val;
            } else {
                cond2[prop] = val;
            }
            renderImage(cond);
        }

        window.addEventListener("DOMContentLoaded", () => {

            cond1 = {}; cond2 = {};
            allSelectors = getAllSelectors();
            console.log(allSelectors);

            cond1Img = document.getElementById("cond1_img");
            cond2Img = document.getElementById("cond2_img");

            cond1Img.addEventListener("load", (e) => {
                conds.cond1 = cond1Img.contentDocument;
            });
            cond2Img.addEventListener("load", (e) => {
                conds.cond2 = cond2Img.contentDocument;
            });

            // console.log("setting up event listeners...");
            for (let sel of document.querySelectorAll("select")) {
                sel.addEventListener("change", menuChanged);
            }
            // console.log("finished setting up event listeners");
            // console.log("cond1", cond1);
            // console.log("cond2", cond2);
        });
    </script>
</body>

</html>