{% extends "di-prepost/single-column.njk" %}

{% block content %}
    <p class="text-xxl">
        Great Work! You're finished with this part.
    </p>
    <p class="text-xl">
        Click the "Home" button to return to your home page.
    </p>
    <p>
        <button type="button"
                id="go_home_btn"
                class="btn btn-huge btn-success">
            Home
        </button>
    </p>
{% endblock %}