---
images:
    sorted:   "/img/di/pretest/memory_pretest_1/Pre_T1_sorted.jpg"
    unsorted: "/img/di/pretest/memory_pretest_1/Pre_T1_unsorted.jpg"
means:
    left: 7
    right: 3
---
{% extends "dipre/memoryResults.njk" %}

{% block heading %} first {% endblock %}

