{% extends "single-column.njk" %}

{% block content %}
    <h3>
        Types of Relationships for Hypotheses
    </h3>
    
    <ol class="horiz">
        <li>Definition</li>
        <li>Cause</li>
        <li class="active">Correlation</li>
    </ol>

    <p>
        A relationship between two variables where both
        variables increase together, decrease together, or one increases
        as the other decreases. However, these variables may not directly 
        affect each other.
    </p>
    <div class="container">
        <div class="lhs">
            <div>
                {% block text2 %}{% endblock %}
            </div>
            <div>
                {% block image1 %}{% endblock %}
            </div>
            <div>
                {% block graph1 %}{% endblock %}
            </div>
        </div>
        <div class="rhs">
            <div>
                {% block text3 %}{% endblock %}
            </div>
            <div>
                {% block image2 %}{% endblock %}
            </div>
            <div>
                {% block graph2 %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}