{% extends "single-column.njk" %}

{% block content %}
    <h2>Types of Relationships for Hypotheses</h2>
    <ol class="horiz">
        <li>Definition</li>
        <li class="active">Cause</li>
        <li>Correlation</li>
    </ol>
    <p>
        One variable influences another variable or something directly 
        affects something else.
    </p>
    <div class="container">
        <div class="lhs">
            <div>
                {% block text2 %}{% endblock %}
            </div>
            <div>
                {% block image1 %}{% endblock %}
            </div>
        </div>
        <div class="rhs">
            <div>
                {% block text3 %}{% endblock %}
            </div>
            <div>
                {% block image2 %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}