{% extends "single-column.njk" %}

{% block content %}
    <h2>Types of Relationships</h2>
    <p class="text-xl">
        When you make your hypothesis, you will need to choose the type of
        relationship between pairs of concepts.
    </p>
    <p class="text-xl">
        Here are the three types
        of relationships you can choose from when you make your hypothesis:
    </p>
    <div class="container">
        <div class="col col-5">
            {% block image1 %}{% endblock %}
        </div>
        <div class="col col-2 text-xl">
            <ol>
                <li>Definition</li>
                <li>Cause</li>
                <li>Correlation</li>
            </ol>
        </div>
        <div class="col col-5">
            {% block image3 %}{% endblock %}
        </div>
    </div>
    <div>
        {% block image2 %}{% endblock %}
    </div>
{% endblock %}