{% extends "di-prepost/single-column.njk" %}

{% block content %}

    <h1>Introduction to data interpretation questions</h1>

    <p class="text-xl">
        Now, we will interpret some results. We'll show you two different
        scenarios:
    </p>

    <p class="text-xl">
        Testing students' memories and Launching Rockets.
    </p>

    <p class="text-xl">
        For each scenario, we will as you to interpret 5 different sets of
        possible results.
    </p>

    <p class="text-xl">
        OK, let's start!
    </p>

    <br/>

{% endblock %}