{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        After one minute was up, each friend write down all of the words or
        picture they could remember.
    </p>

    <p class="text-xl">
        (Chris gave them all one minute to do that.)
    </p>

    <br/>

    <img src="img/memory_pretest_1/S5_ComMemoryGroups.jpg"
         class="img-centered" />

    <br/>

{% endblock %}