---
tables:
    left:
        header:
            className: set5
        data: [
            [Alan, 4],
            [Jen, 1],
            [Tom, 9],
            [Ian, 8],
            [Liz, 5]
        ]
    right:
        header:
            className: set5
        data: [
            [Meg, 1],
            [Mya, 5],
            [Joy, 10],
            [Joe, 7],
            [Fin, 6]
        ]
stats:
    left:
        mean: 5.4
        median: 5
        mode: "n/a"
        range: 8
    right:
        mean: 5.8
        median: 6
        mode: "n/a"
        range: 9
---
{% extends "di-prepost/dipre/memoryResults.njk" %}
{#
images:
    sorted:   "img/memory_pretest_1/Pre_T5_sorted.jpg"
    unsorted: "img/memory_pretest_1/Pre_T5_unsorted.jpg"
 #}
{% block heading %} last {% endblock %}

