{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        Chris asked each of his 5 friends to study the cards with words for
        one minute on their own.
    </p>

    <br/>

    <img src="img/memory_pretest_1/S2_MemoryGroup.jpg"
         class="img-centered" />

    <br/>

{% endblock %}