---
tables:
    left:
        header:
            className: set5
        data: [
            [1, 24],
            [2, 20],
            [3, 21],
            [4, 27],
            [5, 30]
        ]
    right:
        header:
            className: set5
        data: [
            [1, 19],
            [2, 22],
            [3, 25],
            [4, 28],
            [5, 18]
        ]
stats:
    left:
        mean: 24.4
        median: 24
        mode: "n/a"
        range: 10
    right:
        mean: 22.4
        median: 22
        mode: "n/a"
        range: 10
---

{% extends "dipre/rocketsResults.njk" %}
{#
images:
    sorted:   "img/rockets_pretest_2/Pre_T10_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T10_unsorted.jpg"
 #}

{% block heading %} last {% endblock %}