---
tables:
    left:
        header:
            className: set3
        data: [
            [1, 28],
            [2, 12],
            [3, 20],
            [4, 25],
            [5, 15]
        ]
    right:
        header:
            className: set3
        data: [
            [1, 23],
            [2, 28],
            [3, 33],
            [4, 20],
            [5, 36]
        ]
stats:
    left:
        mean: 20
        median: 20
        mode: "n/a"
        range: 16
    right:
        mean: 28
        median: 28
        mode: "n/a"
        range: 16
---

{% extends "dipre/rocketsResults.njk" %}
{#
images:
    sorted:   "img/rockets_pretest_2/Pre_T8_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T8_unsorted.jpg"
#}


{% block heading %} third {% endblock %}