{% extends "single-column.njk" %}

{% block content %}
    <h1>Module Rocket Launches Experiment</h1>
    <p class="text-lg">
        Sophia wanted to see whether model rockets fly better with a curved 
        body or a straight body. She built two rockets: one with a curved body 
        and one with a straight body. But everything else about the rockets was 
        the same. 
    </p>

    <img src="img/rockets_pretest_2/RocketScene1.jpg" class="img-centered" />

{% endblock %}