{% extends "di-prepost/single-column.njk" %}

{% block content %}
    <p class="text-xl">
        Next we'll show you 5 different possible sets of results of this
        experiment. We will ask you to interpret each set of results...
    </p>
{% endblock %}