<nav class="navbar">
    <div class="navbar-items navbar-lhs">
        <img src="img/site/icon.jpg" width="36" />
        <div class="navbar-text">ISP Tutor</div>
        <div id="activity_title" class="navbar-text text-primary"></div>
    </div>
    <div class="navbar-items navbar-center invisible"></div>
    <div class="navbar-items navbar-rhs">
        <button class="navbar-btn btn btn-sm btn-info" id="glossary">
            GLOSSARY
        </button>
        <button class="navbar-btn btn btn-sm btn-success" id="sign_out_button">
            SIGN OUT
        </button>
        <div id="sign_in_text" class="navbar-text"></div>
    </div>
</nav>