<nav class="navbar">
    <div class="navbar-items lhs">
        <div class="brand"><img src="/img/icon.jpg" width="36" /> ISP Tutor</div>
    </div>
    <div class="navbar-items center">
        <div id="module_title">Module title goes here</div>
        <div id="module_section">: optional Module section/page title</div>
    </div>
    <div id="user_info_region" class="navbar-items rhs invisible">
        {# <div id="sign_out_region"> #}
        <button class="button btn-sm nav-btn" id="sign_out_button">
            Sign Out
        </button>
        {# </div> #}
        <div id="sign_in_text"></div>
    </div>
</nav>