
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        How can we tell whether the independent variable <b><i><u>really
        did</u></i></b> cause the difference?
    </p>

    <p class="text-lg">
        For example, how can we know that our results really do show that <br>
        cold water makes crystals grow more than hot water (or the reverse)?
    </p>

{% endblock %}

