{% extends "di-instr/single-column.njk" %}

{% block content %}

   
    <p class="text-l">
        Some experimenter and random factors that can cause different weights (of salt growth on strings) across trials are shown in the picture. How many can you find?
    </p>

    <br>

    <img src="/img/di-instr/1_Intro/Scientist_S7.jpg" class="img-centered", width="600" />

    {# <br/> #}

    



{% endblock %}