{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Data Interpretation Lesson Introduction</h1>

    <p class="text-xl">
        Once we have conducted a good experiment, where we have controlled
        all variables except our independent variable, we need to interpret
        the results.<br><br>
    </p>

    <br/>

{% endblock %}