{% extends "di-instr/single-column.njk" %}

{% block content %}

    <div class="text-xl">
        When interpreting experimental results, many students find any
        difference in mean across conditions and conclude that the
        independent variable they are testing caused the difference.
    </div>

    <p class="text-lg">
        But this may not be true!
    </p>

{% endblock %}