
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <div class="text-xl">
        How can we tell whether the independent variable <b><i><u>really
        did</u></i></b> cause the difference?
    
</div>

<br>
    <div class="text-lg">
        For example, how can we know that our results really do show that
        cold water makes crystals grow more than hot water (or the reverse)?
    </div>
    
    <br><br>
    

{% endblock %}

