{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        The mean (or average) weights differ between the first and second sets
        of 5 trials.
    </p>

    <br/>

    <img src="/img/di-instr/1_Intro/Graph_S9-16.png" class="img-centered", width=700 />

    <br/>

{% endblock %}