{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-l">
        <b>(2) Other random factors:</b> Differences in results caused by
        things the experimenter can’t control, including...<br>

        <ul class="centeredw text-l"> 
        <li>changes in temperature or humidity of
        the room, differences in air flow (for example, if someone opens a window or turns on a
        fan in the middle of the experiment).</li>
        <li>problems with devices used to measure results (for example,
        the weight the scale gives depends on where the crystal is placed on
        the scale).</li></ul>

    <p>

    {# <br/> #}

    <img src="/img/di-instr/1_Intro/Scientist_S7_rev.jpg" class="img-centered", width="600" />

    {# <br/> #}

    
{% endblock %}