{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        In this lesson, we will discuss how we can be more sure that there
        really is a difference between conditions that is caused by the independent variable when the <b><u>difference in means
        between conditions</u></b> is bigger and less sure when the difference is smaller.
    </p>

    <br/>

    <img src="/img/di-instr/1_Intro/Graph_S9-16.png" class="img-centered", width=700 />

    <br/>

{% endblock %}