{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        For example, for these two (hot water) conditions, the difference in
        means is 28 mg - 25 mg. <br>So, this is a 3 mg difference (it’s pretty small, compared to the means).
    </p>

  
{% endblock %}

{% block tables %}

    <br/>

    <img src="/img/di-instr/1_Intro/Graph_S9-16.png" class="img-centered", width="700" />

    <br/>

{% endblock %} 