{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/43_Diagram_S98-100.png" class="img-centered" />

    <br/>

    <p class="text-l">
        Results D are stronger evidence that water temperature affects crystal
        growth.
    </p>

    <br/>
    <br><br><br>

{% endblock %}
