{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        They followed similar procedures:
    </p>
    <p class="text-l">
        <li>They both compared the weight of crystal growth from using <b>salt</b> compared to using <b>sugar</b>.</li>
        <li>They both used the same water temperature for both conditions.</li>
        <li>They also used the same initial amount of water
        for both conditions.</li>
    </p>

    <p class="text-l">
        After they finished their experiment, they both showed you the mean
        for each condition...
    </p>

    <br/>

{% endblock %}