
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        We also talked about calculating the mean (or average) for each
        condition. This is often the best way to summarize your data in each
        condition.
    </p>

    <p class="text-xl">
        Then you can see which condition (for example, Hot or Cold) has a higher mean.
    </p>

    <p class="text-xl">
        But, we need to look at other evidence before interpreting the results..
    </p>

    <br/>

{% endblock %}