{% extends "di-instr/single-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block content %}

    <img src="/img/di-instr/45_Graph_S104.png" class="img-centered", width=800 />

    {# <br/> #}

    <p class="text-l">
        {{ page.data.question.text | safe}}
    </p>

    {{ forms.radios_form(page, isVert=true) }}

    {# <br/> #}

{% endblock %}