---
heading: "Results A: Hot (A) and Cold (A) conditions"
---

{% extends "di-instr/dual-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block lhs %}
    <img src="/img/di-instr/24_GraphS57-59.png" class="img-centered" />
{% endblock %}

{% block rhs %}

    <p class="text-xl">
        {{ page.data.question.text }}
    </p>

    {{ forms.radios_form(page, isVert=true) }}

{% endblock %}

