{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        They followed similar procedures:
    </p>


<ol class="centered">
        <li class="text-lg">
            They both compared the weight of crystal growth from using <b>salt</b> compared to using <b>sugar</b>.
        </li>
        <br>
        <li class="text-lg">
            They both used the same water temperature for both conditions.
        </li>
        <br>
        <li class="text-lg">
            They also used the same initial amount of water
        for both conditions.
        </li>
    </ol>

    <br>
    
    <p class="text-l">
        After they finished their experiment, they both showed you the mean
        for each condition...
    </p>

    <br/>
    <br><br><br>

{% endblock %}