{% extends "di-instr/single-column.njk" %}

{% block content%}

    <p class="text-xl">
        Here are some POSSIBLE Results (#1) for the crystal growth experiment.
        <br>The numbers in the table below are weights of the crystal growth on a
        string in water after 2 weeks.
    </p>

    <br/>

    <img src="/img/di-instr/1_DITable2-6.png" class="img-centered", width=400 />

    <br/>

    <p class="text-xl">
        Please look closely at the data in the table.
    </p>

    <br/>

{% endblock%}

