{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>
        Results: weight of crystal growth
    </h1>

    <img src="/img/di-instr/13_Table_S38-39.png" class="img-centered", width=500 />

    <p class="text-lg">
        There is a larger difference in means between the Hot and Cold#1
        condition. So, the Cold#1 <br/>
        results are stronger evidence that water temperature affects crystal
        growth. Because this <br/>
        difference is larger, it is less likely to have been caused by
        experimenter or random errors.
    </p>

{% endblock %}