
{% extends "di-instr/dual-column.njk" %}

{% block heading %}

<h1>(6) Considering the range of data</h1>

{% endblock %}

{% block lhs %}
    <img src="/img/di-instr/24_GraphS57-59.png" class="img-centered" height="500"/>
{% endblock %}


{% block rhs %}

    <br><p class="text-xl">
        The mean crystal growth weight is greater in the hot than the cold
        water condition.
    </p>

    <p class="text-xl">
        So, these results suggest crystals may grow more in the hot water.
    </p>

{% endblock %}

