{% extends "di-instr/single-column.njk" %}

{% block content %}

<h1>Summary: Interpreting your data</h1>

  <div class="list-wrapper">      
        <ul class="centeredw text-l"> 
        
            <li>

                Then you can consider the (#3) amount of Spread (or range) of data to determine how sure
                you are that the independent variable caused a difference between conditions.
            </li>
                <br/>
            <li>
                <span class="text-primary">
                    For a given difference in means, the LESS spread out the data are, the MORE sure you can be
                    that the variable you are investigating makes a difference.
                </span>
            </li>
        </ul>
    </div>

    <br/>

    <img src="/img/di-instr/50_Graph_S112.png" class="img-centered" />

    <br><br>
{% endblock %}