{% extends "di-instr/single-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block content %}

  

  <img src="/img/di-instr/27_ABTable_S71.png" class="img-centered" height="350"/>



  <p class="text-l">
    {{ page.data.question.text }}

    </p>

  <p class="text-md">
    (Hint: Look at the ranges of the salt weights in each condition.)
  </p>

  {{ forms.radios_form(page, isVert=false) }}

  <br/>

{% endblock %}