{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/36_GraphicS_89.jpg" class="img-centered" />


    <p class="text-l">
        We will now look at the results (Results C and D) from two other
        students who conducted<br/>
        this experiment (Carol and Dwayne).
    </p>

    <p class="text-l">
        We will look at their data tables, which they have already sorted from
        lowest to <br/>
        highest weight in each condition...
    </p>

    <br/>

{% endblock %}

