{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>(1) Organize data</h1>

    <img src="/img/di-instr/1_DITable2-6.png" class="img-centered", width=400 />

    <br>

    <p class="text-xl">
        OK; please take a moment to think about how we can organize the data in
        each condition. 
    </p>

    <br/>

{% endblock %}