
{% extends "di-instr/single-column.njk" %}

{% block heading %}

<h1>(6) Considering the range of data</h1>

{% endblock %}

{% block content %}

    <p class="text-xl">
        Another student, Bob, also conducted this experiment to investigate
        the effect of water temperature on salt crystal growth on a string.
        We’ll call Bob’s results “Results B”.
    </p>

    <p class="text-xl">
        Let’s look at Results B...
    </p>

    <br/>

{% endblock %}