{% extends "di-instr/single-column.njk" %}

{% block content %}

   

    <p class="text-l">
       That's all, folks! We hope you found this lesson helpful!
    </p>

    <br/>

    

{% endblock %}