
{% extends "di-instr/dual-column.njk" %}

{% block heading %}

<h1>(6) Considering the range of data</h1>

{% endblock %}

{% import "di-instr/forms.njk" as forms %}

{% block lhs %}

    <br/>

    <p class="text-l">
        {{ page.data.question.text }}
    

    {{ forms.radios_form(page, isVert=true) }}

    </p>

{% endblock %}


{% block rhs %}
    <img src="/img/di-instr/25a_GraphS62.png" class="img-centered" height="500"/>
{% endblock %}

