
{% extends "di-instr/single-column.njk" %}

{% block heading %}

<h1>(6) Consider the range of data</h1>

{% endblock %}

{% block content %}

    <p class="text-lg">
        We’ll compare these two sets of results (Results A and B). 
    </p>

<p class="text-lg">
    The difference in means between the hot and cold conditions for Results A (30 mg - 12 mg = 18 mg) is the same as for Results B. 
   
</p>

<img src="/img/di-instr/27_ABTable_S71.png" class="img-centered" height="250"/>

<p class="text-lg">
    
    So, we can't say which set of results is stronger evidence that temperature affects weight of crystal growth based on means alone.
</p>

<br>

{% endblock %}
