---
heading: "Results B:"
---

{% extends "di-instr/dual-column.njk" %}

{% block lhs %}

    <br/>

    <p class="text-l">
        The mean crystal growth weight is greater in the hot than in the
        cold water condition.
    </p>

    <p class="text-l">
        So, these results (again) suggest that crystals may grow more in
        the hot water.
    </p>

{% endblock %}


{% block rhs %}
    <img src="/img/di-instr/25a_GraphS62.png" class="img-centered" />
{% endblock %}

