
{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block lhs %}
    <img src="/img/di-instr/5_TableS29.jpg" class="img-centered" />
{% endblock %}

{% block rhs %}

    <p class="text-lg">
        The mean is calculated as the sum of the numbers divided by the number
        of numbers:
    </p>

    <p class="text-lg">
       <code>
        (20 + 27 + 30 + 32 + 41) / 5<br/>
        = 150 / 5<br/>
        = 30
        </code>
    </p>

    <p class="text-lg">
        So, the mean weight for the Hot water condition is 30 mg.
    </p>

{% endblock %}
