{% extends "di-instr/single-column.njk" %}

{% block content %}

<h1>Summary: <b>Representing</b> and Interpreting your data</h1>

    <p class="text-xl">(2) Identifying outliers using histograms. </p>

    <p class="text-xl">One way to easily identify outliers is through histograms. <br>A possible outlier in the histogram is circled. </p>
<br>

    <img src="/img/di-instr/21_Histograms50a_rev.jpg" class="img-centered", width=400 />

{% endblock %}