{% extends "single-column.njk" %}

{% block content %}

    <img src="img/33_Graphic_S77.jpg" class="img-centered" />

    <br/>

    <p class="text-l">
        Another possible reason that the Results A (Ann’s) data are less
        spread out <br>is that Ann measured the results (the weight of the crystal
        growth) more carefully than Bob did.
    </p>

    <br/>

{% endblock %}
