{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/41_CDTable_S95.png" class="img-centered" height="450"/>

    <br/>
<br>

    <p class="text-l">
        So, the range or spread of Results D is less than for Results C in both
        conditions.
    </p>

    <br/>

{% endblock %}
