{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/37_CDTable_S90-91.png" class="img-centered" />



    <p class="text-l">
        Results D are (much!) less spread out-or have a smaller range-than
        Results C.
    </p>

    <br/>

{% endblock %}
