{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1> (4) Comparing means across conditions</h1>

    <img src="/img/di-instr/14_S40.png" class="img-centered" />

    <p class="text-l">
        OK. Let’s say we ran more trials in the cold water condition (Cold#3)
        and got the results shown above.
    </p>

    <br/>

{% endblock %}