{% extends "di-instr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        Let’s answer the same question, looking at the number data (instead
        of the histograms).
    </p>

    <p class="text-xl">
        This gives us a more accurate measure of the range.
    </p>

    <br/>

{% endblock %}
