---
heading: "Results A: Hot (A) and Cold (A) conditions"
---
{% extends "dual-column.njk" %}

{% block lhs %}
    <img src="img/24_GraphS57-59.png" class="img-centered" />
{% endblock %}


{% block rhs %}

    <br><p class="text-xl">
        The mean crystal growth weight is greater in the hot than the cold
        water condition.
    </p>

    <p class="text-xl">
        So, these results suggest crystals may grow more in the hot water.
    </p>

{% endblock %}

