
{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block heading %}
        {% if heading%}
        <h1> Interpreting our data...</h1>
        {% endif %}
    {% endblock %}

{% block lhs %}
    <img src="/img/di-instr/7_Table_S31b.jpg" class="img-centered" height="300"/>
{% endblock %}

{% block rhs %}

   
          <p class="text-lg">

We'll talk about three sources of information you can use to answer your research question:

     </p>

     <ol class="left">
        <li class="text-lg">
            Comparing means across conditions.
        </li>
        <br>
        <li class="text-lg">
            Considering the size of the difference in means.
        </li>
        <br>
        <li class="text-lg">
            Considering the range (or spread) of your data.
        </li>
    </ol>

{% endblock %}
