
{% extends "di-instr/stats.njk" %}

{% import "di-instr/link.njk" as link %}

{% block rhs %}

    <h1>
        What is the <u>median</u> value?
    </h1>

    <p class="text-xl">
        Then we’d move down from the top and up from the bottom.
    </p>

    <p class="text-centered">
        {{ link.followEdge(page, "back", "back") }} &nbsp;
        {{ link.followEdge(page, "more", "more") }}
    </p>

{% endblock %}
