{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        We have talked about how it’s important to (1) <b>Organize</b> data by sorting from
        smallest to largest.
    </p>

    <p class="text-xl">
        This helps us to (2) <b>Check</b> data for outliers.
    </p>

    <p class="text-xl">
       “Outliers” are data that are much bigger or
        smaller than the rest of the data in a condition.
    </p>

    <br/>

{% endblock %}