{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>(1) Organize data</h1>

    <img src="/img/di-instr/1_DITable2-6.png" class="img-centered", width=400 />

    <p class="text-xl">
        OK; let’s first think about how we can organize and summarize the data in
        each condition. <br>Then, we can interpret the results of this experiment.
    </p>

    <br/>

{% endblock %}