{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary: Interpreting your data</h1>

   {#  <div class="list-wrapper">   #}
        <ul>
            <li>
                (#1) When interpreting your data, first compare the means across conditions to see whether the results are in the direction you predicted. 
                </li>
        <br>
                <li>
                <span class="text-primary">
                For example, say you predicted the weight of the salt would be higher for cold water. The mean weight for cold water should be higher to be consistent with your prediction.
                <span>
                </li>
                <br>
                <br>



{% endblock %}