
{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block heading %}
        {% if heading%}
        <h1> Interpreting our data...</h1>
        {% endif %}
    {% endblock %}

{% block lhs %}
    <img src="/img/di-instr/7_Table_S31b.jpg" class="img-centered" height="300"/>
{% endblock %}

{% block rhs %}

   
     <p class="text-lg">

Now we can start interpreting our data. In particular, we want to see what the data "say" about the answer to our research question: "Does the water temperature affect the weight of salt growth after two weeks?"

     </p>

     
{% endblock %}
