{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1> (5) Size of difference in means</h1>

    <img src="/img/di-instr/15_S41-43.png" class="img-centered" />

    <br/>

    <p class="text-l">
        The mean crystal growth weight is now greater in the COLD than in the
        hot water condition<br/> (by 18 mg).
    </p>

    <p class="text-l">
        So, these results suggest that crystals may grow more in cold water.
    </p>

    <br/>

{% endblock %}