
{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block heading %}
        {% if heading%}
        <h1> (3) Summarize data by calculating mean</h1>
        {% endif %}
    {% endblock %}

{% block lhs %}
    <img src="/img/di-instr/7_Table_S31b.jpg" class="img-centered" height="300"/>
{% endblock %}

{% block rhs %}

    <p class="text-lg">

    OK! We have prepared our data by: (1) sorting our data in each condition, (2) checking for outliers, and (3) summarizing data in each condition by calculating means. 
    </p>

     <p class="text-lg">

Now we can start interpreting our data. In particular, we want to see what the data "say" about the answer to our research question: "Does the water temperature affect the weight of salt growth after two weeks?"

     </p>

{% endblock %}
