{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/48_Graph_S108-S110.png" class="img-centered", width=900 />

    {# <br/> #}

    <p class="text-l">
        There is less spread in Franki’s data. <br>So, her results, which show that
        salt grew better than sugar, are more likely to be true.
    </p>

    <br/>

{% endblock %}