{% extends "di-instr/wgtCrysGrowth.njk" %}


{% block rhs %}

    <p class="text-lg">
        Using the mean (or average) is often the best way to represent all
        data in each condition.
    </p>

    <p class="text-lg">
        Means take into account the value of each of the data points in the
        condition. So means include the most information that is available.
    </p>

{% endblock %}
