{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>#2: Spread (or range) of data</h1>

    <div class="list-wrapper">
        <ul class="centered text-l">
            <li>
                The amount of spread of the data for each condition is another
                characteristic:<br/>
                <span class="text-primary">
                    The LESS spread out the data are, the MORE sure you can be<br/>
                    that the variable you are investigating makes a difference.
                </span>
            </li>
        </ul>
    </div>

    <br/>

    <img src="/img/di-instr/50_Graph_S112.png" class="img-centered" />

    <br/>

{% endblock %}