
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>
        Results: weight of crystal growth
    </h1>

    <img src="/img/di-instr/10_S34.png" class="img-centered", height="300" />

    <p class="text-l">
        Ok. Let's say we ran the cold water condition again.
    </p>

    <p class="text-l">
        Let's call it Cold#2 condition... and we get another set of results (circled above).
    </p>

    <br/>

{% endblock %}