{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

  <p class="text-xl">
    Let’s answer the same question, looking at the number data (instead of the
    histograms)...
  </p>

  <img src="img/27_ABTable_S71.png" class="img-centered" />



  <p class="text-xl">
    {{ page.data.question.text }}

    </p>

  <p class="text-md">
    (Hint: Look at the ranges of the salt weights in each condition.)
  </p>

  {{ forms.radios_form(page, isVert=false) }}

  <br/>

{% endblock %}