{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>(5) Size of difference in means</h1>

    <img src="/img/di-instr/13_Table_S38-39.png" class="img-centered", height="375" />

    <p class="text-lg">
        The difference in means between the hot and cold water condition is
        less than it was before.
    </p>

    <p class="text-lg">
        Before (comparing the Hot#1 and Cold #1), the difference was 18 mg
        (30-12). <br/>
        Now (Hot#1 vs. Cold#2) the difference is 8 mg (30-22).
    </p>

{% endblock %}