{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/38_CDTable_S92.png" class="img-centered", height="375" />

<br>

    <p class="centered text-l">Looking at the Hot conditions first...

    <div class="list-wrapper">
        <ul class="centered text-l">
        
            <li>
                The data for Results C ranges from 9 mg to 44 mg: 35 mg.
            </li>
            <li>
                The data for Results D ranges from 23 mg to 28 mg: only 5 mg.
            </li>
        </ul>
    </div>

   </p>

{% endblock %}