{% extends "di-instr/single-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block content %}

    <img src="/img/di-instr/37_CDTable_S90-91.png" class="img-centered" />



    <p class="text-xl">
        {{ page.data.question.text }}
    </p>

    {{ forms.radios_form(page, isVert=false) }}

    <br/>

{% endblock %}
