{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>(2) Identifying outliers using histograms. </h1>

    <p class="text-xl">One way to easily identify outliers is through histograms. The outliers in the histograms are circled. </p>
<br><br>

    <img src="/img/di-instr/21_Histograms50a.jpg" class="img-centered", width=800 />

{% endblock %}