{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block heading %}
        {% if heading%}
        <h1> (3) Summarize data by calculating mean</h1>
        {% endif %}
    {% endblock %}

{% block lhs %}
    <img src="/img/di-instr/1a_Table3_S7_nocircle.jpg" class="img-centered", height="300" />
 {% endblock %}


{% block rhs %}

    <p class="text-lg">
        But to use means, you first need to make sure that there are no outliers in your data. We already did this, so we don't have to worry about 
        that here.
    </p>

    <p class="text-lg">
        If there are any outliers, the mean may not be the best way to represent your data!
    </p>

{% endblock %}
