{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        We have talked about how it’s important to first sort data from
        smallest to largest.
    </p>

    <p class="text-xl">
        This helps us tell if there is any “strange” data.
    </p>

    <p class="text-xl">
        “Strange” data includes “outliers”, data that is much bigger or
        smaller than the rest of the data in a condition.
    </p>

    <br/>

{% endblock %}