{% extends "di-instr/single-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block content %}

    <img src="/img/di-instr/30_ABTable_S75b.png" class="img-centered" height="450"/>

   

    <p class="text-l">
    Based on the amount of spread in the data, which results do you think are stronger evidence <br>that water temperature affects crystal growth?

        {{ forms.radios_form(page, isVert=false) }}

        </p>

    <br/><br><br>

{% endblock %}