{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>#2: Spread (or range) of data</h1>

    <p class="text-l">
        This is because less spread is a sign that the results are more
        accurate!
    </p>

    <br/>

    <img src="/img/di-instr/50_Graph_S112.png" class="img-centered" />

    <br/>

{% endblock %}