{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/26a_Graph_S68.png" class="img-centered" />

    <br/>

    <p class="text-l">
        In the Hot water conditions...
    </p>

    <p class="text-l">
        For Results A, the data range from 20 to 50 mg: a 30 mg range.
    </p>

    <p class="text-l">
        For Results B, the data range from 10 to 50 mg: a 40 mg range.
    </p>

    <br/>

{% endblock %}