
{% extends "di-instr/stats.njk" %}

{% import "di-instr/link.njk" as link %}

{% block rhs %}

    <h1>
        What is the <u>range</u> of a set of numbers?
    </h1>

    <p class="text-lg">
        The range of a set of numbers is the difference between the largest and
        smallest numbers.
    </p>

    <p class="text-centered">
        {{ link.followEdge(page, "more", "more") }}
    </p>

{% endblock %}
