{% extends "di-instr/single-column.njk" %}

{% block content%}

   <p class="text-xxl">
      <b>Representing data</b>
    </p>

  <br>

    <p class="text-xl text-align:center">
      There are 3 steps in representing data we will talk about:

<ol class="centered">
        <li class="text-lg">
            Organizing the data.
        </li>
        <br>
        <li class="text-lg">
            Identifying "bad" data, in particular, "outliers."
        </li>
        <br>
        <li class="text-lg">
            Summarizing the data in each condition."
        </li>
    </ol>

<br>
    </p>

    <br/>
    <br><br>

{% endblock%}
