---
heading: "Results B: Hot (B) and Cold (B) conditions"
---

{% extends "dual-column.njk" %}

{% block lhs %}

    <img src="img/25_TableS61-62.png" class="img-centered" />

    <br />

    <p class="text-l">
        Now let’s look at the results from Experiment B. We’ll look at both
        the numbers (above)...
    </p>

    <br/>

{% endblock %}


