{% extends "di-instr/single-column.njk" %}

{% block content %}
      
        <h1> (4) Compare means across conditions</h1>



    <img src="/img/di-instr/9_Table_S32-33.jpg" class="img-centered" height="300"/>

    <p class="text-l">
        The mean crystal growth weight is greater in the hot than in the cold
        water condition.
    </p>

    <p class="text-l">
        On average, crystals grew 18 mg more in the Hot water condition than in
        the Cold water condition.
    </p>

    <p class="text-l">
        So, these results suggest that crystals grew more in the hot water.
    </p>

    <br/>

{% endblock %}