{% extends "di-instr/single-column.njk" %}

{% import "di-instr/forms.njk" as forms %}

{% block content %}

    <img src="/img/di-instr/46_Graph_S105.png" class="img-centered", width=900 />

    <br/>

    <p class="text-xl">
        {{ page.data.question.text }}
    </p>

    <p class="text-md">
        (Hint: Look at the amount of spread of the data in each condition. )
    </p>

    {{ forms.radios_form(page, isVert=false) }}

    <br/>

{% endblock %}