{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary: Interpreting your data</h1>

   {#  <div class="list-wrapper">   #}
        <ul>
           
            <li>
                Then you can consider the (#2) Size of difference in means to determine how sure
                you are that the independent variable caused a difference between conditions.
            </li>

            <br>
            <li>
                        <span class="text-primary">
                            The bigger the difference in means is, the more sure you can
                            be that the variable you are investigating makes a difference.
                        </span>
                    </li>
                </ul>
            
        
  {#  </div>   #}

    <img src="/img/di-instr/49_Graph_S111.png" class="img-centered" />

{% endblock %}