{% extends "di-instr/single-column.njk" %}

{% block content %}

<h1>Summary: Representing and <b>Interpreting</b> your data</h1>

    <p class="text-xl">
        (#3) The range of the data (or how spread out the data are) is another
        clue to whether there is a difference between conditions.
        <br><br>
    </p>
    <p class="text-l">
    You can find the range in data for each condition by simply subtracting the largest and smallest numbers.
        <br><br>For example, say the largest weight you found was 100 mg and the smallest weight was 70 mg. <br><br>The range of your data would be 100 mg - 70 mg = <b>30 mg</b>.
</p>
    <br/>

{% endblock %}