
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary: <b>Representing</b> and Interpreting your data</h1>

    <p class="text-xl">
        We also talked about (3) <b>Summarizing</b> data by calculating the mean (or average) for each
        condition. 
    </p>

    <p class="text-xl">
        Then you are ready to interpret your data. 
    </p>

    

    <br/>

{% endblock %}