{% extends "single-column.njk" %}

{% block content %}

    <img src="img/35_Graph_S80.png" class="img-centered" />

    <br/>

    <p class="text-l">
        And, most importantly, we can be more sure that the water temperature <br/>
        (rather than experimenter errors and other random factors) caused this difference in means.
    </p>

    <br/>

{% endblock %}
