{% extends "di-instr/wgtCrysGrowth.njk" %}


 {% block heading %}
        {% if heading%}
        <h1>(1) Organize your data by Sorting</h1>
        {% endif %}
    {% endblock %}


<br><br><br><br>

{% block lhs %}
    <img src="/img/di-instr/1a_Table3_S7_nocircle.jpg" class="img-centered", height="300" />
 {% endblock %}

{% block rhs %}


    <p class="text-l">
        The results for each condition are now <b>sorted</b> from smallest to
        largest.
    </p>

    <p class="text-l">
        So, if you start at the first measurement, 20 mg, for Hot water, you can
        see that the weights get bigger as you move down the list.
    </p>

    <p class="text-l">
        The same is true for the weights for cold water.
    </p>

    <br/>

{% endblock %}
