
{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        We also talked about (3) <b>Summarizing</b> data by calculating the mean (or average) for each
        condition. 
    </p>

    <p class="text-xl">
        Then you can (4) <b>compare means across conditions</b> (for example, Hot or Cold) to see which has a higher mean.
    </p>

    <p class="text-xl">
       But, we need to look at other evidence before interpreting the results...
    </p>

    <br/>

{% endblock %}