{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/39_CDTable_S93.png" class="img-centered" />

    {# <br/> #}

    <p class="text-l">
        Now, looking at the Cold conditions...the data for Results C ranges from<br/>
        14 mg to 55 mg: 41 mg.
    </p>

    <p class="text-l">
        The data for Results D ranges from 32 mg to 38 mg: only 6 mg.
    </p>

    <br/>

{% endblock %}
