{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/47_Graph_S106-107.png" class="img-centered", width=900 />

    <br/>

    <p class="text-l">
        There is less spread (or a smaller range) for both the Sugar and Salt
        conditions<br> for Franki’s results (Results F). <br>Less spread may mean that Franki was more careful in doing her
        experiment than Ethan was.
        <br/>
        So, Results F are probably higher quality.
    </p>

    <br/>

{% endblock %}