
{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block rhs %}

    <p class="text-lg">
        There do not seem to be any results in either condition that are
        much bigger or much smaller than most of the other results.
    </p>

    <p class="text-lg">
        (The numbers all differ from the next-closest number by between 2 (30 mg - 32 mg) and 9 mg (41 mg - 32 mg). So, there aren't any data that are much bigger than most of the other data.)
    </p>

{% endblock %}
