{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/36_GraphicS_89.jpg" class="img-centered" />


    <p class="text-l">
        Both Carol and Dwayne found that the mean weight in the Cold condition
        was 35 mg <br>and that the weight in the Hot condition was 25 mg. <br><br>So, both
        students found that the crystals grew on average 10 mg more in the Cold
        condition. <br>But these results are NOT equally strong evidence that
        crystals grow more in cold than hot water!
    </p>

    <p class="text-l">
        The results with LESS spread are stronger evidence that cold water <br/>
        really makes crystals grow more...
    </p>

    <br/>

{% endblock %}
