{% extends "di-instr/single-column.njk" %}

{% block content %}

    <h1>Let’s Summarize the Main Points of these Lessons!</h1>

    <div class="list-wrapper">
        <ul class="text-l centered">
            <li>
                There are two characteristics of data that should affect how sure <br/>
                you are of the difference between conditions.
                <ul>
                    <li><br>
                        <b>#1: The difference in means between conditions:</b><br/>
                        <span class="text-primary">
                            The bigger the difference in means is, the more sure you can <br/>
                            be that the variable you are investigating makes a difference.
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <img src="/img/di-instr/49_Graph_S111.png" class="img-centered" />

{% endblock %}