{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/32_Graphic_S76_rev.jpg" class="img-centered" width=500/>

    <br/>

    <p class="text-l">
        For example, Ann may have weighed the crystals all exactly two weeks
        (336 hours) later.
    </p>

    <p class="text-l">
        Or, Ann may have made sure that the initial hot water temperature was
        exactly the same <br>for all 5 trials and that the initial cold water
        temperature was the same for all 5 trials.
    </p>

    <br/>

{% endblock %}
