{% extends "di-instr/wgtCrysGrowth.njk" %}

{% block heading %}
        {% if heading%}
        <h1> (3) Summarizing data</h1>
        {% endif %}
    {% endblock %}

{% import "di-instr/forms.njk" as forms %}

{% block lhs %}
    <img src="/img/di-instr/1a_Table3_S7_nocircle.jpg" class="img-centered", height="300" />
 {% endblock %}

{% block rhs %}

  <p class="text-xl">
    {{ page.data.question.text }}
  </p>

  {{ forms.radios_form(page, isVert=true) }}

{% endblock %}
