{% extends "di-instr/single-column.njk" %}

{% block content %}

    <img src="/img/di-instr/35_Graph_S80.png" class="img-centered" />

    <br/>

    <p class="text-l">
        Results A are stronger evidence that water temperature affects crystal
        growth. <br>This is because the Results A data are less spread out than the Results B data.
    </p>

    <br/>

{% endblock %}
