{% extends "di-prepost/single-column.njk" %}

{% block content %}
    <h1>Scenario #1: Racing Toy Cars</h1>
    <p class="text-lg">
        Ethan wanted to see whether toy cars can go faster when they have which
        wheels or thin wheels. <br/>
        He built two toy cars: one with thick wheels and one with thin wheels. <br/>
        But everything else about the cars was the same.
    </p>
    <img src="/img/di-prepost/car_posttest_1/1_Cars.jpg" class="img-centered" />
{% endblock %}

