---
tables:
    left:
        header:
            className: set2
        data: [
            [1, 7],
            [2, 10],
            [3, 9],
            [4, 7],
            [5, 8]
        ]
    right:
        header:
            className: set2
        data: [
            [1, 7],
            [2, 5],
            [3, 6],
            [4, 8],
            [5, 5]
        ]
stats:
    left:
        mean: 8.2
        median: 8
        mode: 7
        range: 3
    right:
        mean: 6.2
        median: 6
        mode: 5
        range: 3
---
{% extends "dipost/carResults.njk" %}
{#
images:
    sorted:   "img/car_posttest_1/T2_Post_sorted.jpg"
    unsorted: "img/car_posttest_1/T2_Post_unsorted.jpg"
 #}

{% block heading %} second {% endblock %}

