---
tables:
    left:
        header:
            className: set1
        data: [
            [1, 5],
            [2, 8],
            [3, 6],
            [4, 8],
            [5, 7]
        ]
    right:
        header:
            className: set1
        data: [
            [1, 10],
            [2, 8],
            [3, 11],
            [4, 8],
            [5, 9]
        ]
stats:
    left:
        mean: 6.8
        median: 7
        mode: 8
        range: 3
    right:
        mean: 9.2
        median: 9
        mode: 8
        range: 3
---
{% extends "di-prepost/dipost/carResults.njk" %}
{#
images:
    sorted:   "img/car_posttest_1/T1_Post_sorted.jpg"
    unsorted: "img/car_posttest_1/T1_Post_unsorted.jpg"
 #}

{% block heading %} first {% endblock %}

