---
tables:
    left:
        header:
            className: set3
        data: [
            [1, 9],
            [2, 4],
            [3, 7],
            [4, 8],
            [5, 5]
        ]
    right:
        header:
            className: set3
        data: [
            [1, 8],
            [2, 9],
            [3, 11],
            [4, 7],
            [5, 12]
        ]
stats:
    left:
        mean: 6.6
        median: 7
        mode: "n/a"
        range: 5
    right:
        mean: 9.4
        median: 9
        mode: "n/a"
        range: 5
---
{% extends "di-prepost/dipost/carResults.njk" %}

{#
 images:
    sorted:   "img/car_posttest_1/T3_Post_sorted.jpg"
    unsorted: "img/car_posttest_1/T3_Post_unsorted.jpg"
#}

{% block heading %} third {% endblock %}

