{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        We'd like to see what you learned about interpreting results from the 
        lesson. 
    </p>
    <p class="text-lg">
        We will show you two different scenarios: Racing Toy Cars and 
        Testing Student Learning. For each scenario, we will ask you to 
        interpret five different sets of possible results. 
    </p>
    <p class="text-lg">
        Let's begin. 
    </p>
{% endblock %}

