{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        The next day, everyone took a quiz on what they learned. <br/>
        They had 15 minutes to finish the quiz. 
    </p>
{% endblock %}


