{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Even though they may seem repetitive, please try to take your time and
        do your best to answer each question.
    </p>
    <p class="text-lg">
        Each of your responses--including what you click on--will be used to see
        what and how you are interpreting the data.
    </p>
    <p class="text-lg">
        Let's begin!
    </p>
    <br>
{% endblock %}