<!DOCTYPE html>
<html>
    <head>
        {% include "site/stdHead.njk" %}
        <title>Hypothesis Lesson</title>
        <link rel="stylesheet" href="hypowe.bundle.css" />
    </head>
    <body>
        {% include "site/navbar.njk" %}
        <iframe src="public/index.html"></iframe>
        <script src="hypowe.bundle.js"></script>
    </body>
</html>