---
title: "ISP Tutor Hypothesis Lesson"
---
{% extends "base.njk" %}

{% block extrajs %}
   {% include "site/createjs.njk" %}
{% endblock %}

{% block cssbundle%}
    <link rel="stylesheet" href="/bundles/hypo-gr.bundle.css">
{% endblock %}

{% block main %}
      {# <img id="loading_gif" src="/img/site/_preloader.gif" class="hidden" /> #}
      {# <canvas id="hypo-canvas" width="1200" height="750">
        Error: HTML5 canvas is not working. Please make sure JavaScript is enabled.
      </canvas> #}

      {% for scene in collections.hypoGRScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
          <div class="scene-content">
            {{ scene.templateContent | safe }}
          </div>
        </section>
      {% endfor %}
      <img id="prev_btn" class="nav-btn prev-btn" />
      <img id="next_btn" class="nav-btn next-btn" />
{% endblock %}


{% block bundles %}
    <script src="/bundles/hypo-gr.bundle.js"></script>
{% endblock %}