<!doctype html>
<html lang="en">
    <head>
        {% include "site/stdHead.njk" %}
        <title>{{ title }}</title>
        {% block cssbundle %}{% endblock %}
    </head>
    <body>
        {% include "site/navbar.njk" %}
        <main>
            {% block main %} {% endblock %}
        </main>
        <img id="prev_btn" class="nav-btn prev-btn" />
        <img id="next_btn" class="nav-btn next-btn" />
        <div id="scene_id_region"></div>
        <div id="snackbar"></div>
        {% block bundles %}
        {% endblock %}
    </body>
         {# <div class="content-wrapper"> #}
            {# <nav class="left-nav"> #}
            {# </nav> #}
            {# <nav class="right-nav"> #}
            {# </nav> #}
        {# </div> #}

</html>