{% extends "sf-assessment/posterRS_Hypo.njk" %}

{% set poster_lhs_class = "poster-example-lhs" %}
{% set poster_rhs_class = "poster-example-rhs" %}
{% set poster_center_class = "poster-example-center" %}
{% set poster_title = "Water Acidity and Plant Growth" %}


<div class="poster-container">
    <div class="poster-column {{poster_lhs_class}}">
        <span class="poster-hdg">Research Question</span>
        <div class="poster-rq">{% block rq %}
        
         <p class="poster-text text-xs">
        Does the amount of acid added to water affect the growth of pole bean plants?
    </p>
    <br>
    
        
        {% endblock %}</div>

       
        
        <span class="poster-hdg">Research Summary</span>
        <div class="poster-rs">{% block research_summary %}
        
        <p class="poster-text text-xs text-align: center">
         <img src="/img/sf-assessment/Completed_new_white.png"
         class="img-centered"
         width="150" />
        </p>
        <br>
        
        {% endblock %}</div>

        <span class="poster-hdg">Hypothesis</span>
        <div class="poster-hypo">
        
        {% block hypo %}

        <p class="poster-text text-xs text-align: center">
         <img src="/img/sf-assessment/Completed_new_white.png"
         class="img-centered"
         width="150" />
        </p>
        <br>
        
        
        
        {% endblock %}</div>


    </div>
    <div class="poster-column {{poster_center_class}}">
        <span class="poster-hdg">{{ poster_title | safe }}</span>
        <hr>
        <span class="poster-hdg">Materials</span>
        <div class="poster-materials">{% block materials %}
        
        <img src="/img/sf-assessment/Bean_Materials_final.png"
         class="img-centered"
         width="325" />
        
        
        
        {% endblock %}</div>
        <span class="poster-hdg">Procedure</span>
        <div class="poster-procedure">{% block procedure %}
        
        <p class="poster-text text-xs">
        #1- Select two bean sprout plants that are 10 cm tall. <br>
        #2- [Completed picking plant location(s)] <br>
        #3- Every day at 8am, [select best response] <br>
        
    </p>

    {% endblock %}</div>

    </div>
    <div class="poster-column {{poster_rhs_class}}">
        <span class="poster-hdg">Results</span>
        
        <div class="poster-results">{% block results %}
        
        <p class="poster-text text-xs">
        [YOUR RESULTS HERE]
        </P>
        <br>
        
        {% endblock %}</div>



        <span class="poster-hdg">Conclusion</span>
        <div class="poster-conclusion">{% block conclusion%}
        <p class="poster-text text-xs">
        [TEXT HERE]
    </p>
    {% endblock%}</div>
    </div>
</div>