<div class="intro-container dev">
    <div class="build-intro-left">
    </div>
    <div class="build-intro-center">
        <div class="build-intro-center-top">
            <div class="bubble">
                <div class="bubble-text">
                    <p class="text-lg">
                        Create your own science fair poster!
                    </p>
                    <p class="text-lg">
                        Now, you will create your own science
                        fair poster. Click the research question below.
                    </p>
                </div>
            </div>
        </div>
        <div class="build-intro-center-bottom">
            <h3>Research Question</h3>
            <button class="btn btn-huge btn-success follow-edge" data-edge="next">
            {% block rq %}{% endblock %}
            </button>
        </div>
    </div>
    <div class="build-intro-right">
    </div>
</div>