{% extends "sf-assessment/poster.njk" %}

{% set poster_lhs_class = "poster-example-lhs" %}
{% set poster_rhs_class = "poster-example-rhs" %}
{% set poster_center_class = "poster-example-center" %}
{% set poster_title = "Reaction between Soda and Mints" %}
{% block rq %}
    <p class="poster-text text-xs">
        Does the amount of carbon dioxide in the soda affect the strength
        of the reaction between soda and mints?
    </p>
{% endblock %}

{% block hypo %}
    <p class="poster-text text-xs">
        I predict that the mint will have a stronger reaction with the
        soda that has more carbon dioxide. I made this prediction because I
        think sugar and carbon dioxide react with each other.
    </p>
{% endblock %}

{% block research_summary %}
    <p class="poster-text text-xs">
        I researched the density of the mints and the reaction between sugar
        and caffeine.
    </p>
    <p class="poster-text text-xs">
        ***Complete background research with sources is available in my paper.
    </p>
{% endblock %}

{% block materials %}
    <img src="/img/sf-assessment/Soda_Mint_Ruler.png"
         class="img-centered"
         height="130" />
{% endblock %}

{% block procedure %}
    <ol class="poster-procedure text-xs">
        <li>
            Start with the high-CO<sub>2</sub> bottle of soda.
        </li>
        <li>
            Gently drop the mint in the soda.
        </li>
        <li>
            Measure the height of the soda geyser; record the
            result.
        </li>
        <li>
            Gently drop the mint into the low-CO<sub>2</sub> soda.
        </li>
        <li>
            Measure the height of the soda geyser; record the
            result.
        </li>
    </ol>
{% endblock %}

{% block results %}
    <img width="200"
         src="/img/sf-assessment/sodaMintResults.png"
         class="img-centered">
{% endblock %}

{% block conclusion %}
    <p class="poster-text text-xs">
        The results of my experiment were inconsistent with my
        hypothesis. In the soda with less CO<sub>2</sub>, the
        reaction between the soda and mint was stronger, as
        indicated by the height of the geyser.
    </p>
{% endblock %}