<div class="tb">
    <div class="tb-top">
        {% block tb_top %}
        {% endblock %}
    </div>
    <div class="tb-bottom">
        {% block tb_bottom %}
        {% endblock %}
    </div>
</div>