    <footer>
        <img src="/img/site/klahrLabFooter.png"><br>
        <p>
          ***Please Note: The ISP Tutor portal is currently not available for
          public use, however, check our www.isptutor.org website for updates and
          to use the Tutor in Demo mode.
        </p>
        <p>©2020 Klahr Lab, Carnegie Mellon University. All Rights Reserved</p>
        <p>
          Carnegie Mellon University | Dept. of Psychology | 5000 Forbes Ave. | Pittsburgh, PA 15213
          The TED project was funded in part by the Institute of Education Science (IES), Grant R305H060034, and in part by
          the National Science Foundation, Grant SBE035442.
          The ISP Tutor project is funded by IES, Grant R305A170176.
        </p>
        <p>
          The research reported here was supported by the Institute of Education
          Sciences, U.S. Department of Education, through Grant R305A170176 to
          Carnegie Mellon University. The opinions expressed are those of the
          authors and do not represent views of the Institute or the U.S.
          Department of Education.
        </p>
    </footer>
