{% extends "masterSlide6.njk" %}

{% block teacherBubble %}
    <h3>Hi there! My name is Dr. ISP.</h3>
    <p>
        In this lesson, you will see a high school student as she works on her 
        hypothesis for the research question “Does the initial water temperature
        affect the weight of crystal growth on a string after 2 weeks?
    </p>
{% endblock teacherBubble %}