{% extends "masterSlide6.njk" %}

{% block teacherBubble %}
    <p>
        Throughout this lesson, I will stop by every once in a while and ask you
        some questions about what she’s doing.
    </p>
    <p>
        See you soon!
    </p>
{% endblock teacherBubble %}