{% extends "single-column.njk" %}

{% block content %}
In this lesson, the 3-part hypothesis includes:
<ul>
    <li>
        A specific prediction for the outcome of the experiment.
    </li>
    <li>
        A detailed explanation supporting the prediction.
    </li>
    <li>
        A general prediction of the relationship between the independent and 
        dependent variable.
    </li>
</ul>
{% endblock %}