{% extends "single-column.njk" %}

{% block content %}
    <h1>
        Select a high school student who will explain as they form their 
        hypothesis on this topic:
    </h1>
    <div>
        <div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-mya" data-vin="Mya" alt="Mya"/></div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-joy" data-vin="Joy" alt="Joy"/></div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-fin" data-vin="Fin" alt="Fin"/></div>
        </div>
        <div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-tom" data-vin="Tom" alt="Tom"/></div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-meg" data-vin="Meg" alt="Meg"/></div>
            <div class="vin-wrapper"><img class="select-vin vin-img vin-joe" data-vin="Joe" alt="Joe"/></div>
        </div>
    </div>
{% endblock %}