{% extends "single-column.njk" %}

{% block content %}
    <h1>
        Select a high school student who will explain as they form their 
        hypothesis on this topic:
    </h1>
    {# 
        // need to include image btns of VINs here. 
     #}
{% endblock %}