{% extends "di-prepost/single-column.njk" %}

{% block content %}

<p class="text-xl">
    We'd like to see how you interpret some results from the crystal growth
    experiment on your own now.
</p>

<p class="text-xl">
    We will show you five sets of possible results for this experiment and ask
    you to interpret each set of results.
</p>


<img src="/img/di-prepost/crystal/CrystalsPostTestImage.png"
     class="img-centered" />

{% endblock %}