---
permalink: algae.html
title: "Experimental Design: Algae Reproduction"
---
{% extends "base.njk" %}

{% block content %}
    <div style="margin: auto; width: fit-content;">
        <table>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Condition 1</th>
                    <th>Condition 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Water Temperature</th>
                    <td>
                        <select id="cond1__temp">
                            <option value="" selected disabled></option>
                            <option value="cool">Room Temperature</option>
                            <option value="hot">Warm</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__temp">
                            <option value="" selected disabled></option>
                            <option value="cool">Room Temperature</option>
                            <option value="hot">Warm</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Music Exposure</th>
                    <td>
                        <select id="cond1__music_exposure">
                            <option value="" selected disabled></option>
                            <option value="constant">Constant Music</option>
                            <option value="none">No Music</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__music_exposure">
                            <option value="" selected disabled></option>
                            <option value="constant">Constant Music</option>
                            <option value="none">No Music</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amount CO<sub>2</sub></th>
                    <td>
                        <select id="cond1__amt_co2">
                            <option value="" selected disabled></option>
                            <option value="a_lot">A Lot</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_co2">
                            <option value="" selected disabled></option>
                            <option value="a_lot">A Lot</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amt Sunlight</th>
                    <td>
                        <select id="cond1__amt_sunlight">
                            <option value="" selected disabled></option>
                            <option value="some">Some</option>
                            <option value="none">None</option>
                        </select>

                    </td>
                    <td>
                        <select id="cond2__amt_sunlight">
                            <option value="" selected disabled></option>
                            <option value="some">Some</option>
                            <option value="none">None</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th>Tank Shape</th>
                    <td>
                        <select id="cond1__tank_shape">
                            <option value="" selected disabled></option>
                            <option value="cubic">Cubic</option>
                            <option value="cylindrical">Cylindrical</option>
                            <option value="spherical">Spherical</option>
                            <option value="bubble">Bubble</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__tank_shape">
                            <option value="" selected disabled></option>
                            <option value="cubic">Cubic</option>
                            <option value="cylindrical">Cylindrical</option>
                            <option value="spherical">Spherical</option>
                            <option value="bubble">Bubble</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amt Water</th>
                    <td>
                        <select id="cond1__amt_water">
                            <option value="" selected disabled></option>
                            <option value="high">15 liters</option>
                            <option value="med">10 liters</option>
                            <option value="low">5 liters</option>
                        </select>

                    </td>
                    <td>
                        <select id="cond2__amt_water">
                            <option value="" selected disabled></option>
                            <option value="high">15 liters</option>
                            <option value="med">10 liters</option>
                            <option value="low">5 liters</option>
                        </select>

                    </td>
                </tr>

                <tr>
                    <th>Tank Material</th>
                    <td>
                        <select id="cond1__tank_material">
                            <option value="" selected disabled></option>
                            <option value="glass">Glass</option>
                            <option value="plastic">Plastic</option>
                            <option value="acrylic">Acrylic</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__tank_material">
                            <option value="" selected disabled></option>
                            <option value="glass">Glass</option>
                            <option value="plastic">Plastic</option>
                            <option value="acrylic">Acrylic</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th>Music Type</th>
                    <td>
                        <select id="cond1__music_type">
                            <option value="" selected disabled></option>
                            <option value="jazz">Jazz</option>
                            <option value="rock">Rock</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__music_type">
                            <option value="" selected disabled></option>
                            <option value="jazz">Jazz</option>
                            <option value="rock">Rock</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Volume</th>
                    <td>
                        <select id="cond1__volume">
                            <option value="" selected disabled></option>
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>

                    </td>
                    <td>
                        <select id="cond2__volume">
                            <option value="" selected disabled></option>
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="inline">
        <object id="cond1_img" width="500" data="./img/algae.svg"></object>
    </div>
    <div class="inline">
        <object id="cond2_img" width="500" data="./img/algae.svg"></object>
    </div>
{% endblock %}
{% block code %}
    <script>
        let allSelectors, cond1, cond2, cond1Img, cond2Img, conds;
        conds = {};

        let amt_co2 = ["a_lot", "none"];  //V3
        let amt_sunlight = ["some", "none"];  //V4
        let music_exposure = ["constant", "none"]; //V2
        let music_type = ["jazz", "rock"];  //V8
        let tank_material = ["acrylic", "glass", "plastic"]; //v7
        let tank_shape = ["bubble", "cylindrical", "spherical", "cubic"]; // V5
        let temp = ["cool", "hot"]; //V1
        let volume = ["high", "low"]; //v9
        let amt_water = ["low", "high", "med"]; //V6

        function getWater(cond) {
            let water = `${cond.tank_shape}__${cond.amt_water}`
        }

        function getAllSelectors() {
            let all = [];
            temp.forEach((val) => all.push(`temp__${val}`));
            music_exposure.forEach((val) => all.push(`music_exposure__${val}`));
            amt_co2.forEach((val) =>  all.push(`amt_co2__${val}`));
            amt_sunlight.forEach((val) => all.push(`amt_sunlight__${val}`));
            tank_shape.forEach((val) => all.push(`tank_shape__${val}`));
            tank_material.forEach((val) => all.push(`tank_material__${val}`));
            music_type.forEach((val) => all.push(`music_type__${val}`));
            volume.forEach((val) => all.push(`volume__${val}`));
            for (let ts of tank_shape) {
                for (let aw of amt_water) {
                    all.push(`${ts}__${aw}`);
                }
            }
            return all;
        }

        function getSelectorForProp(cond, prop) {
            return ("undefined" !== typeof(cond[prop])) ? `${prop}__${cond[prop]}` : null;
        }
        function getCompoundSelectorFromProps(cond, ...props) {
            if (props.every((i) => cond[i])) {
                let vals = props.map((p) => cond[p])
                return vals.join("__");
            }

            //     // console.log(prop);
            //     console.log(prop, cond[prop])
            // }
            return null;
        }

        function getSelectors(cond_name) {
            let music_type = null;
            let volume = null;
            let cond = ("cond1" === cond_name) ? cond1 : cond2;
            let curr = [];
            for (let prop of ["temp", "amt_co2", "amt_sunlight", "tank_material", "tank_shape"]) {
                curr.push(getSelectorForProp(cond, prop));
            }
            curr.push(getCompoundSelectorFromProps(cond, "tank_shape", "amt_water"));
            let music_exposure = getSelectorForProp(cond, "music_exposure");
            if (music_exposure && "music_exposure__none" !== music_exposure) {
                music_type = getSelectorForProp(cond, "music_type");
                volume = getSelectorForProp(cond, "volume");
            }
            curr.push(music_exposure);
            curr.push(music_type);
            curr.push(volume);
            // let music_type, volume;
            // let music_exposure = `music_exposure__${cond.music_exposure}`;
            // console.log(cond, "temp", getSelectorForProp(cond, "temp"))
            // console.log(curr);
            let tmp = curr.filter((i) => i !== null);
            console.log(tmp);
            return tmp;

        }

        function renderImage(whichImage) {
            console.log(whichImage);
            let doc = ("cond1" === whichImage) ? conds.cond1 : conds.cond2;
            for (let sel of allSelectors) {
                let el = doc.getElementById(sel);
                if (!el) {
                    console.error(`error hiding ${whichImage}.${sel}`);
                    return;
                }
                el.setAttribute("display", "none");
            }
            let currPropValues = getSelectors(whichImage);
            for (let sel of currPropValues) {
                let el = doc.getElementById(sel);
                if (!el) {
                    console.error(`error showing ${whichImage}.${sel}`);
                    return;
                }
                el.setAttribute("display", "block");
            }
            /*
            for (let sel of allSelectors) {
                let el = doc.getElementById(sel);
                console.log(el.id, el.getAttribute("display"), el);
            }
            */
        }

        function menuChanged(event) {
            let id = event.target.id;
            console.log(id);
            let cond = id.substring(0, 5);
            let prop = id.substring(7)
            let val = event.target.value;
            console.log(`condition: ${cond}  property: ${prop} changed to val: ${val}`);
            if ("cond1" === cond) {
                // console.log("BEFORE")
                // console.log(cond1);
                cond1[prop] = val;
                // console.log("AFTER");
                // console.log[cond1]
            } else {
                // console.log("BEFORE");
                // console.log(cond2);
                cond2[prop] = val;
                // console.log("AFTER");
                // console.log(cond2);
            }
            renderImage(cond);
        }

        window.addEventListener("DOMContentLoaded", () => {

            cond1 = {}; cond2 = {};
            allSelectors = getAllSelectors();
            cond1Img = document.getElementById("cond1_img");
            cond2Img = document.getElementById("cond2_img");

            cond1Img.addEventListener("load", (e) => {
                conds.cond1 = cond1Img.contentDocument;
            });
            cond2Img.addEventListener("load", (e) => {
                conds.cond2 = cond2Img.contentDocument;
            });

            // console.log(allSelectors);
            // console.log("setting up event listeners...");
            for (let sel of document.querySelectorAll("select")) {
                sel.addEventListener("change", menuChanged);
            }
            // console.log("finished setting up event listeners");
            // console.log("cond1", cond1);
            // console.log("cond2", cond2);
        });
    </script>
{% endblock %}
{% block bundles %}
    <script src="./algae.bundle.js"></script>
{% endblock %}
