<!doctype html>
<html>

<head>
    <title>Algae</title>
    <style>
        div.inline {
            display: inline-block;
        }

    </style>
</head>

<body>
    <div class="inline" style="width: 33%;">
    </div>
    <div class="inline" style="width: 33%">
        <table>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Condition 1</th>
                    <th>Condition 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Water Temperature</th>
                    <td>
                        <select id="cond1__water_temp">
                            <option value="" selected disabled></option>
                            <option value="cool">Room Temperature</option>
                            <option value="hot">Warm</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__water_temp">
                            <option value="" selected disabled></option>
                            <option value="cool">Room Temperature</option>
                            <option value="hot">Warm</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Crystal Type</th>
                    <td>
                        <select id="cond1__crystal_type">
                            <option value="" selected disabled></option>
                            <option value="salt">Salt</option>
                            <option value="sugar">Sugar</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__crystal_type">
                            <option value="" selected disabled></option>
                            <option value="salt">Salt</option>
                            <option value="sugar">Sugar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amount of initial crystals on string</th>
                    <td>
                        <select id="cond1__init_crystals">
                            <option value="" selected disabled></option>
                            <option value="little">A Little</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__init_crystals">
                            <option value="" selected disabled></option>
                            <option value="little">A Little</option>
                            <option value="none">None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Type of String</th>
                    <td>
                        <select id="cond1__string_type">
                            <option value="" selected disabled></option>
                            <option value="yarn">Yarn</option>
                            <option value="twine">Twine</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__string_type">
                            <option value="" selected disabled></option>
                            <option value="yarn">Yarn</option>
                            <option value="twine">Twine</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>String Length</th>
                    <td>
                        <select id="cond1__string_length">
                            <option value="" selected disabled></option>
                            <option value="full">Height of container</option>
                            <option value="half">1/2 Height of container</option>
                            <option value="quarter">1/4 Height of container</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__string_length">
                            <option value="" selected disabled></option>
                            <option value="full">Height of container</option>
                            <option value="half">1/2 Height of container</option>
                            <option value="quarter">1/4 Height of container</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Container Type</th>
                    <td>
                        <select id="cond1__container_type">
                            <option value="" selected disabled></option>
                            <option value="jar">16 ounce glass jar</option>
                            <option value="cup">16 ounce plastic cup</option>
                            <option value="mug">16 ounce coffee mug</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__container_type">
                            <option value="" selected disabled></option>
                            <option value="jar">16 ounce glass jar</option>
                            <option value="cup">16 ounce plastic cup</option>
                            <option value="mug">16 ounce coffee mug</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Amount of Water</th>
                    <td>
                        <select id="cond1__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full container</option>
                            <option value="half">Half container</option>
                            <option value="quarter">Quarter container</option>
                        </select>
                    </td>
                    <td>
                        <select id="cond2__amt_water">
                            <option value="" selected disabled></option>
                            <option value="full">Full container</option>
                            <option value="half">Half container</option>
                            <option value="quarter">Quarter container</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inline" style="width: 33%">
    </div>
    <br>
    <div class="inline">
        <object id="cond1_img" width="500" data="./crystals.svg"></object>
    </div>
    <div class="inline">
        <object id="cond2_img" width="500" data="./crystals.svg"></object>
    </div>

    <script>
        let allSelectors, cond1, cond2, cond1Img, cond2Img, conds;
        conds = {};

        let water_temp = ["cool", "hot"];
        let crystal_type = ["salt", "sugar"];
        let init_crystals = ["little", "none"]
        let string_type = ["twine", "yarn"];
        let string_length = ["full", "half", "quarter"];
        let container_type = ["cup", "mug", "jar"];
        let amt_water = ["full", "half", "quarter"];

        function getWater(cond) {
            let water = `${cond.tank_shape}__${cond.amt_water}`
        }

        function getAllSelectors() {
            let all = [];
            water_temp.forEach((val) => all.push(`water_temp__${val}`));
            crystal_type.forEach((val) => all.push(`crystal_type__${val}`));
            init_crystals.forEach((val) => all.push(`init_crystals__${val}`));
            container_type.forEach((val) => all.push(`container_type__${val}`));
            amt_water.forEach((val) => all.push(`amt_water__${val}`));
            for (let st of string_type) {
                for (let sl of string_length) {
                    all.push(`${st}__${sl}`);
                }
            }
            return all;
        }

        function getSelectorForProp(cond, prop) {
            return ("undefined" !== typeof(cond[prop])) ? `${prop}__${cond[prop]}` : null;
        }
        function getCompoundSelectorFromProps(cond, ...props) {
            if (props.every((i) => cond[i])) {
                let vals = props.map((p) => cond[p])
                return vals.join("__");
            }

            //     // console.log(prop);
            //     console.log(prop, cond[prop])
            // }
            return null;
        }

        function getSelectors(cond_name) {
            let music_type = null;
            let volume = null;
            let cond = ("cond1" === cond_name) ? cond1 : cond2;
            let curr = [];
            for (let prop of ["water_temp", "crystal_type", "init_crystals", "container_type", "amt_water"]) {
                curr.push(getSelectorForProp(cond, prop));
            }
            curr.push(getCompoundSelectorFromProps(cond, "string_type", "string_length"));
            // let music_exposure = getSelectorForProp(cond, "music_exposure");
            // if (music_exposure && "music_exposure__none" !== music_exposure) {
            //     music_type = getSelectorForProp(cond, "music_type");
            //     volume = getSelectorForProp(cond, "volume");
            // }
            // curr.push(music_exposure);
            // curr.push(music_type);
            // curr.push(volume);
            // // let music_type, volume;
            // let music_exposure = `music_exposure__${cond.music_exposure}`;
            // console.log(cond, "temp", getSelectorForProp(cond, "temp"))
            // console.log(curr);
            let tmp = curr.filter((i) => i !== null);
            console.log(tmp);
            return tmp;

        }

        function renderImage(whichImage) {
            console.log(whichImage);
            let doc = ("cond1" === whichImage) ? conds.cond1 : conds.cond2;
            for (let sel of allSelectors) {
                // console.log(sel);
                let el = doc.getElementById(sel);
                // console.log(`i will hide ${!!el} => ${whichImage}.${sel}`);
                // el.classList.add("hidden");
                el.setAttribute("display", "none");
                // console.log(el);
            }
            let currPropValues = getSelectors(whichImage);
            for (let sel of currPropValues) {
                // console.log(`attempting to show ${sel}`);
                let el = doc.getElementById(sel);
                el.setAttribute("display", "block");
                // console.log(el);
                // el.classList.remove("hidden");
                // el.style.display = "block";
                // console.log(el.style);
            }
            for (let sel of allSelectors) {
                let el = doc.getElementById(sel);
                console.log(el.id, el.getAttribute("display"), el);
            }
        }

        function menuChanged(event) {
            let id = event.target.id;
            console.log(id);
            let cond = id.substring(0, 5);
            let prop = id.substring(7)
            let val = event.target.value;
            console.log(`condition: ${cond}  property: ${prop} changed to val: ${val}`);
            if ("cond1" === cond) {
                // console.log("BEFORE")
                // console.log(cond1);
                cond1[prop] = val;
                // console.log("AFTER");
                // console.log[cond1]
            } else {
                // console.log("BEFORE");
                // console.log(cond2);
                cond2[prop] = val;
                // console.log("AFTER");
                // console.log(cond2);
            }
            renderImage(cond);
        }

        window.addEventListener("DOMContentLoaded", () => {

            cond1 = {}; cond2 = {};
            allSelectors = getAllSelectors();
            cond1Img = document.getElementById("cond1_img");
            cond2Img = document.getElementById("cond2_img");

            cond1Img.addEventListener("load", (e) => {
                conds.cond1 = cond1Img.contentDocument;
            });
            cond2Img.addEventListener("load", (e) => {
                conds.cond2 = cond2Img.contentDocument;
            });

            // console.log(allSelectors);
            // console.log("setting up event listeners...");
            for (let sel of document.querySelectorAll("select")) {
                sel.addEventListener("change", menuChanged);
            }
            // console.log("finished setting up event listeners");
            // console.log("cond1", cond1);
            // console.log("cond2", cond2);
        });
    </script>
</body>

</html>