{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <h2>Types of Relationships for Hypotheses</h2>
    <ol class="horiz">
        <li class="active">Definition</li>
        <li>Cause</li>
        <li>Correlation</li>
    </ol>
    <p>
        The meaning of a concept
    </p>
    
    <div class="dev">
        <div class="dev lhs">
            {% block text2 %}{% endblock %}
        </div>
        <div class="dev rhs">
            {% block image1 %}{% endblock %}
        </div>
    </div>
    
    <div class="dev">
        <div class="dev" style="display:inline-block;">
            {% block text3 %}{% endblock %}
        </div>
        <div class="dev" style="display:inline-block;">
            {% block image2 %}{% endblock %}
        </div>
    </div>

{% endblock %}