<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="hypowe.bundle.css" />
    </head>
    <body>
        <header>header goes here</header>
        <iframe src="public/index.html"></iframe>
        <script src="hypowe.bundle.js"></script>
    </body>
</html>