---
permalink: apps/exp-design/index.html
title: "Experimental Design"
---
{% extends "exp-design/base.njk" %}

{% block main %}
    {% for scene in collections.expDesignRedirectScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block cssbundles %}
    <link rel="stylesheet" href="/bundles/redirect.bundle.css" >
{% endblock %}
{% block bundles %}
    <script src="/bundles/redirect.bundle.js"></script>
{% endblock %}
