<div class="container">
    {% block heading %}
        {% if heading%}
            <header class="heading">{{heading}}</header>
        {% endif %}
    {% endblock %}

    <div class="lhs {% if heading %} with-heading {% endif %}"
         {% block lhsWidth %}style="width:50%;"{% endblock %}>
        <div class="centered-column">
            {% block lhs %}{% endblock %}
        </div>
    </div>

    <div class="rhs {% if heading %} with-heading {% endif %}"
         {% block rhsWidth %}style="width:50%;"{% endblock %} >
        <div class="centered-column">
            {% block rhs %}{% endblock %}
        </div>
    </div>
</div>
