{% macro followEdge(page, edgeName, label) %}
    <button class="link follow-edge text-lg"
            data-edge="{{edgeName}}">
        {{label}}
    </button>
{% endmacro %}

{# id="{{page.fileSlug}}_{{edgeName}}" #}
