{% extends "hypo-gr/base.njk" %}
{% block content %}
    <img src="/img/hypo-gr/slide_intro/TeacherPointing.jpg" class="img-centered" />
    <p class="text-lg">
        Now that you’ve learned about the different ways that concepts can be
        related in your concept map, let’s go back to your original research
        question...
    </p>
    {# rq goes here #}
{% endblock %}