{% extends "hypo-gr/base.njk" %}
{% block content %}
   <h3>Types of Relationships for Hypotheses</h3>
    <p class="text-lg">
        (2) Causes: This is when a change in one variable makes another variable
        change (or directly affects another variable).
    </p>
    {# iteration 0 #}
    <p class="text-lg">
        For example, a change in how distracted people are while driving affects
        how well people drive.
    </p>
    <img src="/img/hypo-gr/slide3/comic.jpg" class="img-centered" />
    {# iteration 1 #}
    <p class="text-lg">
        Or, changing the amount of caffeine we drink causes a change in how
        how alert we are.
    </p>
    <img src="/img/hypo-gr/slide3/coffeegraphic.jpg" class="img-centered" />
    {# iteration 2: next #}

{% endblock %}