{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Types of Relationships for Hypotheses</h3>
    <p class="text-md">
        Often we can explain a cause-effect relationship in more detail...
    </p>
    {# iteration 0 #}
    <p class="text-md" id="causes2_driving_overlay">
        For example, a change in how distracted people are while driving affects
        how well people drive, <b>because people's attention is shifted away from
        the road.</b>
    </p>
    <img width="225" src="/img/hypo-gr/slide3/comic.jpg" class="img-centered" />
    {# iteration 1 #}
    <p class="text-md" id="causes2_coffee_overlay">
        Or, changing the amount of caffeine we drink causes a change in how
        how alert we are, <b>because caffeine is a chemical that increases brain
        activity.</b>
    </p>
    <img width="320" src="/img/hypo-gr/slide3/coffeegraphic.jpg" class="img-centered" />
    {# iteration 3 #}
    <p class="text-md">
        In the concept map, if you select “cause” for the type of relationship,
        you will be asked to pick another concept that explains the relationship.
    </p>
    {# iteration 4: next #}

{% endblock %}