<div id="causes2_coffee_overlay" class="overlay">
    Or, changing the amount of caffeine we drink causes a change in how
    how alert we are, <b>because caffeine is a chemical that increases brain
    activity.</b>
</div>
