<!-- Tutor Completion Overlay-->
<div id="completion_overlay" class="border-container overlay">
    <div class="container">
    <h3>
        You are now done with this section. Click Home to move on to the next
        section.
    </h3>
    <br>
    <div class="inline-btn-container">
        <button id="completion-home-btn" type="button" class="inline-btn">
        Home
        </button>
    </div>
    </div>
</div>
