{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Types of Relationships for Hypotheses</h3>
    <p class="text-lg">
        (3) Correlation: Just because two things are correlated does not mean
        that one caused the other. There may be other reasons for two variables
        to change together. For example, both variables might be caused by a
        third variable.
    </p>
    {# iteration 0 #}
    <p class="text-lg">
        For example, a third variable, how often they study, could cause them
        to eat more pizza and also cause them to get better grades!
    </p>
    <img src="/img/hypo-gr/slide5/PizzaGradesStudy.png" class="img-centered" />
    {# iteration 1 #}
    <p class="text-lg">
        Or, a third variable, the temperature, could cause people to eat more
        ice cream and also cause people to want to go swimming to cool off.
    </p>
    <img src="/img/hypo-gr/slide5/SunTempIcecream.png" class="img-centered" />
    {# iteration 2: next #}
{% endblock %}