{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Types of Relationships for Hypotheses</h3>
    <p class="text-lg">
        (3) Correlation: A relationship between two variables where both
        variables increase (or decrease) together, or one increases
        as the other decreases. But, these variables might not directly
        affect each other.
    </p>
    {# iteration 0 #}
    <p class="text-lg">
        For example, let’s say you found that there is a relationship between
        how often students eat pizza and their grades in school.
    </p>
    <img src="/img/hypo-gr/slide4/correlation.png" class="img-centered" />
    <img src="/img/hypo-gr/slide4/graph1.png" class="img-centered" />
    {# iteration 1 #}
    <p class="text-lg">
        If you don’t know why/how eating pizza could directly affect grades,
        then you would call this relationship a “correlation”.
    </p>
    {# iteration 2 #}
    <p class="text-lg">
        Or, you might find a relationship between the amount of ice cream people
        buy and how often people go swimming.
    </p>
    <img src="/img/hypo-gr/slide4/IceCreamSwimming.png" class="img-centered" />
    <img src="/img/hypo-gr/slide4/graph2.png" class="img-centered" />
    {# iteration 3 #}
    <p class="text-lg">
        If you don't know why/how ice cream sales directly affects how often
        people go swimming, then you'd call this relationship a correlation.
    </p>
    {# iteration 4: next #}
{% endblock %}