{% extends "hypo-gr/base.njk" %}

{% block content %}
    <h3>Reminder: The Three Parts of your Hypothesis include...</h3>
    <ol>
        <li>
        A <b>general prediction</b> of the relationship between your
        independent and dependent variables.
        </li>
        <li>
        A <u>detailed scientific explanation</u> of your general prediction.
        This should include a step-by-step explanation for how and why the
        independent variable affects the dependent variable.
        </li>
        <li>
        A <i>specific prediction</i> for the results of your experiment.
        </li>
    </ol>
{% endblock %}