{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Types of Relationships for Hypotheses</h3>
    <p class="text-lg">
        (1) Definition: The meaning of a concept or another way of saying
        the same thing.
    </p>
    {# on iteration 0 #}
    <p class="text-lg">
        Often, an “everyday” term is defined by the behaviors of
        molecules...<br>
        For example, the concept of the “temperature” of
        an object is defined as the average kinetic energy of the
        molecules that make up the object.
    </p>
    <img src="/img/hypo-gr/slide2/temperaturegif.gif" class="img-centered" />
    {# on iteration 1 #}
    <p class="text-lg">
        Or, “Density” is the amount of mass of an object divided by its
        volume (or how much space it takes up).
    </p>
    <img src="/img/hypo-gr/slide2/densitygraphic.jpg" class="img-centered" />
    {# on iteration 2: next #}
{% endblock %}