{% extends "hypo-gr/base.njk" %}
{% block content %}
    <p class="text-lg">
        For each connected pair of concepts (for example, water temperature and
        Concept 1), you will be asked to indicate how the concepts are related.
    </p>

    <p class="text-lg">
        The relationships between concepts (as shown below) could be
        correlations, causes, or definitions.
    </p>

    <img src="/img/hypo-gr/defPagesCptMap.png" class="img-centered" />

{% endblock %}