{% extends "hypo-gr/base.njk" %}
{% block content %}
    <p class="text-lg">
        You can use a concept map to help you explain how water temperature is
        related to the weight of crystal growth.
    </p>
    <img src="/img/hypo-gr/iv2dvWithArrow.png" class="img-centered" />

    <p class="text-lg">
        ???
    </p>
{% endblock %}