{% extends "hypo-gr/base.njk" %}
{% block content %}
   <h3>Types of Relationships</h3>

   <p class="text-lg">
        When you make your explanation for your prediction, you will need to
        choose the type of relationship between pairs of concepts. Here are
        the three types of relationships you can choose:
   </p>
   <p class="text-lg">
        (1) Definition<br>
        (2) Cause<br>
        (3) Correlation
   </p>

{% endblock %}