<div id="draw_cpt_map" class="overlay cpt-map-help">
    <div class="help-heading">
        Click 'Download' to download the image of your concept map. Submit 
        this file to your teacher or parent along with your
        notepad or worksheet.
    </div>
    <div class="inline-btn-container">
        <button type="button" class="inline-btn" id="dismiss_draw_cpt_map">Download</button>
    </div>
</div>
