{% extends "hypo-gr/base.njk" %}
{% block content %}
    <p class="text-lg">
        You predicted that as
    </p>
    <img src="/img/hypo-gr/graphSlides/Crys_increases.png" class="img-centered" />
    <img src="/img/hypo-gr/graphSlides/Crys_decreases.png" class="img-centered" />
    <p class="text-lg">
        Your prediction is represented as:
    </p>
{% endblock %}