<div id="lesson_overview_overlay" class="overlay">
    <h3>Lesson Overview</h3>
    <p>
        In this lesson, we will focus on the first two parts of your hypothesis:
        the general prediction and detailed scientific explanation for your
        general prediction.
    </p>
    <p class="invisible" data-show-on-transition="1">
        You will make a general prediction for your experiment. For example,
        your general prediction could be either:
    </p>

    <ul style="list-style-position:outside;">
        <li class="invisible" data-show-on-transition="2">
        <b>"As the initial water temperature increases, the weight of crystal
            growth on the string after two weeks increases."</b><br />
        This means that the hotter the water is at first, the higher the
        final weight of crystal growth will be.
        <ul style="list-style:none;" class="invisible" data-show-on-transition="3">
            <li style="padding-top:10px;padding-bottom:10px;"> <b>- OR -</b> </li>
        </ul>
        </li>
        <li class="invisible" data-show-on-transition="4">
        <b>"As the initial water temperature increases, the weight of crystal
            growth on the string after two weeks decreases."</b> <br />
        This means that the hotter the water is at first, the lower the
        final weight of crystal growth will be.
        </li>
    </ul>

    <p class="invisible" data-show-on-transition="5">
        You will also write a <u>scientific explanation</u> for your general
        prediction. We’ll help you do that.
    </p>
</div>
