{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Lesson Overview</h3>
    <p>
        In this lesson, we will focus on the first two parts of your hypothesis:
        the general prediction and detailed scientific explanation for your
        general prediction.
    </p>
    <p class="show-on-transition" data-when-transition-gte="1">
        You will make a general prediction for your experiment. For example,
        your general prediction could be either:
    </p>
    <div style="margin-left: 100px; margin-right: 100px;">
    <ul style="list-style-position:outside;">
        <li class="show-on-transition" data-when-transition-gte="2">
        <b>"As the initial water temperature increases, the weight of crystal
            growth on the string after two weeks increases."</b><br />
        This means that the hotter the water is at first, the higher the
        final weight of crystal growth will be.
        <ul style="list-style:none;" class="show-on-transition" data-when-transition-gte="3">
            <li style="padding-top:10px;padding-bottom:10px;"> <b>- OR -</b> </li>
        </ul>
        </li>
        <li class="show-on-transition" data-when-transition-gte="4">
        <b>"As the initial water temperature increases, the weight of crystal
            growth on the string after two weeks decreases."</b> <br />
        This means that the hotter the water is at first, the lower the
        final weight of crystal growth will be.
        </li>
    </ul>
    </div>
    <p class="show-on-transition" data-when-transition-gte="5">
        You will also write a <u>scientific explanation</u> for your general
        prediction. We’ll help you do that.
    </p>

{% endblock %}