{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Lesson Overview</h3>
    <ul>
        <li>
        Before you make your general prediction and scientific explanation,
        we'll discuss how you can use a "concept map" to help you write a
        detailed explanation for your prediction.
        </li>
        <li class="invisible" data-show-on-transition="1">
        Then we'll ask you to make a general prediction for the relationship
        between water temperature and weight of crystal growth on a string.
        </li>
        <li class="invisible" data-show-on-transition="2">
        After that, you will first write a scientific explanation for your
        general prediction.
        </li>
        <li class="invisible" data-show-on-transition="3">
        Finally, you'll make a concept map to help you improve on your
        scientific explanation.
        </li>
    </ul>
{% endblock %}