<div id="notepad_page_lhs_overlay" class="overlay">
    <div id="notepad_rq_header">
        <button id="toggle_rq_body" class="link-button collapsed" data-target="notepad_rq_body">
        <div id="rq_toggler" class="toggler collapsed"></div>Your Research Question
        </button>
    </div>
    <div id="notepad_rq_body" class="invisible collapsable-text"></div>

    <div id="notepad_pred_header">
        <button id="toggle_pred_body" class="link-button collapsed" data-target="notepad_pred_body">
        <div id="pred_toggler" class="toggler collapsed"></div>Prediction for Your Hypothesis
        </button>
    </div>
    <div id="notepad_pred_body" class="invisible collapsable-text"></div>

    <div id="notepad_concepts_header">
        <button id="toggle_concepts_body" class="link-button collapsed" data-target="notepad_concepts_body">
        <div id="concepts_toggler" class="toggler collapsed"></div>Concepts
        </button>
    </div>
    <div id="notepad_concepts_body" class="invisible collapsable-text">
        <ul id="concepts_list">
        </ul>
    </div>
</div>
