<div id="notepad_paste" class="overlay cpt-map-help">
    <div class="help-heading">
        Please copy/paste your hypothesis into your notepad or worksheet.
        <pre id="current_hypo_text"></pre>
    </div>
    <div class="inline-btn-container">
        <button type="button" class="inline-btn" id="dismiss_notepad_paste">OK</button>
    </div>
</div>
