{% extends "hypo-gr/base.njk" %}
{% block content %}

    <h3>Make Your General Prediction</h3>
    <p class="text-lg">
        <b>What do you think now that you've finished your research?</b>
    </p>
    <p id="rq2" class="text-lg">
    </p>
    <label><input type="radio" name="prediction2" value="incr">Increase</label><br>
    <label><input type="radio" name="prediction2" value="decr">Decrease</label><br>


{% endblock %}