{% extends "hypo-gr/base.njk" %}
{% block content %}
    <h3>Check your understanding!</h3>
    <p class="text-lg">
        For each phrase below, as one concept (underlined) increases, the
        other (underlined) concept may increase or decrease. Select the
        type of relationship that best describes the following pairs of concepts:
    </p>
    <ul>
        <li>
        <u>School candy sales</u> and <u>number of science fair poster awards</u>
        </li>
        <li>
        <u>Humidity</u> and <u>the amount of water in the air</u>
        </li>
        <li>
        <u>How hard you push on an object</u> and <u>how much the object moves</u>
        </li>
        <li>
        <u>Friction</u> and <u>force of resistance to motion on a surface</u>
        </li>
    </ul>

{% endblock %}