<form id="quiz_questions_overlay" class="overlay">
    <select id="quiz_q2" class="quiz_questions">
        <option value="" disabled selected hidden>Choose one...</option>
        <option>Definition</option>
        <option>Causes</option>
        <option>Correlation</option>
    </select>
    <br>
    <select id="quiz_q3" class="quiz_questions">
        <option value="" disabled selected hidden>Choose one...</option>
        <option>Definition</option>
        <option>Causes</option>
        <option>Correlation</option>
    </select>
    <br>
    <select id="quiz_q4" class="quiz_questions">
        <option value="" disabled selected hidden>Choose one...</option>
        <option>Definition</option>
        <option>Causes</option>
        <option>Correlation</option>
    </select>
    <br>
    <select id="quiz_q5" class="quiz_questions">
        <option value="" disabled selected hidden>Choose one...</option>
        <option>Definition</option>
        <option>Causes</option>
        <option>Correlation</option>
    </select>
</form>
