{% extends "hypo-gr/base.njk" %}
{% block content %}
    <p class="text-xxl">
        Welcome to the ISP Tutor's Hypothesis module.
    </p>
    <img src="/img/hypo-gr/slide_intro/TeacherPointing.jpg" />
    <button class="btn btn-huge btn-primary">Start</button>

{% endblock %}