---
title: "Crystal Growth Data Interpretation"
permalink: crystal.html
---
{% extends "base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="diprepost.bundle.css" >
{% endblock %}

{% block main %}
    {% for scene in collections.diTestCommonScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    {% for scene in collections.diCrystalTestScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block bundles %}
    <script src="dicrystal.bundle.js"></script>
{% endblock %}