---
title: "Data Interpretation Pre-Test"
permalink: pretest.html
---
{% extends "base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="dipretest.bundle.css" >
{% endblock %}

{% block main %}
    {% for scene in collections.diTestCommonScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    {% for scene in collections.diPreTestScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block bundles %}
    <script src="dipretest.bundle.js"></script>
{% endblock %}