---
title: "Data Interpretation PreTest"
permalink: di-prepost/pretest.html
---
{% extends "diprepost/base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="diprepost.bundle.css" >
{% endblock %}

{% block main %}
    {% for scene in collections.diPreTestScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            {{ scene.templateContent | safe }}
        </section>
    {% endfor %}
{% endblock %}

{% block bundles %} 
    <script src="dipretest.bundle.js"></script>
{% endblock %}