---
teacher: even
---
{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    In this activity, you will first evaluate science fair posters that were
    made by different students in elementary school.
</p>
{% endblock %}