---
teacher: odd
---
{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    Have you ever been to a school science fair?
</p>
<p class="text-lg">
    This activity is kind of like going to a <i>virtual</i> science fair.
    But, instead of just looking at other students' posters,
    you will get to be a science fair judge!
</p>
{% endblock %}