---
teacher: odd
---
{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    You've probably been to a science fair at your school, right?
</p>
<p class="text-lg">
    Well this activity is kind of like going to a <i>virtual</i> science fair
    but instead of just looking at your classmates' posters,
    you will get to be a science fair judge!
</p>
{% endblock %}