---
teacher: odd
---
{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    paragraph 1 for intro slide 3
</p>
<p class="text-lg">
    paragraph 2 for intro slide 3
</p>
{% endblock %}