---
teacher: odd
---
{% extends "sf-assessment/poster-intro.njk" %}

{% block textBubble %}
    <p class="text-md">
        Before you begin judging, take a minute to look at all of the parts of
        a science fair poster. Note the title of the poster is a the top center.
        You'd start with the title, then read the research question, hypothesis,
        etc., and end with the conclusion.
    </p>
{% endblock %}