---
teacher: even
---
{% extends "sf-assessment/poster-intro.njk" %}

{% block textBubble %}
    <p class="text-md">
        All of these posters show experiments, where students compared something to see if it made a difference.
    </p>
    <p class="text-md">
        Click "Next" to see the first student's poster!
    </p>
{% endblock %}