---
teacher: odd
---

{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    OK, we'll look at each section of the poster for possible problems. We'll start with the Research Question section...
   
</p>
{% endblock %}