{% extends "sf-assessment/top-bottom.njk" %}

{% block tb_top %}
    {% include "sf-assessment/Ball-Ramp-Poster.njk" %}
{% endblock %}

{% block tb_bottom %}
    <div>
        <div class="background-research">
            <img width="130" src="/img/sf-assessment/myBackgroundResearch.png" />
        </div>
        <div class="poster-instructions">
            <center><b>Directions:</b></center>
            <p class="text-sm">
                This is Tim's experiment. He tested to see if the color of a ball affects the speed of the ball at the bottom of the ramp. 
                Take a minute or two to look at all of the parts of
                his poster.
            </p>
        </div>
        
    </div>
{% endblock %}