---
teacher: odd
---

{% extends "sf-assessment/eval-intro.njk" %}

{% block textBubble %}
<p class="text-lg">
    You will figure out if the different parts of the posters need to be improved. If so, you will
    suggest how to improve them.
</p>
<p class="text-lg">
    After that, you will get to make you own posters!
</p>
{% endblock %}