{% extends "sf-assessment/top-bottom.njk" %}

{% block tb_top %}
    {% include "sf-assessment/soda-mint-poster.njk" %}
{% endblock %}

{% block tb_bottom %}
    <div>
        <div class="background-research">
            <img width="130" src="/img/sf-assessment/myBackgroundResearch.png" />
        </div>
        <div class="poster-instructions">
            <center><b>Directions:</b></center>
            <p class="text-sm">
                This is Kaya. Her experiment was about the reaction between soda
                and mints. Take a minute or two to look at all of the parts of
                her poster.
            </p>
        </div>
        <div class="vin-wrapper">
            <img src="/img/sf-assessment/VIN_Younger.jpg" />
        </div>
    </div>
{% endblock %}