{% extends "sf-assessment/top-bottom.njk" %}
{% import "sf-assessment/forms.njk" as forms %}

{% block tb_top %}
    {% include "sf-assessment/Beans-poster7.njk" %}
{% endblock %}


{% block tb_bottom %}
    <div>
        
        <div class="poster-instructions text-align: center">
            
            <p class="text-sm text-align: center">
               Good job! We're done with this poster. 
            </p>
        </div>
        
    </div>
{% endblock %}






