{% extends "sf-assessment/top-bottom.njk" %}
{% import "sf-assessment/forms.njk" as forms %}

{% block tb_top %}
    {% include "sf-assessment/Beans-poster5.njk" %}
{% endblock %}


{% block tb_bottom %}

 <div class="background-research">
            <img width="130" src="/img/sf-assessment/WhiteSpace.png" />
        </div>
        <div class="poster-instructions">
            
            <p class="text-sm">
               Good job! We have finished the last steps of the procedure. Please take a moment to read that.
            </p>
        </div>  
            
{% endblock %}






