{% extends "sf-assessment/top-bottom.njk" %}
{% import "sf-assessment/forms.njk" as forms %}

{% block tb_top %}
    {% include "sf-assessment/Beans-posterQ1.njk" %}
{% endblock %}


{% block tb_bottom %}

<p class="poster-text text-xs">
    {{ forms.radios_form(page, asColumns=true) }}
<p>
{% endblock %}






