{% extends "sf-assessment/top-bottom.njk" %}
{% import "sf-assessment/forms.njk" as forms %}

{% block tb_top %}
    {% include "sf-assessment/Apples-poster5.njk" %}
{% endblock %}


{% block tb_bottom %}
    <div>
        
        <div class="poster-instructions text-align: center">
            
            <p class="text-sm text-align: center">
               Great work so far! We have finished the last steps of the procedure. Please take a moment to read that.
            </p>
        </div>
        
    </div>
{% endblock %}






