// needed for map-merge
@use "sass:map";
$bg-default: white;
$bg-secondary: #f7f7f7;

$module-border-color: #d6e9fc;


$primary: #1479f6;
$success: #00cc00;
$warn: #fffe00;
$danger: #ff471a;
$info: #51bef1;

$theme-colors: () !default;

$theme-colors: map-merge(
    (
        "primary": $primary,
        "success": $success,
        "warn": $warn,
        "danger": $danger,
        "info": $info
    ),
    $theme-colors
);

// $font-sizes: (
//     "xxl": 32pt,
//     "xl": 24pt,
//     "lg": 18pt,
//     "md": 14pt,
//     "sm": 13pt,
//     "xs": 12pt,
//     "xxs": 10pt
// );


$font-sizes: (
    "xxl": 32px,
    "xl": 28px,
    "lg": 26px,
    "md": 24px,
    "sm": 20px,
    "xs": 14px,
    "xxs": 12px
);

// $border-radius-default:        .25rem !default;
$border-radius-default:        .5rem !default;
$border-radius-increment:      .1rem !default;

$btn-padding-x-default:        .375rem;
$btn-padding-y-default:        .75rem;

$btn-font-size-default:        map.get($font-sizes, "md");
// $btn-font-size-default:  $btn-font-size;


$border-radius: (
    "xxs":           $border-radius-default - (3 * $border-radius-increment),
    "xs":            $border-radius-default - (2 * $border-radius-increment),
    "sm":            $border-radius-default - (1 * $border-radius-increment),
    "md":            $border-radius-default,
    "lg":            $border-radius-default + (1 * $border-radius-increment),
    "xl":            $border-radius-default + (2 * $border-radius-increment),
    "xxl":           $border-radius-default + (3 * $border-radius-increment),
);

// $btn-padding-x: (
//     "xxs":           .065rem,
//     "xs":            .125rem,
//     "sm":            .25rem,
//     "md":            $btn-padding-x-default,
//     "lg":            .50rem,
//     "xl":            .625rem,
//     "xxl":           .75rem
// );

$btn-padding-x: (
    "xxs":           .125rem,
    "xs":            .25rem,
    "sm":            .5rem,
    "md":            .75,
    "lg":            1rem,
    "xl":            1.25rem,
    "xxl":           1.5rem
);

$btn-padding-y: (
    "xxs":           .125rem,
    "xs":            .25rem,
    "sm":            .50rem,
    "md":            $btn-padding-y-default,
    "lg":            1rem,
    "xl":            1.25rem,
    "xxl":           1.5rem
);

$btn-font-sizes: (
    "xxs":           map.get($font-sizes, "xxs"),
    "xs":            map.get($font-sizes, "xs"),
    "sm":            map.get($font-sizes, "sm"),
    "md":            $btn-font-size-default,
    "lg":            map.get($font-sizes, "lg"),
    "xl":            map.get($font-sizes, "xl"),
    "xxl":           map.get($font-sizes, "xxl"),
);

