// needed for map-merge 
@use "sass:map";
$bg-default: white;
$bg-secondary: #f7f7f7;

$module-border-color: #d6e9fc;


$primary: #1479f6;
$success: #00cc00;
$warn: #fffe00;
$danger: #ff471a;
$info: #51bef1;

$theme-colors: () !default;

$theme-colors: map-merge(
    (
        "primary": $primary,
        "success": $success,
        "warn": $warn,
        "danger": $danger,
        "info": $info
    ),
    $theme-colors
);


$font-sizes: (
    "xxl": 32pt, 
    "xl": 24pt, 
    "lg": 18pt, 
    "md": 14pt, 
    "sm": 13pt, 
    "xs": 12pt, 
    "xxs": 10pt
);

$border-radius:               .25rem !default;

$border-radius-xxs:           .1rem;
$border-radius-xs:            .15rem;
$border-radius-sm:            .2rem !default;
$border-radius-md:            $border-radius;
$border-radius-lg:            .3rem !default;
$border-radius-xl:            .35rem;
$border-radius-xxl:           .4rem;


$btn-padding-x:               .375rem;
$btn-padding-y:               .75rem;
$btn-font-size:               map.get($font-sizes, "md");

$btn-padding-x-xxs:           .065rem;
$btn-padding-y-xxs:           .125rem;
$btn-font-size-xxs:           map.get($font-sizes, "xxs");

$btn-padding-x-xs:            .125rem;
$btn-padding-y-xs:            .25rem;
$btn-font-size-xs:            map.get($font-sizes, "xs");

$btn-padding-x-sm:            .25rem;
$btn-padding-y-sm:            .50rem;
$btn-font-size-sm:            map.get($font-sizes, "sm");

$btn-padding-x-md:            $btn-padding-x;
$btn-padding-y-md:            $btn-padding-y;
$btn-font-size-md:            $btn-font-size;

$btn-padding-x-lg:            .50rem;
$btn-padding-y-lg:            1rem;
$btn-font-size-lg:            map.get($font-sizes, "lg");

$btn-padding-x-xl:            .625rem;
$btn-padding-y-xl:            1.25rem;
$btn-font-size-xl:            map.get($font-sizes, "xl");

$btn-padding-x-xxl:           .75rem;
$btn-padding-y-xxl:           1.5rem;
$btn-font-size-xxl:           map.get($font-sizes, "xxl");
