<div>
    <div class="teacher-lhs">
        {% block lhs %}{% endblock %}
    </div>
    <div class="teacher-rhs">
        {% block teacherBubble %}{% endblock %}
        <img src="img/Teacher.png" />
    </div>
</div>