---
permalink: false
tags: ["homePageSections"]
---

  <div class="directions">
    <b>DIRECTIONS:</b> <button class="link toggle-button collapsed" data-target="home_page_directions"></button>
    <div id="home_page_directions" class="hidden">
      <p>
        <b>Directions:</b> Below is a list of the activities to complete in the order given (1-8), along with a time estimate for each activity (to help you plan).
      </p>
      <p>
        We recommend that you complete all activities in a given session in one sitting. For example, we recommend that you complete the Science survey (1) and then the Data Interpretation Question (2) right after that.
      </p>
      <p>
        Please complete the activities in the next session within 2 days of completing the previous session. Your responses to all questions and progress will be recorded, so if you need to stop in the middle of an activity, you can come back to where you left off.
      </p>
      <p>
        When you are finished with the session (or if you need to stop before completing the session activities), please click “SIGN OUT” in the menu at the top of the page. When you come back, click on the BLUE User Sign-In button and enter the same information as when you registered. It will take you back to where you left off.
      </p>
      <p>
        NOTE: If you need help with a vocabulary word, you can click on the GLOSSARY at the top of the page and scroll to the word you want to find out about. Click on the GLOSSARY button again to exit.
      </p>

      <p>If you have any Problems: Please email me (Stephanie) at <a href="mailto:siler@cmu.edu">siler@cmu.edu</a> and for help.</p>

      <dl>
        <dt>Session 1:</dt>
        <dd>
          <ul>
            <li>(1)  AUDIO: “MATS” Science survey (pre): 5 min</li>
            <li>(2) No Audio: Data Interpretation Questions - Initial:  10-15 min</li>
          </ul>
        </dd>
        <dt>Session 2:</dt>
        <dd>
          <ul>
            <li>(3) AUDIO: Crystal growth experiment intro: 5 min</li>
            <li>(4) Some audio: Hypothesis lesson: 30 min</li>
            <li>(5) No Audio: Data Interpretation lesson: 35 min</li>
            <li>(6) No Audio: Interpret crystal growth results: 5 min</li>
          </ul>
        </dd>
        <dt>Session 3:</dt>
        <dd>
          <ul>
            <li>(7) No Audio: Data Interpretation Questions - Final:  10-15 min</li>
            <li>(8) AUDIO: “MATS” Science survey (post): 5 min</li>
          </ul>
        </dd>
      </dl>

    </div>
  </div>

  <div class="list-wrapper">
    <ol id="activity_btns_list">
    </ol>
  </div>
