---
permalink: false
tags: ["homePageSections"]
---

<div class="directions">
  <b>Directions:</b> <button class="link toggle-button collapsed"
                             data-target="index_directions"></button>

  <div id="index_directions" class="hidden">
    <p>
      Thank you for agreeing to participate in this study!
    </p>

    <p>
      We recommend that you Bookmark this page (go.isptutor.org) so you can easily return to it.
    </p>
    <p>
      <b>Getting Started:</b> After you finish reading these directions, you will click on the GREEN “Register” button below and follow the directions on that page to register.
    </p>

    <p>
      <b>Signing back in (if you have Signed Out):</b>  If you SIGN OUT at any time, you will be able to SIGN IN again by coming back to this page and clicking the BLUE “User Sign-In” button. You will need to enter the exact same information you used when you registered.
    </p>

    <p>
      OK! Please click on “Register” now.
    </p>

  </div>
</div>

<div class="button-container">

    <h2> Sign-In Portal</h2>
    <button id="login_button"
            class="module-button">
      User Sign-In
    </button>
    <br/>
    <button id="register_button"
            class="module-button">
      Register
    </button>
</div>
