{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        In the next lesson, you will see high school students who understand the
        science concepts related to this experiment. The students will talk about
        their hypothesis for their research question for this experiment:
    </p>

    <p class="text-lg">
        Does the initial water temperature affect the weight of the crystal growth after two weeks?
    </p>

    <div class="text-centered">
        <img width="650"
             src="img/crystalsimageslide2.png"
             class="img-centered" />
        <br>
        <span>
            Cool (16&deg;C)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Hot (50&deg;C)
        </span>
    </div>

    <p class="text-lg">
        The students will make a prediction and then explain their prediction <br/>
        using related scientific ideas.
    </p>
    {#
    <p class="text-lg">
        Click Next to continue.
    </p>
    #}
{% endblock %}