{% extends "single-column.njk" %}

{% block content %}
    <img src="img/site/RevisedHeader.jpg" width="1000px" class="img-centered" >

    <p class="text-xxl">
        Introduction to the Crystal Growth Experiment.
    </p>
    <p class="text-xxl">
        Click the "Start" buton below to begin
    </p>

    <p>
        <button class="follow-edge btn btn-huge btn-success"
                data-edge="next">
            Start
        </button>
    </p>
{% endblock %}