{% extends "rq-intro/single-column.njk" %}

{% block content %}

    <p class="text-lg">
        For the next few study activities, we will be talking about an experiment
        about salt crystals building up on a string in water.
        To help you understand what we’re talking about, please watch one trial run of that experiment in this animation:
    </p>

    <div class="text-centered">
        <video id="crystals_video" width="800"  controls>
            <source src="https://go.isptutor.org/brm/CrystalsAnimation/CrystalsVideo2020.mp4"
                    type="video/mp4" />
        </video>
    </div>
    <p class="text-lg">
        You can watch this video more than once if you want…
    </p>

{% endblock %}