<div id="causes2_driving_overlay" class="overlay">
    For example, a change in how distracted people are while driving affects
    how well people drive, <b>because people's attention is shifted away from 
    the road.</b>
</div>
      