{#
<!-- Note!!! In the Youtube URL below, the enablejsapi parameter must be
        set to 1 and the rel parameter set to 0!!! This is so the hypo.js code
        can pause the video when necessary, and block related videos from appearing -->
      <!--
      <iframe id="instruction_video_overlay"
              width="800"
              height="450"
              enablejsapi="1"
              src="https://www.youtube.com/embed/ATlmZHaw8ys?rel=0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
      -->
 #}

<div id="instruction_video_overlay" class="overlay">
    <video controls width="1000">
        <source src="/media/hypo-gr/hypoVideo.webm" type="video/webm" />
        <source src="/media/hypo-gr/hypoVideo.mp4" type="video/mp4" />
        <source src="/media/hypo-gr/hypoVideo.ogv" type="video/ogg" />
    </video>
</div>
