<div id="save_concept_map_warning" class="overlay cpt-map-help">
    <div class="help-heading">
        <p>
        Everything is now labeled and connected properly. This does
        not mean that your work is <i>correct</i>.
        </p>
        <p>
        <b>Warning:</b> If you click 'Save', you won't be able to make any changes.
        </p>
        <p> 
        If you are finished, click 'Save'. If you wish to continue working, 
        click "Cancel".
        </p>
    </div>
    <div class="inline-btn-container">
        <button type="button" class="inline-btn" id="cpt_map_cancel_save">Cancel</button>
        <button type="button" class="inline-btn" id="cpt_map_save">Save</button>
    </div>
</div>
    