---
permalink: false
tags: ["homePageSections"]
---

      {# <div class="border-container"> #}
        <div id="module_btns_container" class="container">
          {#
          <button type="button" id="rq-button" class="module-button disabled" disabled>Research Question</button>
          <button type="button" id="hypo-button" class="module-button disabled" disabled>Hypothesis</button>
          <button type="button" id="ted-button" class="module-button disabled" disabled hidden>TED Tutor</button> 
          #}
        </div>
      {# </div> #}
