---
title: "ISP Tutor"
permalink: index.html
---
{% extends "base.njk" %}

{% block cssbundle %}
  <link rel="stylesheet" href="/bundles/homepage.bundle.css">
{% endblock %}

{% block main %}
  {% for page in collections.homePageSections %}
    <section id="{{page.fileSlug}}" class="page">
      {{page.templateContent | safe }}
    </section>
  {% endfor %}
{% endblock %}

{% block bundles %}
  <script src="/bundles/homepage.bundle.js"></script>
{% endblock %}