<!DOCTYPE html>
<html>
<head>
  <title> ISP Teacher's Portal Homepage </title>
  {% load static %}

  <!-- CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

  <style>
  body {
    font-family: 'Abel';font-size: 20px;
  }
  </style>

  <!-- JS Files -->
  <!-- Required libraries for Bootstrap (jQuery and Popper) -->
  <!-- <script src="js/jquery-2.1.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  
  <!-- Bootstrap -->

  <!-- Setting up ajax -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add my javascript -->

</head>

 
<body>
	<div class="row">
    <div class="column" style="width: 1%">
    </div>
    <div class="column" style="width: 5%">
      <br>
      <img src="{% static 'img/portal-icon.png'%}" style="width:100%">
    </div>
    <div class="column" style="width: 14%">
      <br>
      <h1 style="font-size: 30px">Teacher's</h1>
      <h1 style="font-size: 30px">Portal</h1>
    </div>
    <div class="column" style="width: 80%">
      <img src="{% static 'img/tutor.png'%}" style="width:100%">
    </div>
  </div>
  
  <!-- Blue -->
  <br>
  <div class="progress">
    <div class="progress-bar" style="width:15%"></div>
  </div>
  <div class="row">
    <div class="column" style="width: 5%">
    </div>
    <div class="column" style="width: 22%; text-align:center">
      <img src="{% static 'img/one.png' %}" style="width:30%; cursor: pointer" >
      <form method="get">
        <input type="submit" class="btn" value="Create Class"  name="btn_1">
      </form>
    </div>
    <div class="column" style="width: 22%; text-align:center">
      <img src="{% static 'img/two.png' %}" style="width:30%; cursor: pointer">
      <form method="get">
        <input type="submit" class="btn" value="Add Students"  name="btn_2">
      </form>
    </div>
    <div class="column" style="width: 22%; text-align:center">
      <img src="{% static 'img/three.png' %}"style="width:30%; cursor: pointer">
      <form method="get">
        <input type="submit" class="btn" value="Assign Students"  name="btn_3">
      </form>
    </div>
    <div class="column" style="width: 22%; text-align:center">
      <img src="{% static 'img/four.png' %}" style="width:30%; cursor: pointer">
      <form method="get">
        <input type="submit" class="btn" value="Get Class Link"  name="btn_1">
      </form>
    </div>
  </div>

    

</body>
</html>



