@use "~@isptutorproject/isp-site-styles" with (
    //$app_path: "/apps/di-prepost/"
    $app_path: "/"
);

html {
    font-size: 16px;
}

/* start of app-specific styling */
main {
    width: 100%;
    height: calc(100% - 36px);
    margin: 0;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // border: solid #d6e9fc 40px;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

p {
    /* default to centered. use text-justify if you want to override */
    text-align: center;
}

.btn-huge {
    font-size: 3rem;
    padding: 0.50em 0.50em;
    border-radius: 0.5em;
}


input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-top: 0;
    margin-left: 10px;
}

.scene {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    resize: both;
}
.scene.active {
    display: block;
}

.scene-content {
    position: relative;
    // border: 1px solid hotpink;
    width: 1300px;
    height: 714px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.single_column_content {
    position: absolute;
    width: 100%;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
}

#scene_id_region {
    position: absolute;
    top: calc(100% - 50px);
    left: calc(50% - 10px);
}

.container {
    height: 100%;
    width: 100%;
}


.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* used by vertcenter shortCode, which nests content inside 2 divs:
   1) div.centered-wrapper (relative positioning)
   2) div.centered (absolute positining)

   it then specified div.centered::top vai style="top:${fromTopPercent}%;"

*/
div.centered-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
div.centered {
    position: absolute;
    height: max-content;
    width: 100%;
}


.heading {
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

.results-heading {
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

div.results-top {
    width: 100%;
    height: calc(60% - 50px);
    display: flex;
}
div.results-top-left {
    position:relative;
    // width: 30%;
    height: 100%;
    flex: 3;
}
div.results-top-center {
    position: relative;
    // width: 40%;
    height: 100%;
    flex: 7;
}
div.results-top-right {
    position: relative;
    // width: 30%;
    height: 100%;
    flex: 3;
}

div.results-centered {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.stats-left-wrapper {
    position: absolute;
    width: fit-content;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

div.stats-right-wrapper {
    position: absolute;
    width: fit-content;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

form.form-centered {
    /* position: relative; */
    height: max-content;
    width: 100%;
}

p.question-text {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    height: max-content;
    width: max-content;
    transform: translate(-50%);

}
div.form-controls {
    /* position: absolute; */
    position: relative;
    /* top: 50px; */
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    height: max-content;
    width: max-content;
    transform: translate(-50%);
}

button.form-submit-centered {
    /* position: absolute; */
    position: relative;
    /* top: 80px; */
    top: 20px;
    left: 50%;
    right: 0;
    bottom: 0;
    height: max-content;
    transform: translate(-50%);
}

.prev-btn {
    /* should get displayed on top of border*/
    /* img is 130x138px */
    top: calc(100% - 138px);
    left: 5px;
}

.next-btn {
    /* should get displayed on top of border*/
    /* img is 130x138px */
    top: calc(100% - 138px);
    left: calc(100% - 133px);
    transform: scaleX(-1);
}


.q1-answer {
    color: blue;
    font-weight: bold;
}

.form-submit-centered {
    background-color: darkorange;
    color: white;
}

div.side-by-side-tables {
    text-align: center;
}

table.stats-table th {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
}

table.stats-table > thead > tr > th {
    text-align: center;
    text-decoration: underline;
}

table.data-table {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
table.data-table thead { color: white; }
table.data-table.set1 thead { background-color: #1028FB; }
table.data-table.set2 thead { background-color: #6F359E; }
table.data-table.set3 thead { background-color: #72AC4D; }
table.data-table.set4 thead { background-color: #C4662F; }
table.data-table.set5 thead { background-color: #BE311C; }

table.data-table tr {
    border: 1px solid black;
}
table.data-table th {
    text-align: center;
}

table.data-table td {
    border: 1px solid black;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}