{% extends "diprepost/single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <p class="text-lg">
            Next we'll show you 5 different possible sets of results of this 
            experiment. We will ask you to interpret each set of results. 
        </p>
    {% endvertcenter %}
{% endblock %}