{% extends "diprepost/single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
        <h1>
            You'll see tables with the number of correct responses for each person.
        </h1>
        <img src="/img/di/pretest/memory_pretest_1/S6_Names.jpg"
             class="img-centered" />
    {% endvertcenter %}
{% endblock %}