{% extends "hypo/defs/defPage60.njk" %}

{% block text2 %}
    <p>
        Often, an “everyday” term is defined by the behaviors of
        molecules...
    </p>
    <p>
        For example, the concept of the “temperature” of
        an object is defined as the average kinetic energy of the
        molecules that make up the object.
    </p>
{% endblock %}

{% block image1 %}
    <img src="/img/hypo/temperaturegif.gif" class="img-centered" />
{% endblock %}

{% block text3 %}
    <p>
        Or, “Density” is the amount of mass of an object divided by its
        volume (or how much space it takes up).
    </p>
{% endblock %}

{% block image2 %}
    <img src="/img/hypo/densitygraphic.jpg" class="img-centered" />
{% endblock %}