{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <p>
        To help you make a hypothesis for your prediction, we will ask you
        to make a concept map (an example is shown below). The final
        concept map should show step-by-step how the independent variable
        (water temperature) affects the dependent variable (amount of
        crystal growth).
    </p> 
    <p>
        You will do this by linking concepts that are closely or directly
        related. For example, as shown below, Water temperature is closely
        related to 'Concept 1'. 'Concept 1' is closely related to 'Concept 2',
        and 'Concept 2' is directly related to 'Weight of crystal'.
    </p> 
    <img src="/img/hypo/defPagesCptMap.jpg" class="img-centered" />

{% endblock %}