{% extends "hypo/defs/single-column.njk" %}

{% block content %}
    <h3>Definitions</h3>

    <p>
        Your <b>research question</b>: Does the water temperature affect the 
        weight of the crystal growth on a string?
    </p>
    <p>
        You will be asked to make a <b>prediction</b> for your research question. 
        Your prediction could either be:
    </p>
    <ul>
        <li>
            Hot water makes crystals grow more than room temperature water (This
            is the same thing as saying "Higher water temperature leads to 
            <u>more</u> crystal growth.")
            <ul>
                <li>OR</li>
            </ul>
        </li>
        <li>
            Room temperature water makes crystals grow more than hot water. 
            (This is the same as saying "Higher water temperature leads to 
            <u>less</u> crystal growth.")
        </li>
    </ul>
    <p>
        You will be asked to make a <b>Hypothesis</b> for your prediction. A 
        Hypothesis is defined as a more detailed scientific <i>explanation</i> 
        of your prediction.
    </p>

{% endblock %}
