{% extends "diinstr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        But, we know this difference in means is just a result of experimenter
        errors and other random factors. After all, all of these trials were in
        the same (hot water) condition!
    </p>

    <img src="/img/di/instr/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}