{% extends "diinstr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        Again, a difference in means that you get in your experiment could just
        be from differences in results that are caused by experimenter errors
        and other random factors.
    </p>

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}