{% extends "diinstr/single-column.njk" %}

{% block content %}

    <p class="text-lg">
        (2) Other random factors: Differences in results may also be caused by
        things the experimenter can’t control, like temperature or humidity of
        the room, or problems with devices used to measure results (for example,
        the weight the scale gives depends on where the crystal is placed on
        the scale).
    <p>

    <img src="img/1_Intro/Scientist_S7.jpg" class="img-centered" />

    <p >
        So, both experimenter errors and other random factors can cause
        differences in the weights from trial to trial.
    </p>

{% endblock %}