{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/35_Graph_S80.png" class="img-centered" /> 

    <p class="text-lg">
        Results A are stronger evidence that water temperature affects crystal 
        growth. This is because the Results A data are less spread out than 
        the Results B data.
    </p>


{% endblock %}
