{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/42_Diagram_S95-96.png" class="img-centered" /> 

    <p class="text-lg">
        The data is shown here as histograms.
    </p>
    <p class="text-lg">
        You can see that the Results D data are much less spread out than 
        Results C data. 
    </p>

{% endblock %}
