{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="img/43_Diagram_S98-100.png" class="img-centered" /> 

    <p class="text-lg">
        This is because less spread is one sign that the experiment was done 
        more carefully. For example, Dwayne, who got Results D, may have 
        followed the procedure much more closely for each of the 5 trials than
        Carol (who got results C).
    </p>

{% endblock %}
