{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="img/48_Graph_S108-S110.png" class="img-centered" /> 
    <p class="text-lg">
        There is less spread in Franki’s data. So, her results, which show that
        salt grew better than sugar, are more likely to be true.
    </p>


{% endblock %}