{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/46_Graph_S105.png" class="img-centered" /> 
    <p class="text-lg">
        You ask to see their “raw” data, or the measurements they recorded to 
        calculate the means.
    </p>
    <p class="text-lg">
        First you double-check to make sure that there are no obvious “outliers”
        in the data. (There are not.)
    </p>
    <p class="text-lg">
        You then make sure that the four averages are correct. (They are).
    </p>

{% endblock %}