{% extends "diinstr/single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}        
        <img src="/img/di/instr/32_Graphic_S76.jpg" class="img-centered" /> 
        <p class="text-lg">
            For example, Ann may have weighed the crystals all exactly two weeks 
            (336 hours) later.
        </p>
        <p class="text-lg">
            Or, Ann may have made sure that the initial hot water temperature was 
            exactly the same for all 5 trials (same for the initial cold water 
            temperatures).
        </p>
    {% endvertcenter %}
{% endblock %}
