{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="img/37_CDTable_S90-91.png" class="img-centered" /> 
    <p class="text-lg">
        Results D are (much!) less spread out-or have a smaller range-than 
        Results C.
    </p>

{% endblock %}
