* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

/* turned all input into uppercase */
input {
  text-transform: uppercase;
}

input::placeholder {
  text-transform: none;
}

.border-container {
  border: 3px solid #f1f1f1;
  width: 600px;
  margin: auto
}

label {
  font-size: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 0px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 20px;
}

#module_btns_container {
  column-count: 3;
}

.header {
  width: 100%;
  /* height: 160px; */
  height: fit-content;
  background-color: #0080FF;
}


/* Footer */
footer {
  font-size: 10px;
  background-color: #E4E3E3;
  padding: 10px;
  margin-top: 80px;
}

.logo {
  position: absolute;
  height: 200px;
  z-index: 1;
}

.button-container {
  width: 600px;
  margin: auto;
}

.module-button {
  background-color: #0080FF;
}

#signin_button {
  background-color: #0F52BA;
}

#register_button {
  background-color: #4CAF50;
}

#title_logo {
  display: block;
  width: 100%;
  margin: auto;
}

#home-icon {
  display: absolute;
  font-size: 64px;
  cursor: pointer;
  z-index: 1;
}

#home-icon:hover {
  color: #828282;
}

.overlay {
  position: fixed;
  display: none;
  z-index: 1;
}

#home-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  height: 220px;
}

#completion-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  height: 220px;
}

.inline-btn-container {
  text-align: center;
}

.inline-btn {
  display: inline-block;
  width: 25%;
  padding: 10px 0px;
  margin: 10px 20px;
}

.disabled {
  background-color: gray;
  cursor: default;
}

.disabled:hover {
  opacity: 1;
}

#sign_in_text {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
#sign_out_region {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1;
}

.page {
  display: none;
}
.page.active {
  display: block;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 2em .5em .8em;
  width: auto;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 10px 5px 0px 0px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

.back-button {
  position: block;
  width: 80px;
  margin: 20px;
  background-color: #659EC7;
}

/* For Hypo module */
#instruction_video_overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hypo-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quiz_questions {
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz_questions:invalid {
  color: red;
}

#quiz_overlay ul li {
  margin-bottom: 20px;
  font-size: 24px;
}

#start_page_overlay {
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 475px;
  height: 250px;
}

.notepad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 300px;
  background-color: yellow;
  border: 1px solid black;
}
.notepad-heading {
  height: 62px;
  width: 100%;
  text-align: center;
  border: 1px black;
  /* font-weight: bold; */
}
.notepad-body {
  width: 100%;
  border: 0;
  max-height: calc(100% - 62px);
  min-height: calc(100% - 62px);
  overflow: auto;
}

#save_concept_map_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
}
.save-cpt-map-heading {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}

#leave_concept_map_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
}
.leave-cpt-map-heading {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  margin-left: -150px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* for adobe animate (rq and ted) */
#animation_container, #_preload_div_ {
  position:absolute;
  margin:auto;
  left:0;right:0;
  top:0;bottom:0;
}

.hidden {
  display: none;
}

.btn-lg {
  width: 400px;
}

.btn-md {
  width: 200px;
}