---
title: "Crystal Growth Data Interpretation"
permalink: /apps/di-prepost/crystal.html
---
{% extends "base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="/bundles/dicrystal.bundle.css" >
{% endblock %}

{% block main %}
    {% for scene in collections.diTestCommonScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    {% for scene in collections.diCrystalTestScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    <img id="prev_btn" class="nav-btn prev-btn" />
    <img id="next_btn" class="nav-btn next-btn" />

{% endblock %}

{% block bundles %}
    <script src="/bundles/dicrystal.bundle.js"></script>
{% endblock %}