---
title: "Data Interpretation Post-Test"
permalink: /apps/di-prepost/posttest.html
---
{% extends "base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="/bundles/diposttest.bundle.css" >
{% endblock %}

{% block main %}
    {% for scene in collections.diTestCommonScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    {% for scene in collections.diPostTestScenes %}
        <section id="{{scene.fileSlug}}" class="scene">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    <img id="prev_btn" class="nav-btn prev-btn" />
    <img id="next_btn" class="nav-btn next-btn" />
{% endblock %}

{% block bundles %}
    <script src="/bundles/diposttest.bundle.js"></script>
{% endblock %}