---
title: "Data Interpretation Lesson"
permalink: /apps/di-instr/index.html
---
{% extends "base.njk" %}

{% block cssbundle %}
    <link rel="stylesheet" href="/bundles/di-instr.bundle.css" />
{% endblock %}

{% block main %}
    {% for scene in collections.diInstrScenes | sortBySceneName %}
        <section id="{{scene.fileSlug}}" class="scene ">
            <div class="scene-content">
                {{ scene.templateContent | safe }}
            </div>
        </section>
    {% endfor %}
    <div id="scene_id_region"></div>
    <img id="prev_btn" class="nav-btn prev-btn" />
    <img id="next_btn" class="nav-btn next-btn" />
    <img id="back_to_question_btn" class="long-arrow-btn back-to-question-btn" />
    <img id="ready_to_answer_btn" class="long-arrow-btn ready-to-answer-btn" />
{% endblock %}

{% block bundles %}
    <script src="/bundles/di-instr.bundle.js"></script>
{% endblock %}