<table id="{{page.fileSlug}}_intro_table">
    <thead class="intro_table_head">
        <tr class="intro_table_head_row1">
            <td></td>
            <th>Condition 1</th>
            <th>Condition 2</th>
        </tr>
        <tr class="intro_table_head_row2">
            <th>Variable Name</th>
            <th>Value</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody class="intro_table_body">
    </tbody>
</table>