{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
        <h1>Introduction to data interpretation questions</h1>
        <p class="text-lg">
            Now, we will interpret some results. We'll show you two different
            scenarios:
        </p>
        <p class="text-lg">
            Testing students' memories and Launching Rockets. 
        </p>
        <p class="text-lg">
            For each scenario, we will as you to interpret 5 different sets of 
            possible results. 
        </p>
        <p class="text-lg">
            OK, let's start!
        </p>
    {% endvertcenter %}
{% endblock %}