{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        After one minute was up, each friend write down all of the words or 
        picture they could remember. 
    </p>
    <p class="text-lg">
        (Chris gave them all one minute to do that.)
    </p>
    <img src="img/memory_pretest_1/S5_ComMemoryGroups.jpg"
         class="img-centered" />
{% endblock %}