{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
        <h1>Memory Experiment</h1>
        <p class="text-lg">
            Chris wanted to see whether people are able to remember 
            more pictures or words. 
        </p>
        <p class="text-lg">
            Chris wrote a word on each of 16 cue cards. 
        </p>
        <p class="text-lg">
            Then Chris drew a picture for each of the same 15 words on a second
            set of 15 cue cards. 
        </p>
        <img src="/img/di-prepost/memory_pretest_1/S1_Flashcards.jpg"
             class="img-centered" />
    {% endvertcenter %}
{% endblock %}