---
images:
    sorted:   "/img/di-prepost/memory_pretest_1/Pre_T3_sorted.jpg"
    unsorted: "/img/di-prepost/memory_pretest_1/Pre_T3_unsorted.jpg"
means:
    left: 7
    right: 3
---
{% extends "dipre/memoryResults.njk" %}

{% block heading %} third {% endblock %}

