---
images:
    sorted: "/img/di/pretest/memory_pretest_1/Pre_T5_sorted.jpg"
    unsorted: "/img/di/pretest/memory_pretest_1/Pre_T5_unsorted.jpg"
means:
    left: 5.4
    right: 5.8
---
{% extends "dipre/memoryResults.njk" %}

{% block heading %} last {% endblock %}

