{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Then he gathered 5 different friends and he asked them to study the 
        set of cards with <i>pictures</i> for one minute on their own.
    </p>
    <img src="img/memory_pretest_1/S3_MemoryGroup.jpg"
         class="img-centered" />
{% endblock %}