{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
        <p class="text-lg">
            After one minute was up, each friend write down all of the words or 
            picture they could remember. 
        </p>
        <p class="text-lg">
            (Chris gave them all one minute to do that.)
        </p>
        <img src="/img/di/pretest/memory_pretest_1/S5_ComMemoryGroups.jpg"
             class="img-centered" />

    {% endvertcenter %}
{% endblock %}