---
images:
    sorted:   "/img/di/pretest/memory_pretest_1/Pre_T2_sorted.jpg"
    unsorted: "/img/di/pretest/memory_pretest_1/Pre_T2_unsorted.jpg"
means:
    left: 4
    right: 6
---
{% extends "dipre/memoryResults.njk" %}

{% block heading %} second {% endblock %}

