---
images:
    sorted: "/img/di-prepost/rockets_pretest_2/Pre_T8_sorted.jpg"
    unsorted: "/img/di-prepost/rockets_pretest_2/Pre_T8_unsorted.jpg"
means:
    left: 20
    right: 28
---

{% extends "dipre/rocketsResults.njk" %}
{% block heading %} third {% endblock %}