---
images:
    sorted: "/img/di/pretest/rockets_pretest_2/Pre_T7_sorted.jpg"
    unsorted: "/img/di/pretest/rockets_pretest_2/Pre_T7_unsorted.jpg"
means:
    left: 25
    right: 19
---

{% extends "diprepost/dipre/rocketsResults.njk" %}
{% block heading %} second {% endblock %}