---
images:
    sorted:   "img/rockets_pretest_2/Pre_T6_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T6_unsorted.jpg"
means:
    left: 20
    right: 28
---

{% extends "dipre/rocketsResults.njk" %}
{% block heading %} first {% endblock %}

