{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        Sophia launched the curved body rocket five times and recorded how high 
        it flew. Then she launched the straight body rocket five times and 
        recorded how high it flew. (She was careful to make everything about how
        she launched the rockets the same.)
    </p>

    <img src="/img/di/pretest/rockets_pretest_2/RocketScene2.jpg" class="img-centered" />
{% endblock %}