---
table:
    header:
        className: set3
    data: [
        [28, 23],
        [12, 28],
        [20, 33],
        [25, 20],
        [15, 36]
    ]
stats:
    left:
        mean: 20
        median: 20
        mode: "n/a"
        range: 16
    right:
        mean: 28
        median: 28
        mode: "n/a"
        range: 16
---

{% extends "dipre/rocketsResults.njk" %}
{#
images:
    sorted:   "img/rockets_pretest_2/Pre_T8_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T8_unsorted.jpg"
#}


{% block heading %} third {% endblock %}