---
images:
    sorted:   "img/rockets_pretest_2/Pre_T8_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T8_unsorted.jpg"
means:
    left: 20
    right: 28
---

{% extends "dipre/rocketsResults.njk" %}
{% block heading %} third {% endblock %}