---
tables:
    left:
        header:
            className: set4
        data: [
            [1, 30],
            [2, 25],
            [3, 33],
            [4, 20],
            [5, 17]
        ]
    right:
        header:
            className: set4
        data: [
            [1, 14],
            [2, 27],
            [3, 11],
            [4, 24],
            [5, 19]
        ]
stats:
    left:
        mean: 25
        median: 25
        mode: "n/a"
        range: 16
    right:
        mean: 19
        median: 19
        mode: "n/a"
        range: 16
---

{% extends "dipre/rocketsResults.njk" %}

{#
images:
    sorted:   "img/rockets_pretest_2/Pre_T9_sorted.jpg"
    unsorted: "img/rockets_pretest_2/Pre_T9_unsorted.jpg"
#}


{% block heading %} fourth {% endblock %}