{% extends "single-column.njk" %}

{% block content %}

    <img src="img/site/RevisedHeader.jpg" width="1000px" class="img-centered" />

    <p class="text-xxl">
        Welcome to the ISP User Testing Session! <br/>
    </p>

    <p class="text-xxl">
        Click the "Start" button below to begin.
    </p>

    <p>
        <button class="follow-edge btn btn-huge btn-success"
                data-edge="next">
            Start
        </button>
    </p>

{% endblock %}