{% extends "single-column.njk" %}

{% block content %}
    <img src="img/site/RevisedHeader.jpg" width="1000px" class="img-centered" />
    <p class="text-xxl">
        Welcome to the ISP User Testing Session! <br/>   
        Click the "Start" button below to begin.
    </p>
    <p>
        <button id="start_btn" 
                class="transition-to btn btn-xxl btn-success"
                data-transition="next">
            Start
        </button>
    </p>
{% endblock %}