<div id="combined_cpt_map_help" class="overlay combined-help">
    <div class="concept-map-help-heading">
        Concept Map Help
        <button id="dismiss_cpt_map_help" class="close-button">x</button>
    </div>
    <div id="cpt_map_help_contents" class="combined-help-contents">
        <dl>
        <dt>Adding Concepts</dt>
        <dd>
            Simply select a concept from the "Select Concept to Add" drop-down.
        </dd>
        
        <dt>Moving Concepts</dt>
        <dd>
            To re-position a concept, click and drag it with your mouse.
        </dd>

        <dt>Deleting Concepts</dt>
        <dd>
            Click on the little "x" in the top right corner of the box. You
            can always re-add the concept if you change your mind.
            <div class="img-container">
            <img src="img/hypo-gr/bubbleNoDir.png" />
            </div>
        </dd>
        
        <dt>Setting Concept Directions</dt>
        <dd>
            Click on a concept's yellow "Set Direction" text, and from the
            drop-down which appears, select either "increases" for an upward
            arrow, or "decreases" for a downward arrow.
            <div class="img-container">
            <img src="img/hypo-gr/bubbleNoDir.png" />
            <img src="img/hypo-gr/bubbleWithDir.png" />
            </div>             
        </dd>
        
        <dt>Connecting Concepts</dt>
        <dd>
            Click on a concept's black dot, and drag the line (which will 
            appear) to the white dot of the concept you wish to connect it to. 
            When you do that, an ‘add label’ drop-down will appear.<br/> 
            <b>NOTE:</b> if the two concepts are closer to each other than
            the width of the 'add label' box, you won't be able to connect
            them, and will need to re-position the concepts first.
            <div class="img-container">
            <img src="img/hypo-gr/linkCpts.png" />
            </div>
        </dd>
        
        <dt>Labeling Arrows</dt>
        <dd>
            Click the “Add label” box located on your connection line. A 
            drop-down selection will appear. Simply select your label.
            <div class="img-container">
            <img src="img/hypo-gr/labelArrows.png" />
            </div>
        </dd>
        </dl>
    </div>
    <!-- <div class="modal-btn-container">
        <hr/>
        <button type="button" class="modal-btn" id="dismiss_cpt_map_help">OK</button>
    </div> -->
</div>
