    <!-- Home Icon Overlay -->
    <div id="home_overlay" class="border-container overlay">
      <div class="container">
        <h3>
          If you go back to the home page, you will lose all your progress. 
          Are you sure you wish to proceed?
        </h3>
        <br>
        <div class="inline-btn-container">
          <button id="yes-btn" type="button" class="inline-btn">Yes</button>
          <button id="cancel-btn" type="button" class="inline-btn">Cancel</button>
        </div>
      </div>
    </div>
