<div id="notepad_overlay" class="overlay notepad">
    <div id="paper">
        <div id="pattern">
        <div id="notepad_notes" class="notepad-body" contenteditable="true"></div>
        </div>
    </div>
</div>
