{% extends "single-column.njk" %}

{% block content %}

    <h1>Great work!</h1>

    <p class="text-lg">
        You are finished with this part.
    </p>

    <p>
        <button class="btn btn-huge btn-success"
                id="go_home_page">
            Go Home
        </button>
    </p>

{% endblock %}