{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        When interpreting experimental results, many students find any
        difference in mean across conditions and conclude that the
        independent variable they tested caused the difference.
    </p>

    <p class="text-lg">
        But this may not be true!
    </p>

{% endblock %}