{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        The mean (or average) weights differ between the first and second sets
        of 5 trials.
    </p>

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}