{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        In this lesson, we will discuss how we can be more sure that there
        really is a difference between conditions when the difference in means
        between conditions is bigger and less sure when the difference is smaller.
    </p>

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}