{% extends "single-column.njk" %}

{% block content %}

    <p class="text-lg">
        In experiments, the results will almost never be the same-even in a
        single condition! <br/>
        And even if we did our best to control variables!
    </p>

    <p class="text-lg">
        For example, in the crystal growth experiment, it is <b><i><u>very unlikely</u></i></b> that
        the weight of the crystal<br/>
        growth will be the same for each trial in one condition.
    </p>

    <br/>

    <img src="img/1_Intro/Graph_S5.6.png" class="img-centered", width=700 />

    <br/>

{% endblock %}
