{% extends "single-column.njk" %}

{% block content %}
    <p class="text-lg">
        (1) Experimenter errors: Differences in results may be caused by things
        like the experimenter making errors when measuring the result (for
        example, weighing the crystals incorrectly or not recording the right
        number for weight), and slight differences in the procedure for each
        trial (for example, using different amounts of water or salt in 
        different trials).
    </p>

    <img src="/img/di/instr/1_Intro/Scientist_S6.jpg" class="img-centered"/>
{% endblock %}