{% extends "single-column.njk" %}

{% block content %}

    <p class="text-l">
        <b>(1) Experimenter errors</b> are differences in results across trials that are caused by the experimenter. <br>
        <ul>For example:<br>
        
        <li>errors following the same exact procedure for each trial (for example, using different 
        amounts of water or salt in different trials)</li>
        <li>errors measuring the results (for example, weighing the crystals incorrectly or not recording the right
        number for weight)</li> 
        </ul>
    </p>

    

    <img src="img/1_Intro/Scientist_S6.jpg" class="img-centered"/>

    

{% endblock %}