{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        For example, for these two (hot water) conditions, the difference in
        means is 28 mg - 25 mg. <br>So, this is 3 mg difference (it’s pretty small).
    </p>

    

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered", width=700 />

    

{% endblock %}