{% extends "single-column.njk" %}

{% block content %}

    <p class="text-l">
        <b>(2) Other random factors:</b> Differences in results may also be caused by
        things the experimenter can’t control. 
        <ul>Some examples are: 
        <li>changes in temperature or humidity of
        the room, differences in air flow (for example, if someone opens a window or turns on a 
        fan in the middle of the experiment)</li> 
        <li>problems with devices used to measure results (for example,
        the weight the scale gives depends on where the crystal is placed on
        the scale).
        </ul>
    <p>

    {# <br/> #}

    <img src="img/1_Intro/Scientist_S7.jpg" class="img-centered" />

    {# <br/> #}

    <p class="text-l">
        So, both experimenter errors and other random factors can cause <br/>
        differences in the weights from trial to trial.
    </p>

    <br/>

{% endblock %}