{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        Now, let’s say we ran a second set of 5 trials of the Hot water
        condition and got these results:
    </p>

    <img src="img/1_Intro/Graph_S8.png" class="img-centered" />

    <p class="text-lg">
        Notice again that the weights differ from trial to trial.
    </p>

{% endblock %}