{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        It’s very unlikely that the means would happen to be exactly the same, <br>
        even if you are measuring the same thing!
    </p>

    <br/>

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered", width=700 />

    <br/>

{% endblock %}