{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        For example, it would be silly to say that these results show that
        crystals grew more in hot water than in hot water.
    </p>

    <img src="/img/di/instr/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}