{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        In experiments, the results will almost never be the same-even in a 
        single condition! And even if we did our best to control variables!
    </p>

    <p class="text-lg">
        For example, in the crystal growth experiment, it is very unlikely that
        the weight of the crystal growth will be the same for each trial in
        one condition.
    </p>

    <img src="/img/di/instr/1_Intro/Graph_S5.6.png" class="img-centered" />

{% endblock %}
