{% extends "single-column.njk" %}

{% block content %}

    <p class="text-lg">
        So, when we are interpreting the results of experiments, we can’t
        conclude that the independent variable caused a difference between
        conditions just because the means are different!
    </p>

    <img src="img/1_Intro/Graph_S9-16.png" class="img-centered" />

{% endblock %}