{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/18_S46.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        But, compared to the Hot water condition, Cold#1 and Cold#3 show the
        opposite results:
    </p>

    <div class="list-wrapper">
        <ul class="text-xl centered">
            <li>
                The Hot water vs. Cold#1 showed that crystals grew better in hot
                water.
            </li>
            <li>
                Hot water vs. Cold#3 showed that crystals grew better in cold
                water.
            </li>
        </ul>
    </div>

    <br/>

 {% endblock %}