{% extends "single-column.njk" %}

{% block content %}

    <img src="img/43_Diagram_S98-100.png" class="img-centered" />

    {# <br/> #}

    <p class="text-l">
        For Results D, we can be more sure that the means are about 25 mg for
        the hot water and 35 mg <br/>
        for the cold water condition.
    </p>

    <p class="text-l">
        For Results C, we would be less sure that the means were accurate<br/>
        because the results are more spread out.
    </p>

    <br/>

{% endblock %}
