{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        The range of the data (or how spread out the data are) is another
        clue to whether there is a difference between conditions.
    </p>

    <br/>

{% endblock %}