{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/17a_S45.png" class="img-centered" />

    <br/>

    <p class="text-l">
        The difference in means between the Hot water condition and the Cold#1
        is the same as between the Hot water condition and Cold#3. They both
        differ by 18 mg.
    </p>

    <p class="text-l">
        But they are in opposite directions.
    </p>

    <br/>

{% endblock %}