{% extends "single-column.njk" %}

{% block content %}

    <h1>Let’s Summarize the Main Points of these Lessons!</h1>

    <p class="text-xl">
        This is because less spread is a sign that the results are more
        accurate!
    </p>

    <br/>

    <img src="img/50_Graph_S112.png" class="img-centered" />

    <br/>

{% endblock %}