{% extends "single-column.njk" %}

{% block content %}

    <img src="img/32_Graphic_S76.jpg" class="img-centered" />

    <br/>

    <p class="text-l">
        For example, Ann may have weighed the crystals all exactly two weeks
        (336 hours) later.
    </p>

    <p class="text-l">
        Or, Ann may have made sure that the initial hot water temperature was
        exactly the same for all 5 trials (same for the initial cold water
        temperatures).
    </p>

    <br/>

{% endblock %}
