{% extends "single-column.njk" %}

{% block content %}

    <h1>How the Range of Data Affects Interpretation of Results</h1>

    <p class="text-lg">
        Next, we’ll show you the results from two experiments on salt
        crystal growth:
    </p>

    <p class="text-lg">
        Experiment A and Experiment B.
    </p>

    <p class="text-lg">
        We will ask you to interpret the data from each experiment.
    </p>

{% endblock %}