
{% extends "wgtCrysGrowth.njk" %}

{% block rhs %}

    <p class="text-lg">
        There do not seem to be any results in either condition that are
        much bigger or much smaller than most of the other results.
    </p>

    <p class="text-lg">
        (But we’ll look at this data in graph form to make sure!)
    </p>

{% endblock %}
