{% extends "single-column.njk" %}

{% block content %}

    <img src="img/35_Graph_S80.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        For the same difference in means, data that is less spread out-or
        narrower-is <br/>
        stronger evidence that there is a difference between conditions.
    </p>

    <br/>

{% endblock %}
