{% extends "single-column.njk" %}

{% block content %}

    <img src="img/35_Graph_S80.png" class="img-centered" />

    {# <br/> #}

    <p class="text-lg">
        When there is less spread in data:
    </p>

    <div class="list-wrapper">

        <ul class="centered text-lg">
            <li>
                We can be more confident that the means are accurate.
            </li>
            <li>
                We can be more confident that the difference in means is accurate.
            </li>
        </ul>

    </div>

    <br/>

{% endblock %}

