{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/48_Graph_S108-S110.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        {{ page.data.question.text | safe }}
    </p>

    {{ forms.radios_form(page, isVert=true) }}

    <br/>

{% endblock %}