{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <h1>
        Results: weight of crystal growth
    </h1>

    <img src="img/11_Table_S35-36.png" class="img-centered" />

    <p class="text-lg">
        {{ page.data.question.text }}
    </p>

    <div class="form-wrapper">
    {{ forms.radios_form(page, isVert=true, marginLeft=40) }}
    </div>

{% endblock %}