{% extends "single-column.njk" %}

{% block content %}

    <img src="img/30_ABTable_S75.png" class="img-centered" />

    <br/>

    <p class="text-l">
        So, the spread of data in BOTH the Hot and Cold water conditions is
        less <br/>
        for Results A than Results B.
    </p>

    <br/>

{% endblock %}
