{% extends "single-column.njk" %}

{% block content %}

    <img src="img/28ABTable_S72.png" class="img-centered" />

    <p class="text-lg">
        Both the histogram and table results show that the data from Results A
        are LESS spread out.
    </p>
    <p class="text-lg">
        In the table, the range for the hot conditions is less for Results A 
        (21 mg) than Results B (31 mg).
    </p>
{% endblock %}