{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

  <h1>Results: weight of crystal growth</h1>

  <img src="img/1_DITable2-6.png" class="img-centered" />

  <p class="text-lg">
    What do you think these results suggest?
  </p>
  <p class="text-lg">{{page.data.question.text}}</p>
  {{ forms.radios_form(page, isVert=true, marginLeft=40) }}
{% endblock %}
