{% extends "single-column.njk" %}

{% block content %}

    <img src="img/43_Diagram_S98-100.png" class="img-centered" />

    <p class="text-lg">
        And, most importantly, we can be more sure that the water temperature
        (rather than errors) caused a difference in means when the results are
        LESS spread out. Here, Results D are stronger evidence that water
        temperature affects crystal growth.
    </p>

{% endblock %}