{% extends "single-column.njk" %}

{% block content %}

    <img src="img/48_Graph_S108-S110.png" class="img-centered" />

    <p class="text-lg">
        He said that he learned a lesson about being careful about writing down
        the procedure so he could do the exact same thing for all trials and
        get more accurate results next time. :)
    </p>

    <p class="text-lg">
        He went on to win the school science fair the next year!
    </p>

{% endblock %}