{% extends "single-column.njk" %}

{% block content %}

    <img src="img/26a_Graph_S69.png" class="img-centered" />

    <p class="text-lg">
        For the cold water conditions, the ranges for both Results A and B are <br/>
        30 mg (the data on the x-axis is from 0 to 30).
    </p>

{% endblock %}
