{% extends "single-column.njk" %}

{% block content %}

    <img src="img/27_Graph_S67.png" class="img-centered" />

    <p class="text-lg">
        Results A are LESS spread out.
    </p>

    <p class="text-lg">
        Let’s look at the hot water conditions...
    </p>

{% endblock %}