
{% extends "wgtCrysGrowth.njk" %}

{% block rhs %}

    <p class="text-lg">
        So, we will now need to find the best way to summarize the data for
        each condition.
    </p>

    <p class="text-lg">
        Then, we can compare the results across conditions
        using that information.
    </p>

{% endblock %}
