{% extends "wgtCrysGrowth.njk" %}

{% import "forms.njk" as forms %}

{% block rhs %}

  <p class="text-lg">
      {{page.data.question.text}}
  </p>

  <div class="form-wrapper">
      {{ forms.radios_form(page, isVert=true, marginLeft=auto) }}
  </div>

{% endblock %}
