{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
    <p class="text-lg">
        Two students, Ann and Bob, separately ran this experiment.
    </p>
    <p class="text-lg">
        Ann’s results are Results A. Bob’s results are Results B.
    </p>
    <p class="text-lg">
        We will ask you to interpret both sets of results.
    </p>
    <img src="/img/di/instr/23_Graphic_Slide56.jpg" class="img-centered" />
    {% endvertcenter %}
{% endblock %}