{% extends "single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/48_Graph_S108-S110.png" class="img-centered" /> 
    <p class="text-lg">
        At the science fair, we talked to Ethan about his experiment. It turns 
        out that he forgot to count the number of spoonfuls of salt or sugar 
        that he added to the water.
    </p>
    <p class="text-lg">
        This is one thing that contributed to the larger spread in his results 
        (and also maybe why his results were in the opposite direction from 
        Franki’s results).
    </p>

{% endblock %}