{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        They followed similar procedures. <br> <br>They used the same starting
        temperatures for both the hot and room temperature waters. <br><br>They also used the same initial amount of water
        across conditions of their experiments.
    </p>

    <p class="text-xl">
        After they finished their experiment, they both showed you the mean
        for each condition...
    </p>

    <br/>

{% endblock %}