{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}

        <h1>Summary so far</h1>

        <p class="text-lg">
            So, the size of the difference between conditions in means is one
            clue to whether there is a difference between conditions caused by 
            the independent variable.
        </p>
    {% endvertcenter %}
{% endblock %}