{% extends "single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/43_Diagram_S98-100.png" class="img-centered" /> 
    <p class="text-lg">
        For Results D, we can be more sure that the means are about 25 mg for 
        the hot water and 35 mg for the cold water condition.  For Results C, 
        we would be less sure that the means were accurate because the results 
        are more spread out.
    </p>

{% endblock %}
