{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/45_Graph_S104.png" class="img-centered", width=900 />

    {# <br/> #}

    <p class="text-l">
        {{ page.data.question.text | safe}}
    </p>

    {{ forms.radios_form(page, isVert=true) }}

    {# <br/> #}

{% endblock %}