{% extends "single-column.njk" %}

{% block content %}

    <h1>
        Results: weight of crystal growth
    </h1>

    <img src="img/14_S40.png" class="img-centered" />

    <p class="text-lg">
        OK. Let’s say we ran the cold water condition yet again (Cold#3)
        and got the results shown above.
    </p>

{% endblock %}