{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <p class="text-lg">
            The range of the data, or how spread out the data are is another
            clue to whether there is a difference between conditions.
        </p>
    {% endvertcenter %}
{% endblock %}