{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/20_S49.png" class="img-centered" />

    <p class="text-lg">
        Cold #1 is the strongest evidence for this prediction, since crystals
        grew 18 mg more in Hot than Cold water.
    </p>

    <p class="text-lg">
        Cold #2 is the next strongest evidence, since crystals grew only 8 mg
        more in Hot than Cold water.
    </p>

    <p class="text-lg">
        Cold #3 is weakest evidence for this prediction. Crystals actually grew
        18 mg more in the Cold than Hot water!
    </p>

{% endblock %}