{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/9_Table_S32-33.jpg" class="img-centered" />

    <p class="text-lg">
        {{ page.data.question.text }}
    </p>
    {{ forms.radios_form(page, isVert=true, marginLeft=30) }}

{% endblock %}