{% extends "single-column.njk" %}

{% block content %}

    <img src="img/26b_Graph_S69.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        For the cold water conditions, the ranges for both Results A and B are <br/>
        30 mg (the data on the x-axis is from 0 to 30).
    </p>

    <br/>

{% endblock %}
