{% extends "single-column.njk" %}

{% block content %}

    <p class="text-l">
        Two students, Ann and Bob, separately ran this experiment.
    </p>

    <p class="text-l">
        Ann’s results are Results A. Bob’s results are Results B.
    </p>

    <p class="text-l">
        We will ask you to interpret both sets of results.
    </p>

    <br/>

    <img src="img/23_Graphic_Slide56.jpg" class="img-centered" />

    <br/>

{% endblock %}