{% extends "single-column.njk" %}

{% block content %}

    <img src="img/43_Diagram_S98-100.png" class="img-centered" />

    <br/>

    <p class="text-l">
        Results D are stronger evidence that water temperature affects crystal
        growth.
    </p>

    <br/>

{% endblock %}
