{% extends "wgtCrysGrowth.njk" %}

{% block lhs %}
    <img src="img/1a_Table3_S7_nocircle.jpg" class="img-centered" />
 {% endblock %}

{% block rhs %}

    <h1>Sort data</h1>

    <p class="text-xl">
        The results for each condition are now sorted from smallest to
        largest.
    </p>

    <p class="text-xl">
        So, if you start at the first measurement, 20 mg, for Hot water, you can
        see that the weights get bigger as you move down the list.
    </p>

    <p class="text-xl">
        The same is true for the weights for cold water.
    </p>

    <br/>

{% endblock %}
