{% extends "single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/35_Graph_S80.png" class="img-centered" /> 

    <p class="text-lg">
        For the same difference in means, data that is less spread out-or 
        narrower-is stronger evidence that there is a difference between 
        conditions.
    </p>


{% endblock %}
