{% extends "stats.njk" %}

{% import "link.njk" as link %}

{% block rhs %}

    <p class="text-xl">
        <b>What is the <u>median</u> value?</b>
    </p>

    <p class="text-xl">
        The median is number that describes a typical value for a set of numbers.
    </p>

    <p class="text-xl">
        The median in a set of numbers sorted from low to high (or smallest to
        largest) is the middle number in the set.
    </p>

    <p class="text-centered">
        {{ link.followEdge(page, "more", "more") }}
    </p>

{% endblock %}
