{% extends "single-column.njk" %}

{% block content %}

    <h1>Let’s Summarize the Main Points of these Lessons!</h1>

    <div class="list-wrapper">
        <ul class="centered text-l">
            <li>
                The amount of spread of the data for each condition is another
                characteristic:<br/>
                <span class="text-primary">
                    The LESS spread out the data are, the MORE sure you can be<br/>
                    that the variable you are investigating makes a difference.
                </span>
            </li>
        </ul>
    </div>

    <br/>

    <img src="img/50_Graph_S112.png" class="img-centered" />

    <br/>

{% endblock %}