
{% extends "wgtCrysGrowth.njk" %}

{% import "link.njk" as link %}

{% block rhs %}

    <p class="text-lg">
        <b>What do you think is the best way to summarize the data in each
        condition?</b>
    </p>

    <p class="text-lg">
        Take a moment to think about this question before answering.
    </p>

    <p class="text-lg">
        When you’re ready to answer, click “Next”.
    </p>

    <ul class="text-lg">
        <li>Minimum (The Smallest Number)</li>
        <li>Maximum (The Biggest Number)</li>
        <li>
            Mean (or average)
            {{ link.followEdge(page, "mean", "what is this?") }}
        </li>
        <li>
            Median (The Middle number) {{ link.followEdge(page, "median", "what is this?") }}
        </li>
        <li>
            Mode (The Most common number) {{ link.followEdge(page, "mode", "what is this?") }}
        </li>
        <li>
            Range {{ link.followEdge(page, "range", "what is this?") }}
        </li>
    </ul>

{% endblock %}

