{% extends "single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/26_Graph_S66.png" class="img-centered" />
    FIXME: need arrows
    <p class="text-lg">
        For the cold water conditions, the ranges for both Results A and B are
        30 mg (the data on the x-axis is from 0 to 30).
    </p>
{% endblock %}
