{% extends "single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        You also need to look at how small or big the difference in means
        is between conditions.
    </p>

    <p class="text-xl">
        (Just subtract the means across conditions.)
    </p>

    <br/>

{% endblock %}