{% extends "single-column.njk" %}

{% block content %}

    <h1>Here are two examples of histograms. </h1>
        
    <p class="text-xl">The outliers in these histograms are circled. </p>
<br><br>

    <img src="img/21_Histograms50a.jpg" class="img-centered", width=800 />

{% endblock %}