{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/46_Graph_S105.png" class="img-centered" /> 

    <p class="text-lg">
        {{ page.data.question.text }}
    </p>
    <p class="text-lg">
        (Hint: Look at the amount of spread of the data in each condition. )
    </p>
    {{ forms.radios_form(page, isVert=true, marginLeft=40) }}

{% endblock %}