{% extends "single-column.njk" %}

{% block content %}

    <img src="img/34_Graph_S78.png" class="img-centered" />

    <br/>

    <p class="text-l">
        In general, less spread in data indicates that the data is more accurate.
    </p>

    <br/>

{% endblock %}
