{% extends "wgtCrysGrowth.njk" %}

{% import "forms.njk" as forms %}

{% block lhs %}
    <img src="img/6_Table_S30.jpg" class="img-centered" />
{% endblock %}


{% block rhs %}

    <p class="text-lg">
        {{page.data.question.text}}
    </p>

    {{ forms.radios_form(page, isVert=true, marginLeft=20) }}

{% endblock %}
