{% extends "single-column.njk" %}

{% block content %}

    <img src="img/41_CDTable_S95.png" class="img-centered" />

    <p class="text-lg">
        So, the range or spread of Results D is less than for Results C in both
        conditions.
    </p>

{% endblock %}
