{% extends "single-column.njk" %}

{% block content %}

    <img src="img/35_Graph_S80.png" class="img-centered" />

    <p class="text-lg">
        And, most importantly, we can be more sure that the water temperature <br/>
        (rather than errors) caused this difference in means.
    </p>

{% endblock %}
