{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/1_DITable2-6.png" class="img-centered" />

    <p class="text-lg">
        OK; let’s think about how we can organize and summarize the data in
        each condition. Then, we can interpret the results of this experiment.
    </p>


{% endblock %}