{% extends "single-column.njk" %}

{% block content %}

    <h1>Let’s Summarize the Main Points of these Lessons!</h1>

    <ul class="text-lg">
        <li>
            There are two characteristics of data that should affect how
            sure you are of the difference between conditions.
        </li>
        <li>
            The difference in means between conditions is one characteristic:
            <p>
                The bigger the difference in means is, the more sure you can
                be that the variable you are investigating makes a difference.
            </p>
        </li>
    </ul>

    <img src="img/49_Graph_S111.png" class="img-centered" />

{% endblock %}