{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/34_Graph_S78.png" class="img-centered" />

    <p class="text-lg">
        {{ page.data.question.text }}
    </p>

    {{ forms.radios_form(page, isVert=false) }}

{% endblock %}
