{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        They followed similar procedures.  They used the starting
        temperature of the water and the same initial amount of water
        across conditions of their experiments.
    </p>

    <p class="text-xl">
        After they finished their experiment, they both showed you the mean
        for each condition...
    </p>

    <br/>

{% endblock %}