{% extends "single-column.njk" %}

{% block content %}

    <img src="img/36_GraphicS_89.jpg" class="img-centered" /> 

    <p class="text-lg">
        We will now look at the results (Results C and D) from two other 
        students who conducted this experiment (Carol and Dwayne).
    </p>
    <p class="text-lg">
        We will look at their data tables, which they have already sorted from
        lowest to highest weight in each condition...
    </p>

{% endblock %}

