---
heading: "Results B: Hot (B) and Cold (B) conditions"
---

{% extends "dual-column.njk" %}

{% block lhs %}
    {% vertcenter 10 %}
        <img src="/img/di/instr/25_TableS61-62.png" class="img-centered" />
        <p class="text-lg">
            ...and histograms for the results (to the right).
        </p>
    {% endvertcenter %}
{% endblock %}


{% block rhs %}
    <img src="/img/di/instr/25a_GraphS62.png" class="img-centered" />
{% endblock %}

