{% extends "single-column.njk" %}

{% block content %}

    <img src="img/26a_Graph_S68.png" class="img-centered" />

    <p class="text-lg">
        In the Hot water conditions...
    </p>
    <p class="text-lg">
        For Results A, the data range from 20 to 50 mg: a 30 mg range.
    </p>
    <p class="text-lg">
        For Results B, the data range from 10 to 50 mg: a 40 mg range.
    </p>

{% endblock %}