{% extends "single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/47_Graph_S106-107.png" class="img-centered" /> 

    <p class="text-lg">
        There is less spread-or a smaller range-for both the Sugar and Salt 
        conditions for Franki’s results (Results F).
    </p>
    <p class="text-lg">
        Less spread may mean that Franki was more careful in doing her 
        experiment than Ethan was.
    </p>
    <p class="text-lg">
        So, Results F are probably higher quality.
    </p>


{% endblock %}