{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/18_S46.png" class="img-centered" />

    <p class="text-lg">
        Since the difference in means was the same (18 mg), Cold#1 and Cold#3
        results are equally strong evidence that water temperature affects
        crystal growth.
    </p>

{% endblock %}