{% extends "single-column.njk" %}

{% block content %}

    <img src="img/31_Graphs_S75.png" class="img-centered" />

    <p class="text-lg">
        One possible reason that the Results A (Ann’s) data are less spread is 
        that Ann followed the procedure more closely than Bob.
    </p>

{% endblock %}
