{% extends "single-column.njk" %}

{% block content %}

    <img src="img/36_GraphicS_89.jpg" class="img-centered" />

    <br/>

    <p class="text-xl">
        We will now look at the results (Results C and D) from two other
        students who conducted this experiment <br/>
        (Carol and Dwayne).
    </p>

    <p class="text-xl">
        We will look at their data tables, which they have already sorted from
        lowest to <br/>
        highest weight in each condition...
    </p>

    <br/>

{% endblock %}

