
{% extends "wgtCrysGrowth.njk" %}

{% block rhs %}

    <p class="text-lg">
        There do not seem to be any data points in either condition that are
        much bigger or much smaller than most of the other data.
    </p>

    <p class="text-lg">
        (But we’ll look at our data in graph form to double-check this!)
    </p>

{% endblock %}
