{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 20 %}
        <h1>Let’s Summarize the Main Points of these Lessons!</h1>
        <ul class="text-lg">
            <li>
                The amount of spread of the data for each condition is another 
                characteristic:
                <p>
                    The LESS spread out the data are, the MORE sure you can be
                    that the variable you are investigating makes a difference.
                </p>
            </li>
        </ul>
        <img src="/img/di/instr/50_Graph_S112.png" class="img-centered" /> 
    {% endvertcenter %}
{% endblock %}