{% extends "single-column.njk" %}

{% block content %}

    <img src="img/28ABTable_S72.png" class="img-centered" />

    <br/>

    <p class="text-l">
        Both the histogram and table results show that the data from Results A
        are LESS spread out.
    </p>

    <p class="text-l">
        In the table, the range for the hot conditions is less for Results A
        (21 mg) than Results B (31 mg).
    </p>

    <br/>

{% endblock %}