{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/46_Graph_S105.png" class="img-centered", width=900 />

    {# <br/> #}

    <p class="text-xl">
        {{ page.data.question.text | safe }}
    </p>

    {{ forms.radios_form(page, isVert=true) }}

    {# <br/> #}

{% endblock %}