---
heading: "Results A: Hot (A) and Cold (A) conditions"
---

{% extends "dual-column.njk" %}

{% block lhs %}

    <img src="img/24a_TableS57.png" class="img-centered" />
    <p class="text-lg">
        Here, we see the results from the Hot (A) and Cold (A) conditions in 
        number data (above) and histogram forms (to the right).
    </p>

{% endblock %}


{% block rhs %}

    <img src="img/24_GraphS57-59.png" class="img-centered" />
    
{% endblock %}

