{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 10 %}
    <h1>
        Here are two examples of histograms you saw in the previous lesson. The 
        outliers in these histograms are circled.
    </h1>
    <img src="img/21_Histograms50a.jpg" class="img-centered" />
    {% endvertcenter %}
{% endblock %}