{% extends "single-column.njk" %}

{% block content %}

    <img src="img/48_Graph_S108-S110.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        At the science fair, we talked to Ethan about his experiment. It turns
        out that he forgot to count <br/>
        the number of spoonfuls of salt or sugar that he added to the water.
    </p>

    <p class="text-xl">
        This is one thing that contributed to the larger spread in his results <br/>
        (and also maybe why his results were in the opposite direction from
        Franki’s results).
    </p>

    <br/>

{% endblock %}