{% extends "single-column.njk" %}

{% block content %}

    <h1>
        Here are two examples of histograms you saw in the previous lesson. The
        outliers in these histograms are circled.
    </h1>

    <img src="img/21_Histograms50a.jpg" class="img-centered" />

{% endblock %}