{% extends "single-column.njk" %}

{% block content%}

    <p class="text-xxl">
      <b>Data Interpretation Lesson</b>
    </p>

    <br/>

    <p class="text-xl">
      Now, we will look at some possible results for the crystal
      growth experiment, comparing growth in HOT and COLD water.
    </p>

    <p class="text-xl">
      You will learn how to represent your data so it is easier to interpret.
    </p>

    <br/>

{% endblock%}
