{% extends "wgtCrysGrowth.njk" %}

{% block lhs %}
    <img src="img/3_Table3C_S8-26.jpg" class="img-centered" />
{% endblock %}


{% block rhs %}

    <p class="text-lg">
        But to use means, you need to make sure that there are not outliers.
    </p>

    <p class="text-lg">
        If there are, the mean may not be the best way to represent your data!
    </p>

{% endblock %}
