{% extends "single-column.njk" %}

{% block content %}

    <img src="img/48_Graph_S108-S110.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        There is less spread in Franki’s data. So, her results, which show that
        salt grew better than sugar, <br/>
        are more likely to be true.
    </p>

    <br/>

{% endblock %}