{% extends "single-column.njk" %}

{% block content %}

    <img src="img/44_EF_Results_S102-103.jpg" class="img-centered" />

    <br/>

    <p class="text-xl">
        Two other students, Ethan and Franki ran a similar experiment about
        crystal growth.
    </p>

    <p class="text-xl">
        They both (independently) investigated the research question:
        Does the type of crystal affect the amount of crystal growth on a
        string in water after three weeks?
    </p>

    <br/>

{% endblock %}