{% extends "single-column.njk" %}

{% block content %}

    <img src="img/36_GraphicS_89.jpg" class="img-centered" />

    <br/>

    <p class="text-xl">
        Both Carol and Dwayne found that the mean weight in the Cold condition
        was 35 mg and that the weight in the Hot condition was 25 mg. So, both
        students found that the crystals grew on average 10 mg more in the Cold
        condition. But these results are NOT equally strong evidence that
        crystals grow more in cold than hot water!
    </p>

    <p class="text-xl">
        The results with LESS spread are stronger evidence that cold water <br/>
        really makes crystals grow more...
    </p>

    <br/>

{% endblock %}
