{% extends "single-column.njk" %}

{% block content %}

    <img src="img/29_ABTable_S73.png" class="img-centered" />

    <br/>

    <p class="text-l">
        Also, the range in data for the cold conditions is less for Results A
        (18 mg) than Results B (26 mg).
    </p>

    <br/>

{% endblock %}