
{% extends "single-column.njk" %}

{% block content %}

    <p class="text-xl">
        We’ll compare these two sets of results (Results A and B).
    </p>

    <p class="text-xl">
        We will look at the range or spread of the data across experiments.
    </p>

    <br/>

{% endblock %}
