{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/1_DITable2-6.png" class="img-centered", width=400/>

    <br/>

    <p class="text-l">
        First, we will sort the results from smallest to largest in each condition.<br/>
        This will help us to see if there is any data that look “strange”.
    </p>

    <p class="text-l">
        “Strange” data includes outliers (numbers that are too big or small,<br/>
        compared to the other numbers).
    </p>

    <br/>

{% endblock %}