
{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
    <h1>Summary so far</h1>

    <p class="text-lg">
        We also talked about calculating the mean (or average) for each 
        condition. This is often the best way to summarize your data in each
        condition.
    </p>
    <p class="text-lg">
        Then you can see which condition (e.g., Hot or Cold) has a higher mean.
    </p>
    <p class="text-lg">
        But, we need to look at other evidence before interpreting the results..
    </p>
    {% endvertcenter %}
{% endblock %}