{% extends "single-column.njk" %}

{% block content %}

    <h1>Summary so far</h1>

    <p class="text-xl">
        As the difference in means gets bigger, we can be more sure that the
        difference is due to the independent variable (e.g., hot/cold water)
        rather than experimenter or random errors.
    </p>

    <br />

    <img src="img/22_Graph_S52.png" class="img-centered" />

    <br />

{% endblock %}