{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="/img/di/instr/1_DITable2-6.png" class="img-centered"/>

    <p class="text-lg">
        First, we will sort results from smallest to largest in each condition. 
        This will help us to see if there is any data that look “strange”.
    </p>

    <p class="text-lg">
        “Strange” data includes outliers (numbers that are too big or small, 
        compared to other numbers).
    </p>

{% endblock %}