---
heading: "Results B: Hot (B) and Cold (B) conditions"
---

{% extends "dual-column.njk" %}

{% block lhs %}

    <img src="img/25_TableS61-62.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        ...and histograms for the results (to the right).
    </p>

    <br/>
{% endblock %}


{% block rhs %}
    <img src="img/25a_GraphS62.png" class="img-centered" />
{% endblock %}

