{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <p class="text-lg">
            They followed similar procedures.  They used the starting 
            temperature of the water and the same initial amount of water 
            across conditions of their experiments.
        </p>
        <p class="text-lg">
            After they finished their experiment, they both showed you the mean
            for each condition...
        </p>
    {% endvertcenter %}
{% endblock %}