{% extends "single-column.njk" %}

{% block content %}

    <h1>Results: weight of crystal growth</h1>

    <img src="img/15_S41-43.png" class="img-centered" />

    <br/>

    <p class="text-xl">
        The mean crystal growth weight is now greater in the COLD than in the
        hot water condition<br/> (by 18 mg).
    </p>

    <p class="text-xl">
        So, these results suggest that crystals may grow more in cold water.
    </p>

    <br/>

{% endblock %}