{% extends "single-column.njk" %}

{% block content %}

    <img src="img/38_CDTable_S92.png" class="img-centered" />

    <p class="text-lg">
        Looking at the Hot conditions first...
    </p>

    <ul class="centered">
        <li>
            The data for Results C ranges from 9 mg to 44 mg: 35 mg.
        </li>
        <li>
            The data for Results D ranges from 23 mg to 28 mg: only 5 mg.
        </li>
    </ul>

{% endblock %}