---
heading: "Results A: Hot (A) and Cold (A) conditions"
---

{% extends "dual-column.njk" %}

{% import "forms.njk" as forms %}

{% block lhs %}
    <img src="img/24_GraphS57-59.png" class="img-centered" />
{% endblock %}


{% block rhs %}

    <p class="text-lg">
        {{ page.data.question.text }}
    </p>

    {{ forms.radios_form(page, isVert=true, marginLeft=30) }}

{% endblock %}

