{% extends "single-column.njk" %}

{% block content %}

    <img src="img/site/RevisedHeader.jpg" width="1000px" class="img-centered"/>

    <p class="text-lg">
        Welcome to the ISP Tutor User Testing Session!
    </p> 
    <p class="text-lg">
        Click the “Start” button below to begin.
    </p>
    <p>
        <button class="transition-to btn btn-xxl btn-primary"
            id="start_next"
            data-transition="next">
            Start
        </button>
    </p>
{% endblock %}