{% extends "diinstr/wgtCrysGrowth.njk" %}

{% import "diinstr/forms.njk" as forms %}

{% block lhs %}
    {% vertcenter 10%}
        <img src="img/6_Table_S30.jpg" class="img-centered" />
    {% endvertcenter %}
{% endblock %}


{% block rhs_vert_centered %}
    <p class="text-lg">
        {{page.data.question.text}}
    </p>
    {{ forms.radios_form(page, isVert=true, marginLeft=20) }}
{% endblock %}
