{% extends "diinstr/single-column.njk" %}

{% block content %}
    <h1>
        Results: weight of crystal growth
    </h1>
    <img src="img/11_Table_S35-36.png" class="img-centered" />
    <p class="text-lg">
        The mean crystal growth weight is (again) greater in the hot than in 
        the cold water condition.
    </p>
    <p class="text-lg">
        On average, crystals grew 8 mg more in the Hot water condition than in
        the Cold #2 condition.
    </p>
    <p class="text-lg">
        So, these results also show that crystals grew more in the hot water.
    </p>
{% endblock %}