{% extends "diinstr/wgtCrysGrowth.njk" %}

{% block lhs %}
    {% vertcenter 10%}
        <img src="img/1a_Table3_S7_nocircle.jpg" class="img-centered" />
    {% endvertcenter %}
 {% endblock %}

{% block rhs_vert_centered %}
    <h1>Sort data</h1>

    <p class="text-lg">
        The results for each condition are now sorted from smallest to 
        largest weights.
    </p>
    <p class="text-lg">
        So, if you start at the first measurement, 20 mg, for Hot water, you can
        see that the weights get bigger as you move down the list.
    </p>
    <p class="text-lg">
        The same is true for the weights for cold water.
    </p>
{% endblock %}
