---
heading: "Results B:"
---

{% extends "diinstr/dual-column.njk" %}

{% block lhs %}
    {% vertcenter 20 %}
        <p class="text-lg">
            The mean crystal growth weight is greater in the hot than in the
            cold water condition.
        </p>
        <p class="text-lg">
            So, these results (again) suggest that crystals may grow more in 
            the hot water.
        </p>
    {% endvertcenter %}
{% endblock %}


{% block rhs %}
    <img src="img/25a_GraphS62.png" class="img-centered" />
{% endblock %}

