<!doctype html>
<html lang="en">
    <head>
        {% include "site/stdHead.njk" %}
        <title>{{ title }}</title>
        {% block extrajs %}{% endblock %}
        {% block cssbundle %}{% endblock %}
    </head>
    <body>
        {% include "site/navbar.njk" %}
        <div id="scene_id_region"></div>
        <main>
            {% block main %} {% endblock %}
        </main>
        <div id="snackbar"></div>
        {% block bundles %}
        {% endblock %}
    </body>
</html>