{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <h1>Great work!</h1>
        <p class="text-lg">
            You are finished with this part.
        </p>
        
    {% endvertcenter %}
{% endblock %}