{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter%}
        <p class="text-xxl">
            <b>Data Interpretation Lesson Introduction</b>
        </p>

        <p class="text-lg">
            Once we have conducted a good experiment, where we have controlled
            all variables except our independent variable, we need to interpret
            the results.
        </p>
    {% endvertcenter %}

{% endblock %}