
{% extends "diinstr/single-column.njk" %}

{% block content %}

    <p class="text-xl">
        There are two general reasons why results differ from trial to trial:
    </p>
    <ol class="centered">
        <li class="text-lg">
            Errors made by the experimenter (the person doing the experiment)
        </li>
        <li class="text-lg">
            Other random factors in the environment during the experiment.
        </li>
    </ol>

    <img src="/img/di/instr/1_Intro/Graph_S5.6.png" class="img-centered" />

{% endblock %}