{% extends "diinstr/single-column.njk" %}

{% block content %}

    {% vertcenter 20 %}
        <img src="/img/di/instr/33_Graphic_S77.jpg" class="img-centered" /> 
        <p class="text-lg">
            Another possible reason that the Results A (Ann’s) data are less 
            spread is that Ann measured the results (the weight of the crystal
            growth) more carefully than Bob did.
        </p>
    {% endvertcenter %}
{% endblock %}
