{% extends "diinstr/wgtCrysGrowth.njk" %}

{% block lhs %}
    {% vertcenter 10 %}
        <img src="/img/di/instr/3_Table3C_S8-26.jpg" class="img-centered" />
    {% endvertcenter %}
{% endblock %}


{% block rhs_vert_centered %}
    <p class="text-lg">
        But to use means, you need to make sure that there are not outliers. 
    </p>
    <p class="text-lg">
        If there are, the mean may not be the best way to represent your data!
    </p>
{% endblock %}
