{% extends "single-column.njk" %} 
    
{% block content%}
  {% vertcenter %}
    <h1>Data Interpretation Lesson</h1>

    <p class="text-lg">
      Now, we will look at some possible results for this experiment on crystal
      growth, comparing growth in HOT and COLD water.
    </p>

    <p class="text-lg">
      You will learn how to represent your data so it is easier to interpret.
    </p>
  {% endvertcenter %}
{% endblock%}
