{% extends "single-column.njk" %} 
    
{% block content%}

    <p class="text-xl">
        Here are some POSSIBLE Results (#1) for the crystal growth experiment.
        The numbers in the table below are weights of crystal growth on a 
        string in water.
    </p>

    <img src="/img/di/instr/1_DITable2-6.png" class="img-centered" />

    <p class="text-lg">
        Please look closely at the data in the table.
    </p>

{% endblock%}

