---
heading: "Results B: Hot (B) and Cold (B) conditions"
---

{% extends "dual-column.njk" %}

{% block lhs %}
    {% vertcenter 10 %}
        <img src="/img/di/instr/25_TableS61-62.png" class="img-centered" />
        <p class="text-lg">
            Now let’s look at the results from Experiment B. We’ll look at both
            the numbers (above)...
        </p>
    {% endvertcenter %}
{% endblock %}


