---
heading: "Results A: Hot (A) and Cold (A) conditions"
---
{% extends "diinstr/dual-column.njk" %}

{% block lhs %}
    <img src="/img/di/instr/24_GraphS57-59.png" class="img-centered" />
{% endblock %}


{% block rhs %}
    {% vertcenter 20 %}
        <p class="text-lg">
            The mean crystal growth weight is greater in the hot than the cold
            water condition.
        </p>
        <p class="text-lg">
            So, these results suggest crystals may grow more in the hot water.
        </p>
    {% endvertcenter %}
{% endblock %}

