{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/30_ABTable_S75.png" class="img-centered" /> 

    <p class="text-lg">
        So, the spread of data in BOTH the Hot and Cold water conditions is 
        less for Results A than Results B.
    </p>

{% endblock %}
