{% extends "diinstr/single-column.njk" %}

{% block content %}

    <img src="/img/di/instr/45_Graph_S104.png" class="img-centered" /> 
    <p class="text-lg">
        Both experiments found a difference of 5mg in crystal growth. But they
        were in the opposite directions!
        Ethan’s results showed that sugar grew more, and Franki’s results showed
        that salt grew more. So, we don’t know WHAT to believe. We need more 
        evidence!
    </p>

{% endblock %}