---
heading: "Results A: Hot (A) and Cold (A) conditions"
---

{% extends "diinstr/dual-column.njk" %}

{% import "diinstr/forms.njk" as forms %}

{% block lhs %}
    <img src="/img/di/instr/24_GraphS57-59.png" class="img-centered" />
{% endblock %}


{% block rhs %}
    {% vertcenter %}
        <p class="text-lg">
            How sure are you that water temperature caused this difference in 
            means?
        </p>
        {{ forms.survey_radios_form(page, isVert=true, marginLeft=30) }}
    {% endvertcenter %}
{% endblock %}

