
{% extends "single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <p class="text-lg">
            Another student, Bob, also conducted this experiment to investigate
            the effect of water temperature on salt crystal growth on a string.
            We’ll call Bob’s results “Results B”.
        </p>
        <p class="text-lg">
            Let’s look at Results B...
        </p>
    {% endvertcenter %}
{% endblock %}