{% extends "diinstr/single-column.njk" %}

{% block content %}
    {% vertcenter 30 %}
        <p class="text-lg">
            Let’s answer the same question, looking at the number data (instead
            of the histograms).
        </p>
        <p class="text-lg">
            This gives us a more accurate measure of the range.
        </p>
    {% endvertcenter %}
{% endblock %}
