
{% extends "diinstr/stats.njk" %}

{% import "diinstr/link.njk" as link %}

{% block rhs %}
    {% vertcenter %}
        <h1>
            What is the <u>range</u> of a set of numbers?
        </h1>
        <p class="text-xl">
            For example, in this set of dog weights (sorted from lowest to highest),
            the range is calculated as:
        </p>
        <p class="text-xl text-centered">
            <code>
                64.7 - 9.2 = 55.5 lb
            </code>
        </p>
        <p class="text-centered">
            {{ link.namedTransition(page, "back", "back") }}
        </p>
    {% endvertcenter %}
{% endblock%}
