{% import "exp-design/exp_design_macros.njk" as exp_design_macros %}

<p class="text-lg">
    In a science experiment, the conditions are the different ways to set up the experiment.
</p>

{{ exp_design_macros.show_intro_table(page, showHeaderRow2=false) }}