{% import "exp-design/exp_design_macros.njk" as exp_design_macros %}

<p class="text-lg">
    Now, let's think carefully about the procedure for this experiment. To see
    which other decisions we need to make about how to set up the conditions,
    let's think about our procedure, <b>starting from the beginning</b>.
</p>

{{ exp_design_macros.show_intro_table(page, numRows=4)}}
