
<p class="text-lg">
    During this part of the tutor and possibly in other parts as well it will seem like we are asking you the same
    thing over and over. That’s because we are.
</p>
<p class="text-lg">
    In order to learn and also to remember information for a long time, you need to be able to answer the questions
    given you in a variety of ways. This proves you understand the information we are asking you. Throughout your
    educational experience you will find many of your teachers do the same thing.
</p>
<p class="text-lg">
    Please take your time and think about what you are being asked and answer to the best of your abilities. This will
    help your brain learn and also remember these concepts for years to come!
</p>